---
layout: null
search: exclude
sitemap: false
---

<!-- https://codepen.io/igloude/pen/qNNWKr -->
<style>
	body, h1, p, a {color: #e0e2f4;}
	body, p {font: normal 20px/1.25rem monospace;}
	h1 {font: normal 2.75rem/1.05em monospace;}
	body {background: #0414a7;}

	.bsod {
		width: 90%;
		margin: auto;
		max-width: 640px;
		padding-top: 10%;
	}
	.bsod .neg {
		text-align: center;
		color: #0414a7;
	}
	.bsod .neg .bg {
		background: #aaaaaa;
		padding: 0 15px 2px 13px;
	}
	.bsod .title {
		margin-bottom: 50px;
	}
	.bsod .nav {
		margin-top: 35px;
		text-align: center;
	}
	.bsod .nav .link {
		text-decoration: none;
		padding: 0 9px 2px 8px;
	}
	.bsod .nav .link:hover, .bsod .nav .link:focus {
		background: #aaaaaa;
		color: #0414a7;
	}
</style>

<main lang="en" class="bsod">
	<h1 class="neg title"><span class="bg">kinh nhật tụng</span></h1>
	<h2 class="neg title"><span class="bg">Error - 404</span></h1>
	<p>URL not found, to continue: Return to the homepage.</p>
	<nav class="nav">&#128073;<!-- 👉 --><a rel="prev" href="{{ site.baseurl }}/" class="link">HOME</a>&#128072;<!-- 👈 --></nav>
</main>
