---
title: Home
---

<header class="center-text">
	<h2>
		<span lang="zh-Hant">
			&#128255;<!-- 📿 -->
			<ruby><rb>禪</rb><rt>Thiền</rt></ruby>
			<ruby><rb>門</rb><rt>Môn</rt></ruby>
			<ruby><rb>日</rb><rt>Nhật</rt></ruby>
			<ruby><rb>誦</rb><rt>Tụng</rt></ruby>
			&#128591;<!-- 🙏 -->
		</span><br />
		<span lang="en">Daily Recitations of the Meditation School</span><br />
		<span lang="fr">Récitations quotidiennes de l'école de méditation</span><br />
		<span lang="de">Die täglichen Rezitationen der Meditationsschule</span><br />
		<span lang="it">Recitazioni quotidiane della scuola di meditazione</span>
	</h2>
	<h3 role="complementary">
		&#9784;&#65039;<span lang="vi">Bản rút gọn</span>&#9784;&#65039;<br /><!-- ☸ with modifier -->
		<span lang="en">Decomposed version</span>
	</h3>
</header>
<p class="multi-lang" class="center-text">
	<span lang="zh-Hant">
		<ruby><rb>南</rb><rt>Nam</rt></ruby>
		<ruby><rb>無</rb><rt>mô</rt></ruby>
		<ruby><rb>本</rb><rt>Bổn</rt></ruby>
		<ruby><rb>師</rb><rt>Sư</rt></ruby>
		<ruby><rb>釋</rb><rt>Thích</rt></ruby>
		<ruby><rb>迦</rb><rt>ca</rt></ruby>
		<ruby><rb>牟</rb><rt>Mâu</rt></ruby>
		<ruby><rb>尼</rb><rt>ni</rt></ruby>
		<ruby><rb>佛</rb><rt>Phật</rt></ruby>
	</span><br />
	<span lang="en">Veneration to the original master, the Buddha Shakyamuni!</span><br />
	<span lang="fr">Vénération à notre Maître Suprême Bouddha Shakyamuni</span><br />
	<span lang="de">Verehrung dem ursprünglichen Meister, dem Buddha Sakyamuni!</span><br />
	<span lang="it">Lode al nostro Maestro originale Buddha Shakyamuni</span>
</p>
<p lang="vi">
	&#128218;<!-- 📚 -->Nguồn tư liệu chính: công trình biên tập và phiên dịch của hoà thượng Thích Như Điển - chùa Viên Giác, Hannover:
	<a class="my-ref">https://sachbaoluutru.viengiac.de/Sach_cua_HT_Thich_Nhu_Dien/Nhung-tac-gia-khac/ThienMonNhatTungPhan2_20161020.pdf</a>
</p>
<p>&#128506;&#65039;<!-- 🗺 with modifier -->Languages:</p>
<ul>
	<li style="font-family: 'SinoViet-font';">Sino-Vietnamese / Hán Việt</li>
	<li>traditional Chinese / Hán cổ</li>
	<li style="font-family: 'VietFont';">Vietnamese / Việt dịch</li>
	<li style="color: #B023F5;">Deutsch / Đức</li>
	<li style="color: #F73B08;">English / Anh</li>
	<li style="color: #3A8098;">Français / Pháp</li>
	<li style="color: #388256;">Italiano / Ý</li>
	<li style="font-family: 'IAST-font';">Sanskrit / Phạn</li>
</ul>
<p lang="en">Please ask a Vietnamese for help when using this site. there is no proper language switcher for now</p>
<p lang="en" style="font-weight: bold;">LICENSE & DISCLAIMER:</p>
<ul lang="en">
	<li>all the texts are freely provided online</li>
	<li>this website is a hobby project and work of compilation, academic accuracy not guaranteed</li>
</ul>
<p>&#128218;<!-- 📚 -->Các nguồn bổ sung:</p>
<ul>
	<li><span lang="zh-Hant">中華電子佛典協會</span> / CBETA <span lang="en">Chinese Buddhist Electronic Texts Association</span><ul>
		<li><a class="my-ref">https://www.cbeta.org/</a></li>
		<li><a class="my-ref">https://cbetaonline.dila.edu.tw/en/</a></li>
		<li><a class="my-ref">https://github.com/cbeta-org/xml-p5</a></li>
		<li><a class="my-ref">https://github.com/cbeta-git/xml-p5a</a></li>
	</ul></li>
	<li>
		<span lang="zh-Hant">嘉興藏</span> Gia Hưng tạng J32 nB277 p0566b01 → p0574a09, <span lang="zh-Hant">諸經日誦集要卷上</span> Chư kinh nhật tụng tập yếu — quyển thượng,
		đời Minh — <span lang="zh-Hant">古杭雲棲寺</span> Cổ Hàng Vân Thê tự — sa-môn <span lang="zh-Hant">袾宏</span> Châu Hoằng
	</li>
	<li>
		<span lang="zh-Hant">萬佛聖城</span> / <span lang="en">City of 10 Thousand Buddhas</span>:
		<a class="my-ref">https://www.buddhisttexts.org/collections/free-english-ebooks/products/sagely-city-of-10-000-buddhas-daily-recitation-handbook-萬佛聖城日誦儀規</a>
	</li>
	<li>
		<span lang="zh-Hant">佛陀教育基金會</span> / <span lang="en">The Corporate Body of the Buddha Educational Foundation</span>:
		<a class="my-ref">http://ftp.budaedu.org/ebooks/pdf/CE002.pdf</a>
	</li>
	<li>các bản dịch Việt nhiều bài kệ/tán lấy từ các kinh tụng:<ul>
		<li>chùa Phật Tổ Long Beach — thầy Thích Thiện Thanh</li>
		<li>tu viện Vô Lượng Thọ Dresden — thầy Thích Hạnh Tấn</li>
		<li>tu viện Linh Sơn Pháp quốc</li>
	</ul></li>
	<li>các thần chú:<ul>
		<li>Cư sĩ Huyền Thanh - Nguyễn Vũ Tài <a class="my-ref">https://kinhmatgiao.wordpress.com/</a></li>
		<li><a class="my-ref">https://www.geocities.ws/mahayanazengong/tantra.html</a></li>
	</ul></li>
	<li lang="en">Sanskrit:<ul>
		<li>Thesaurus literaturae buddhicae: <a class="my-ref">https://www2.hf.uio.no/polyglotta/index.php?page=library&bid=2</a></li>
		<li>Digital Sanskrit Buddhist Canon: <a class="my-ref">https://www.dsbcproject.org/</a></li>
		<li>Aksharamukha - Indic scripts converter: <a class="my-ref">https://aksharamukha.appspot.com/</a></li>
	</ul></li>
</ul>
