---
title: Cát Tường Kệ
numb: 1
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#21513;</rb><!-- 吉 --><rt>Cát</rt></ruby>
		<ruby><rb>&#31077;</rb><!-- 祥 --><rt>Tường</rt></ruby>
		<ruby><rb>&#20552;</rb><!-- 偈 --><rt>Kệ</rt></ruby>
	</span><br />
	<span lang="fr">Expression du bonheur</span><br />
	<span lang="de">Unsch nach Glück und Schutz</span><br />
	<span lang="it">Versi di buon auspicio</span>
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#26205;</rb><!-- 晝 --><rt>trú</rt></ruby>
		<ruby><rb>&#21513;</rb><!-- 吉 --><rt>kiết</rt></ruby>
		<ruby><rb>&#31077;</rb><!-- 祥 --><rt>tường,</rt></ruby>
		<ruby><rb>&#22812;</rb><!-- 夜 --><rt>dạ</rt></ruby>
		<ruby><rb>&#21513;</rb><!-- 吉 --><rt>kiết</rt></ruby>
		<ruby><rb>&#31077;</rb><!-- 祥 --><rt>tường</rt></ruby>
	</span><br />
	<span lang="vi">Nguyện ngày an lành, đêm an lành,</span><br />
	<span lang="en">May the day be full of happiness, may the night be full of happiness,</span><br />
	<span lang="fr">Que le jour puisse être plein de bonheur, Que la nuit puisse être pleine de bonheur,</span><br />
	<span lang="de">Möge der Tag voller Glück sein, möge die Nacht voller Glück sein,</span><br />
	<span lang="it">Possa il giorno essere pieno di felicità, possa la notte essere piena di felicità,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26205;</rb><!-- 晝 --><rt>Trú</rt></ruby>
		<ruby><rb>&#22812;</rb><!-- 夜 --><rt>dạ</rt></ruby>
		<ruby><rb>&#20845;</rb><!-- 六 --><rt>lục</rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời</rt></ruby>
		<ruby><rb>&#24646;</rb><!-- 恆 --><rt>hằng</rt></ruby>
		<ruby><rb>&#21513;</rb><!-- 吉 --><rt>kiết</rt></ruby>
		<ruby><rb>&#31077;</rb><!-- 祥 --><rt>tường</rt></ruby>
	</span><br />
	<span lang="vi">Đêm ngày sáu thời đều an lành,</span><br />
	<span lang="en">may day and night at the 6 times be continually full of happiness,</span><br />
	<span lang="fr">Que le jour et la nuit puissent se passer sur les périodes continuellement pleines de bonheur.</span><br />
	<span lang="de">mögen Tag und Nacht zu den 6 Zeiten beständig voller Glück sein,</span><br />
	<span lang="it">possano il giorno e la notte essere continuamente pieni di felicità,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<ruby><rb>&#21513;</rb><!-- 吉 --><rt>kiết</rt></ruby>
		<ruby><rb>&#31077;</rb><!-- 祥 --><rt>tường</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
	</span><br />
	<span lang="vi">Tất cả các thời đều an lành,</span><br />
	<span lang="en">may every moment be full of happiness!</span><br />
	<span lang="fr">Que tous les moments soient pleins de bonheur!</span><br />
	<span lang="de">möge jeder Zeitpunkt voller Glück sein!</span><br />
	<span lang="it">possano tutti i momenti essere pieni di felicità!</span>
</p>
<div class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
	</span>
	<table lang="zh-Hant" class="inline-table">
		<tr><td>
			<ruby><rb>&#19978;</rb><!-- 上 --><rt>Thượng</rt></ruby>
			<ruby><rb>&#24107;</rb><!-- 師 --><rt>Sư</rt></ruby>
			<ruby><rb>&#21696;</rb><!-- 哀 --><rt>ai</rt></ruby>
			<ruby><rb>&#25885;</rb><!-- 攝 --><rt>nhiếp</rt></ruby>
			<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ</rt></ruby>
		</td></tr>
		<tr><td>
			<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
			<ruby><rb>&#23542;</rb><!-- 寶 --><rt>Bảo</rt></ruby>
			<ruby><rb>&#21696;</rb><!-- 哀 --><rt>ai</rt></ruby>
			<ruby><rb>&#25885;</rb><!-- 攝 --><rt>nhiếp</rt></ruby>
			<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ</rt></ruby>
		</td></tr>
		<tr><td>
			<ruby><rb>&#35703;</rb><!-- 護 --><rt>Hộ</rt></ruby>
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
			<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
			<ruby><rb>&#25793;</rb><!-- 擁 --><rt>ủng</rt></ruby>
			<ruby><rb>&#35703;</rb><!-- 護 --><rt>hộ</rt></ruby>
		</td></tr>
	</table><br />
	<span lang="vi">Xin nguyện</span>&nbsp;<table lang="vi" class="inline-table">
		<tr><td>Từ Bi thường gia hộ</td></tr>
		<tr><td>Tam Bảo luôn che chở</td></tr>
		<tr><td>Hộ Pháp thường ủng hộ</td></tr>
	</table><br />
	<span lang="en">May</span>&nbsp;<table lang="en" class="inline-table">
		<tr><td>all venerable masters have compassion</td></tr>
		<tr><td>the 3 Jewels have compassion</td></tr>
		<tr><td>all Dharma-protecting deities continually grant protection</td></tr>
	</table><br />
	<span lang="fr">Que</span>&nbsp;<table lang="fr" class="inline-table">
		<tr><td>tous les maîtres vénérables puissent avoir la compassion</td></tr>
		<tr><td>les 3 joyaux puissent avoir de la compassion</td></tr>
		<tr><td>tous les protecteurs du Dharma puissent accorder pleinement la protection aux fidèles</td></tr>
	</table><br />
	<span lang="de">Mögen</span>&nbsp;<table lang="de" class="inline-table">
		<tr><td>alle ehrwürdigen Meister sicherbarmen</td></tr>
		<tr><td>die 3 Juwelen sich erbarmen</td></tr>
		<tr><td>alle den Dharma beschützenden Gottheiten beständig Schutz gewähren</td></tr>
	</table><br />
	<span lang="it">Possano</span>&nbsp;<table lang="it" class="inline-table">
		<tr><td>tutti i venerabili maestri avere compassione</td></tr>
		<tr><td>i 3 Gioielli avere compassione</td></tr>
		<tr><td>tutte le divinità tutelari del Dharma garantire continuamente la loro protezione</td></tr>
	</table>
</div>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>Tứ</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#30331;</rb><!-- 登 --><rt>đăng</rt></ruby>
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>ư</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>địa</rt></ruby>
	</span><br />
	<span lang="vi">Bốn loài đồng lên đài báu</span><br />
	<span lang="en">The sentient beings of the 4 forms of birth ascend into the jewel land</span><br />
	<span lang="fr">Que les êtres sensibles des 4 formes de naissance se réincarnent dans la terre Suprême de la Félicité.</span><br />
	<span lang="de">Die Lebewesen der 4 Geburtenformen steigen auf in das Juwelenland</span><br />
	<span lang="it">Possano tutti gli esseri senzienti delle 4 forme di nascita ascendere alla Terra Preziosa</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#25302;</rb><!-- 拖 --><rt>thác</rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>diệu</rt></ruby>
		<ruby><rb>&#63897;</rb><!-- 蓮 --><rt>liên</rt></ruby>
		<ruby><rb>&#27744;</rb><!-- 池 --><rt>trì</rt></ruby>
	</span><br />
	<span lang="vi">Ba cõi chết sanh ao sen</span><br />
	<span lang="en">the sentient beings of the 3 realms are born in the lotus blossoms of the lotus pond</span><br />
	<span lang="fr">Les êtres sensibles des 3 mondes sont nés dans les fleurs de lotus.</span><br />
	<span lang="de">die Lebewesen der 3 Bereiche werden geboren in den Lotusblumen des Lotusteiches</span><br />
	<span lang="it">possano gli esseri senzienti dei 3 Regni nascere nei boccioli dello stagno dei loti</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#27827;</rb><!-- 河 --><rt>Hà</rt></ruby>
		<ruby><rb>&#27801;</rb><!-- 沙 --><rt>sa</rt></ruby>
		<ruby><rb>&#39187;</rb><!-- 餓 --><rt>ngạ</rt></ruby>
		<ruby><rb>&#39740;</rb><!-- 鬼 --><rt>quỉ</rt></ruby>
		<ruby><rb>&#35657;</rb><!-- 證 --><rt>chứng</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#36066;</rb><!-- 賢 --><rt>hiền</rt></ruby>
	</span><br />
	<span lang="vi">Hà sa ngạ quỷ chứng Tam Hiền</span><br />
	<span lang="en">hungry ghosts as numerous as grains of sand in the Ganges realise the 3 grades of the virtuous ones</span><br />
	<span lang="fr">Les esprits affamés sont aussi nombreux que les graines de sable dans le Gange et ils doivent compléter les 3 étapes des Saints vertueux.</span><br />
	<span lang="de">Hungergeister so zahlreich wie die Sandkörner im Ganges verwirklichen die drei Grade der Tugendhaften</span><br />
	<span lang="it">possano gli spiriti avidi, innumerevoli come i granelli delle sabbie del Gange, realizzare i 3 Gradi Virtuosi</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33836;</rb><!-- 萬 --><rt>Vạn</rt></ruby>
		<ruby><rb>&#63952;</rb><!-- 類 --><rt>loại</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#24773;</rb><!-- 情 --><rt>tình</rt></ruby>
		<ruby><rb>&#30331;</rb><!-- 登 --><rt>đăng</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>địa</rt></ruby>
	</span><br />
	<span lang="vi">Vạn loài hữu tình vào Thập Địa</span><br />
	<span lang="en">and thousands kinds of sentient beings ascend the 10 stages of the bodhisattva path.</span><br />
	<span lang="fr">des milliers d’espèces des êtres sensibles se réincarnent dans les 10 étapes de voie de Bodhisattva.</span><br />
	<span lang="de">und tausende Arten von fühlenden Wesen ersteigen die 10 Stufen des Bodhisattwa-Pfades.</span><br />
	<span lang="it">e migliaia tipi di esseri senzienti ascendere ai 10 Stadi del sentiero del Bodhisattva.</span>
</p>
