---
title: kệ tán chú Lăng Nghiêm
numb: 4
---

<header lang="vi"><h2>kệ tán chú Lăng Nghiêm</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>Thượng</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>lai</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#21069;</rb><!-- 前 --><rt>tiền</rt></ruby>
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>thanh</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
	</span><br />
	<span lang="vi">Đến nay chúng hiện tiền thanh tịnh</span><br />
	<span lang="en">The merits accumulated up until now by the pure assembly appearing here</span><br />
	<span lang="fr">Les mérites accumulés jusqu’à maintenant par la pure assemblée ici présente,</span><br />
	<span lang="de">Die (Verdienste, die) bis hierher von der hier erschienenen reinen Versammlung,</span><br />
	<span lang="it">La pura assemblea qui riunita</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#35575;</rb><!-- 諷 --><rt>Phúng</rt></ruby>
		<ruby><rb>&#35494;</rb><!-- 誦 --><rt>tụng</rt></ruby>
		<ruby><rb>&#26974;</rb><!-- 楞 --><rt>Lăng</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>Nghiêm,</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#21697;</rb><!-- 品 --><rt>phẩm</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
	</span><br />
	<span lang="vi">Đọc tụng các phẩm chú Lăng Nghiêm</span><br />
	<span lang="en">Through recitation of the Surangama and other mantras,</span><br />
	<span lang="fr">grâce à la récitation du Surangama et autres mantras,</span><br />
	<span lang="de">Durch das Rezitieren des Surangama- und anderer Mantren,</span><br />
	<span lang="it">che recita la mistica Dharani del Shurangama e altri mantra</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22238;</rb><!-- 回 --><rt>Hồi</rt></ruby>
		<ruby><rb>&#21521;</rb><!-- 向 --><rt>hướng</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>Bảo</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#40845;</rb><!-- 龍 --><rt>Long</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>Thiên</rt></ruby>
	</span><br />
	<span lang="vi">Hồi hướng Tam Bảo, các trời, rồng</span><br />
	<span lang="en">The assembly transfers to the Three Jewels, the nagas and devas,</span><br />
	<span lang="fr">sont partagés aux trois joyaux, aux nagas, aux devas</span><br />
	<span lang="de">Überträgt die Versammlung auf die Drei Juwelen, die Nagas und Devas,</span><br />
	<span lang="it">dedicati ai Tre Preziosi, a tutti i Naga, ai Deva,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#23432;</rb><!-- 守 --><rt>Thủ</rt></ruby>
		<ruby><rb>&#35703;</rb><!-- 護 --><rt>hộ</rt></ruby>
		<ruby><rb>&#20285;</rb><!-- 伽 --><rt>Già</rt></ruby>
		<ruby><rb>&#34253;</rb><!-- 藍 --><rt>lam</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
	</span><br />
	<span lang="vi">Các thánh chúng giữ gìn đất tịnh</span><br />
	<span lang="en">and the holy beings who protect the Surangama.</span><br />
	<span lang="fr">et aux sages Saints qui protègent le Surangama.</span><br />
	<span lang="de">(und) die den Surangama beschützenden Heiligen</span><br />
	<span lang="it">al Protettore Sangharama e a tutti gli illuminati, desidera quanto segue</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#22615;</rb><!-- 塗 --><rt>đồ</rt></ruby>
		<ruby><rb>&#20843;</rb><!-- 八 --><rt>bát</rt></ruby>
		<ruby><rb>&#38627;</rb><!-- 難 --><rt>nạn</rt></ruby>
		<ruby><rb>&#20465;</rb><!-- 俱 --><rt>cu</rt></ruby>
		<ruby><rb>&#38626;</rb><!-- 離 --><rt>ly</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ</rt></ruby>
	</span><br />
	<span lang="vi">Ba đường, tám nạn cùng lìa khổ</span><br />
	<span lang="en">May the sentient beings on the 3 paths and in the 8 inauspicious life circumstances be liberated from suffering without exception,</span><br />
	<span lang="fr">Que les êtres sensibles des 3 chemins et des 8 conditions de vie malheureuse soient libérés de la souffrance sans exception</span><br />
	<span lang="de">Mögen die Lebewesen in den 3 Pfaden und in den 8 ungünstigen Lebensumständen allesamt vom Leid befreit werden,</span><br />
	<span lang="it">Possano tutti gli esseri senzienti nei 3 Cattivi Sentieri e nelle 8 Situazioni Sfavorevoli essere senza eccezione liberati dalle sofferenze;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>Tứ</rt></ruby>
		<ruby><rb>&#24681;</rb><!-- 恩 --><rt>ân,</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận</rt></ruby>
		<ruby><rb>&#38673;</rb><!-- 霑 --><rt>triêm</rt></ruby>
		<ruby><rb>&#24681;</rb><!-- 恩 --><rt>ân</rt></ruby>
	</span><br />
	<span lang="vi">Bốn ân ba cõi trọn nhờ ân</span><br />
	<span lang="en">May the 4 who grant favours and the 3 realms of existence all receive favour</span><br />
	<span lang="fr">Que les 4 ingratitudes qui accordent les faveurs et les 3 mondes de l’existence reçoivent tous la grâce.</span><br />
	<span lang="de">Mögen die 4 Gunstgewährenden und die 3 Daseinsbereiche sämtlich Gunst empfangen,</span><br />
	<span lang="it">Possano tutti gli esseri senzienti dei 4 Tipi di Benefattori e nei 3 Regni dell'esistenza ricevere benefici;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22283;</rb><!-- 國 --><rt>Quốc</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>an</rt></ruby>
		<ruby><rb>&#23527;</rb><!-- 寧 --><rt>ninh</rt></ruby>
		<ruby><rb>&#20853;</rb><!-- 兵 --><rt>binh</rt></ruby>
		<ruby><rb>&#38761;</rb><!-- 革 --><rt>cách</rt></ruby>
		<ruby><rb>&#37559;</rb><!-- 銷 --><rt>tiêu</rt></ruby>
	</span><br />
	<span lang="vi">Cõi nước an ninh dứt đấu tranh</span><br />
	<span lang="en">May tranquillity and peace reign at the borders of the nations, may weapons and armour melt away,</span><br />
	<span lang="fr">Que la sérénité et la paix règnent aux frontières des nations. Que les armées et les blindés disparaissent,</span><br />
	<span lang="de">Mögen an den Grenzen der Länder Ruhe und Frieden herrschen, mögen Waffen und Rüstungen schmelzen,</span><br />
	<span lang="it">Possano la tranquillità e la pace regnare ai confini delle nazioni e possano le operazioni militari terminare;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#39080;</rb><!-- 風 --><rt>Phong</rt></ruby>
		<ruby><rb>&#35519;</rb><!-- 調 --><rt>điều</rt></ruby>
		<ruby><rb>&#38632;</rb><!-- 雨 --><rt>vũ</rt></ruby>
		<ruby><rb>&#38918;</rb><!-- 順 --><rt>thuận</rt></ruby>
		<ruby><rb>&#27665;</rb><!-- 民 --><rt>dân</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>an</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
	</span><br />
	<span lang="vi">Gió hòa mưa thuận dân an lạc</span><br />
	<span lang="en">May the winds be mild and rain fall at the right time, may the peoples live in happiness and peace,</span><br />
	<span lang="fr">Que les ventes soient douces et que les pluies tombent à bon moment, pour que les gens puissent vivre dans le bonheur et en paix</span><br />
	<span lang="de">Mögen die Winde mild sein und die Regen zur rechten Zeit fallen, mögen die Völker in Glück und Frieden leben,</span><br />
	<span lang="it">Possano le brezze e le piogge essere favorevoli e tutti gli esseri essere felici;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29071;</rb><!-- 熏 --><rt>huân</rt></ruby>
		<ruby><rb>&#20462;</rb><!-- 修 --><rt>tu</rt></ruby>
		<ruby><rb>&#24076;</rb><!-- 希 --><rt>hi</rt></ruby>
		<ruby><rb>&#21213;</rb><!-- 勝 --><rt>thắng</rt></ruby>
		<ruby><rb>&#36914;</rb><!-- 進 --><rt>tấn</rt></ruby>
	</span><br />
	<span lang="vi">Đại chúng phát tinh tấn hiếm có</span><br />
	<span lang="en">May the members of the great assembly make splendid progress in the purification of their minds,</span><br />
	<span lang="fr">Que les membres de la grande assemblée progressent dans la purification d’esprit,</span><br />
	<span lang="de">Mögen die Mitglieder der großen Versammlung bei der Läuterung ihres Geistes großartigen Fortschritt machen,</span><br />
	<span lang="it">Possiamo tutti noi coltivare la Via e fare eccellenti progressi nella pratica,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>Thập</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>địa</rt></ruby>
		<ruby><rb>&#38931;</rb><!-- 頓 --><rt>đốn</rt></ruby>
		<ruby><rb>&#36229;</rb><!-- 超 --><rt>siêu</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#38627;</rb><!-- 難 --><rt>nan</rt></ruby>
		<ruby><rb>&#20107;</rb><!-- 事 --><rt>sự</rt></ruby>
	</span><br />
	<span lang="vi">Liền vượt mười Địa không gì khó</span><br />
	<span lang="en">Suddenly advance to the 10th stage and remain free of difficulties,</span><br />
	<span lang="fr">avancent progressivement vers la 10e étape, et sort les difficultés,</span><br />
	<span lang="de">Plötzlich auf die 10te Stufe vorrücken und frei von Schwierigkeiten bleiben,</span><br />
	<span lang="it">Così che i 10 Stadi siano superati senza difficoltà;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#38272;</rb><!-- 門 --><rt>môn</rt></ruby>
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>thanh</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#32085;</rb><!-- 絕 --><rt>tuyệt</rt></ruby>
		<ruby><rb>&#38750;</rb><!-- 非 --><rt>phi</rt></ruby>
		<ruby><rb>&#34398;</rb><!-- 虞 --><rt>ngu</rt></ruby>
	</span><br />
	<span lang="vi">Ba nghiệp thanh tịnh dứt sạch ngu</span><br />
	<span lang="en">May the triple gateway remain pure and may all unforeseen threats be eliminated,</span><br />
	<span lang="fr">Que les 3 entrées demeurent pures et que toutes les menaces imprévues soient éliminées</span><br />
	<span lang="de">Möge das Dreitor rein bleiben und mögen alle unvorhergesehenen Bedrohungen beseitigt werden,</span><br />
	<span lang="it">Possano le 3 Porte rimanere pure e tutte le minacce impreviste essere eliminate;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#27264;</rb><!-- 檀 --><rt>Đàn</rt></ruby>
		<ruby><rb>&#20449;</rb><!-- 信 --><rt>tín</rt></ruby>
		<ruby><rb>&#27512;</rb><!-- 歸 --><rt>quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#22686;</rb><!-- 增 --><rt>tăng</rt></ruby>
		<ruby><rb>&#31119;</rb><!-- 福 --><rt>phước</rt></ruby>
		<ruby><rb>&#24935;</rb><!-- 慧 --><rt>huệ</rt></ruby>
	</span><br />
	<span lang="vi">Đàn tín quy y thêm phước huệ</span><br />
	<span lang="en">May the pious donors and those taking refuge increase their merit and their wisdom,</span><br />
	<span lang="fr">Que les personnes charitables, pieuses et celles qui se sont réfugiées auprès du Bouddha accroissent leur mérité et leur vertu</span><br />
	<span lang="de">Mögen die frommen Spender und Zufluchtnehmenden ihre Verdienste und ihre Weisheit vermehren,</span><br />
	<span lang="it">E possano i pii sostenitori e i praticanti accrescere i propri meriti e saggezze.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#21070;</rb><!-- 剎 --><rt>Sát</rt></ruby>
		<ruby><rb>&#22645;</rb><!-- 塵 --><rt>trần</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#24565;</rb><!-- 念 --><rt>niệm</rt></ruby>
		<ruby><rb>&#21487;</rb><!-- 可 --><rt>khả</rt></ruby>
		<ruby><rb>&#25976;</rb><!-- 數 --><rt>sổ</rt></ruby>
		<ruby><rb>&#30693;</rb><!-- 知 --><rt>tri</rt></ruby>
	</span><br />
	<span lang="vi">Niệm tâm như bụi đếm biết được</span><br />
	<span lang="en">One might count thoughts as numerous as the grains of sand in a buddha land,</span><br />
	<span lang="fr">On peut compter des pensées aussi nombreuses que les grains de sable dans le pays de Bouddha,</span><br />
	<span lang="de">Gedanken so zahlreich wie die Staubkörner in einem Buddhaland mag man zählen können,</span><br />
	<span lang="it">Si potrebbero contare i pensieri innumerevoli come i granelli di sabbia in una terra di Buddha</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>hải</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<ruby><rb>&#27700;</rb><!-- 水 --><rt>thủy</rt></ruby>
		<ruby><rb>&#21487;</rb><!-- 可 --><rt>khả</rt></ruby>
		<ruby><rb>&#39154;</rb><!-- 飲 --><rt>ẩm</rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận</rt></ruby>
	</span><br />
	<span lang="vi">Nước trong biển lớn uống cạn được</span><br />
	<span lang="en">One might drink up all the water in the ocean,</span><br />
	<span lang="fr">on peut boire toute l’eau de l’océan,</span><br />
	<span lang="de">das Wasser im Ozean mag man austrinken können,</span><br />
	<span lang="it">si potrebbe bere tutta l'acqua dell'oceano,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#34395;</rb><!-- 虛 --><rt>Hư</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#21487;</rb><!-- 可 --><rt>khả</rt></ruby>
		<ruby><rb>&#37327;</rb><!-- 量 --><rt>lượng,</rt></ruby>
		<ruby><rb>&#39080;</rb><!-- 風 --><rt>phong</rt></ruby>
		<ruby><rb>&#21487;</rb><!-- 可 --><rt>khả</rt></ruby>
		<ruby><rb>&#35336;</rb><!-- 計 --><rt>kế</rt></ruby>
	</span><br />
	<span lang="vi">Hư không lường được, gió buộc được</span><br />
	<span lang="en">One might measure space and bind the winds</span><br />
	<span lang="fr">on peut mesurer l’espace et attacher les ventes.</span><br />
	<span lang="de">Den Weltraum mag man ermessen und den Wind anbinden können</span><br />
	<span lang="it">Si potrebbe misurare lo spazio e fermare i venti</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#33021;</rb><!-- 能 --><rt>năng</rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>thuyết</rt></ruby>
		<ruby><rb>&#35498;</rb><!-- 說 --><rt>tận</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#21151;</rb><!-- 功 --><rt>công</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
	</span><br />
	<span lang="vi">Công đức Phật nói không hết được</span><br />
	<span lang="en">But one cannot exhaustively describe the merits of the Buddha!</span><br />
	<span lang="fr">Mais, on ne peut pas décrire à fond les mérites de Bouddha.</span><br />
	<span lang="de">Die Verdienste des Buddha aber kann man nicht erschöpfend beschreiben!</span><br />
	<span lang="it">Ma non si possono descrivere esaurientemente i meriti del Buddha!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>Thiên</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
		<ruby><rb>&#19979;</rb><!-- 下 --><rt>hạ</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>như</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
	</span><br />
	<span lang="vi">Trên trời dưới trời ai bằng Phật!</span><br />
	<span lang="en">In heaven and on earth, no one is equal to the Buddha,</span><br />
	<span lang="fr">Dans le ciel et sur la terre, personne n’est égal au Bouddha</span><br />
	<span lang="de">Im Himmel und auf der Erde gleicht niemand dem Buddha,</span><br />
	<span lang="it">In cielo e in terra nessuno eguaglia il Buddha,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>Thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>diệc</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#27604;</rb><!-- 比 --><rt>tỷ</rt></ruby>
	</span><br />
	<span lang="vi">Mười phương thế giới cũng không sánh</span><br />
	<span lang="en">In the worlds of the 10 directions there is also no one like him,</span><br />
	<span lang="fr">Dans les mondes des 10 directions il n’y a ni personne comme lui,</span><br />
	<span lang="de">In den Welten der 10 Himmelsrichtungen gibt es auch keinen wie ihn,</span><br />
	<span lang="it">Nei mondi delle 10 Direzioni nessuno è come lui</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#38291;</rb><!-- 間 --><rt>gian</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>ngã</rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận</rt></ruby>
		<ruby><rb>&#35211;</rb><!-- 見 --><rt>kiến</rt></ruby>
	</span><br />
	<span lang="vi">Thế gian các việc con đều thấy</span><br />
	<span lang="en">I have seen everything in the world,</span><br />
	<span lang="fr">J’ai tout vu dans le monde,</span><br />
	<span lang="de">Alles in der Welt habe ich gesehen,</span><br />
	<span lang="it">Ho visto tutto nel mondo,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>như</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
	</span><br />
	<span lang="vi">Tất cả không ai được như Phật</span><br />
	<span lang="en">Nothing is like the Buddha</span><br />
	<span lang="fr">rien ne ressemble au Bouddha</span><br />
	<span lang="de">Nichts ist wie der Buddha</span><br />
	<span lang="it">ma nessuno è come il Buddha</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#23057;</rb><!-- 娑 --><rt>Ta</rt></ruby>
		<ruby><rb>&#23110;</rb><!-- 婆 --><rt>bà</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#23566;</rb><!-- 導 --><rt>đạo</rt></ruby>
		<ruby><rb>&#24107;</rb><!-- 師 --><rt>sư,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>tứ</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
		<ruby><rb>&#25945;</rb><!-- 教 --><rt>giáo</rt></ruby>
		<ruby><rb>&#20027;</rb><!-- 主 --><rt>chủ,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21315;</rb><!-- 千 --><rt>thiên</rt></ruby>
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>bá</rt></ruby>
		<ruby><rb>&#20740;</rb><!-- 億 --><rt>ức</rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#26412;</rb><!-- 本 --><rt>Bổn</rt></ruby>
		<ruby><rb>&#24107;</rb><!-- 師 --><rt>sư</rt></ruby>
		<ruby><rb>&#37323;</rb><!-- 釋 --><rt>Thích</rt></ruby>
		<ruby><rb>&#36838;</rb><!-- 迦 --><rt>ca</rt></ruby>
		<ruby><rb>&#29279;</rb><!-- 牟 --><rt>Mâu</rt></ruby>
		<ruby><rb>&#23612;</rb><!-- 尼 --><rt>ni</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="en">Veneration to (him who abides in the) saha world, the teacher of the 3 realms of existence, who is like a kind father to the sentient beings of the 4 forms of birth, the founder of the teachings for humans and devas, (and the myriads of the Nirmanakaya), the original master, Shakyamuni Buddha.</span><br />
	<span lang="fr">Hommage à (celui qui demeure dans le) monde Saha, le maître des 3 domaines d’existence, qui est comme un père aimable aux yeux des êtres sensibles des 4 espèces de naissance le fondateur du Dharma pour les humains et les devas, le maître unique Bouddha Shakyamouni.</span><br />
	<span lang="de">Verehrung dem [in der] Sahawelt [weilenden], dem Lehrer der 3 Daseinsbereiche, der für die Lebewesen der 4 Geburtsformen wie ein gütiger Vater ist, dem Begründer der Lehre der Menschen und Devas, dem Myraden von Nirmanakaya, ursprünglichen Meister Sakyamunibuddha.</span><br />
	<span lang="it">Veneriamo colui che dimora nel mondo di Saha, il maestro dei 3 Regni dell'esistenza, che è come un padre amorevole di tutti gli esseri senzienti delle 4 Forme di Nascita, il fondatore degli insegnamenti per gli Umani e i Deva, (e le miriadi di Nirmanakaya), il Maestro Originale Shakyamuni Buddha.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#37323;</rb><!-- 釋 --><rt>Thích</rt></ruby>
		<ruby><rb>&#36838;</rb><!-- 迦 --><rt>ca</rt></ruby>
		<ruby><rb>&#29279;</rb><!-- 牟 --><rt>Mâu</rt></ruby>
		<ruby><rb>&#23612;</rb><!-- 尼 --><rt>ni</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
	</span>&nbsp;(×108)<br />
	<span lang="sa">Namo Śakyamunaye Buddhāya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>Trí</rt></ruby>
		<ruby><rb>&#25991;</rb><!-- 文 --><rt>Văn</rt></ruby>
		<ruby><rb>&#27530;</rb><!-- 殊 --><rt>thù</rt></ruby>
		<ruby><rb>&#24107;</rb><!-- 師 --><rt>sư</rt></ruby>
		<ruby><rb>&#21033;</rb><!-- 利 --><rt>lợi</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="sa">Namo Manjuśraye Bodhisattvāya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#21218;</rb><!-- 勢 --><rt>Thế</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>Chí</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="sa">Namo Mahāsthāmaprāptāya Bodhisattvāya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#35703;</rb><!-- 護 --><rt>Hộ</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>Chư</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>tôn</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="en">Veneration to the bodhisattvas who protect the Dharma</span><br />
	<span lang="fr">Hommage aux Bodhisattvas qui protègent le Dharma</span><br />
	<span lang="de">Verehrung den Bodhisattvas, die den Dharma beschützen</span><br />
	<span lang="it">Lode ai Bodhisattva protettori del Dharma</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>Đạo</rt></ruby>
		<ruby><rb>&#22580;</rb><!-- 場 --><rt>tràng</rt></ruby>
		<ruby><rb>&#26371;</rb><!-- 會 --><rt>Hội</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="en">Veneration to the meeting place of buddhas and bodhisattvas</span><br />
	<span lang="fr">Hommage aux lieux où se trouvent des Bouddhas et des Bodhisattvas</span><br />
	<span lang="de">Verehrung dem Versammlungsplatz der Buddhas und Bodhisattvas</span><br />
	<span lang="it">Lode ai luoghi d'incontro dei Buddha e dei Bodhisattva</span>
</p>
