---
title: Sám Phổ Hiền
numb: 2
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Sám</rt></ruby>
		<ruby><rb>&#36066;</rb><!-- 賢 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#25082;</rb><!-- 懺 --><rt>Hiền</rt></ruby>
	</span><br />
	<span lang="en">The 10 great vows of Bodhisattva Samantabhadra</span><br />
	<span lang="fr">Les 10 grands vœux du Bodhisattva Samantabhadra</span><br />
	<span lang="de">Die 10 großen gelübde des Bodhisattwa Samantabhadra</span><br />
	<span lang="it">I grandi 10 voti del Bodhisattva Samantabhadra</span>
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#24351;</rb><!-- 弟 --><rt>Đệ</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#38568;</rb><!-- 隨 --><rt>tùy</rt></ruby>
		<ruby><rb>&#38918;</rb><!-- 順 --><rt>thuận</rt></ruby>
		<ruby><rb>&#20462;</rb><!-- 修 --><rt>tu</rt></ruby>
		<ruby><rb>&#32722;</rb><!-- 習 --><rt>tập,</rt></ruby>
		<br />
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#36066;</rb><!-- 賢 --><rt>Hiền</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#31278;</rb><!-- 種 --><rt>chủng</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện:</rt></ruby>
	</span><br />
	<span lang="en">May the disciples of all classes of practice of Bodhisattva Samantabhadra keep the 10 great vows:</span><br />
	<span lang="fr">Nous, les disciples de tous niveaux, pratiquons les 10 grands vœux du Bodhisattva Samantabhadra:</span><br />
	<span lang="de">Mögen die Schüler aller Klassen der Praxis des Bodhisattwa Samantabhadra, den 10 großen Gelübden folgen:</span><br />
	<span lang="it">Possano i discepoli di tutti i livelli di pratica del Bodhisattva Samantabhadra mantenere i 10 Grandi Voti:</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<ruby><rb>&#25964;</rb><!-- 敬 --><rt>kính</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
	</span><br />
	<span lang="en">First: Venerate all Buddhas!</span><br />
	<span lang="fr">Premièrement: nous vénérons tous les Bouddhas!</span><br />
	<span lang="de">Erstens: alle Buddhas verehren!</span><br />
	<span lang="it">Primo: Rendere lode a tutti i Buddha!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20108;</rb><!-- 二 --><rt>Nhị</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#31281;</rb><!-- 稱 --><rt>xưng</rt></ruby>
		<ruby><rb>&#35738;</rb><!-- 讚 --><rt>tán</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
	</span><br />
	<span lang="en">Second: Praise the tathagatas!</span><br />
	<span lang="fr">Deuxièmement: nous faisons des louanges aux Tathagatas</span><br />
	<span lang="de">Zweitens: die Tathagatas preisen!</span><br />
	<span lang="it">Secondo: Indirizzare le proprie lodi a tutti i Tathagata!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#24291;</rb><!-- 廣 --><rt>quảng</rt></ruby>
		<ruby><rb>&#20462;</rb><!-- 修 --><rt>tu</rt></ruby>
		<ruby><rb>&#20379;</rb><!-- 供 --><rt>cúng</rt></ruby>
		<ruby><rb>&#39178;</rb><!-- 養 --><rt>dường</rt></ruby>
	</span><br />
	<span lang="en">Third: make comprehensive offerings!</span><br />
	<span lang="fr">Troisièmement: nous faisons des offrandes</span><br />
	<span lang="de">Drittens: umfassend Opfergaben darbringen!</span><br />
	<span lang="it">Terzo: Fare loro offerte generose!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>Tứ</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#25082;</rb><!-- 懺 --><rt>sám</rt></ruby>
		<ruby><rb>&#24724;</rb><!-- 悔 --><rt>hối</rt></ruby>
		<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
		<ruby><rb>&#38556;</rb><!-- 障 --><rt>chướng</rt></ruby>
	</span><br />
	<span lang="en">Fourth: Regret karmic obstacles!</span><br />
	<span lang="fr">Quatrièmement: nous nous repentissions de nos fautes karmiques passées.</span><br />
	<span lang="de">Viertens: die Karma-Hindernisse bereuen!</span><br />
	<span lang="it">Quarto: Pentirsi delle azioni che generano cattivo karma!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20116;</rb><!-- 五 --><rt>Ngũ</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#38568;</rb><!-- 隨 --><rt>tùy</rt></ruby>
		<ruby><rb>&#21916;</rb><!-- 喜 --><rt>hỉ</rt></ruby>
		<ruby><rb>&#21151;</rb><!-- 功 --><rt>công</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
	</span><br />
	<span lang="en">Fifth: Rejoice in the merits of others!</span><br />
	<span lang="fr">Cinquièmement: nous nous réjouissons des mérités des autres</span><br />
	<span lang="de">Fünftens: Mitfreude an den Verdiensten anderer!</span><br />
	<span lang="it">Quinto: Gioire dei meriti altrui!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20845;</rb><!-- 六 --><rt>Lục</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#36681;</rb><!-- 轉 --><rt>chuyển</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#36650;</rb><!-- 輪 --><rt>luân</rt></ruby>
	</span><br />
	<span lang="en">Sixth: Request the Buddhas to turn the Wheel of Dharma!</span><br />
	<span lang="fr">Sixièmement: Nous supplions les Bouddhas de propager la roue du Dharma</span><br />
	<span lang="de">Sechstens: die Buddhas um das Drehen des Dharma-Rades bitten!</span><br />
	<span lang="it">Sesto: Chiedere ai Buddha di girare la Ruota del Dharma!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>Thất</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
	</span><br />
	<span lang="en">Seventh: Request the Buddhas to abide in the world!</span><br />
	<span lang="fr">Septièmement: Nous prions les Bouddhas de rester longtemps dans ce monde</span><br />
	<span lang="de">Siebtens: die Buddhas um ihr Verweilen in der Welt bitten!</span><br />
	<span lang="it">Settimo: Pregare i Buddha di restare in questo mondo!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20843;</rb><!-- 八 --><rt>Bát</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#38568;</rb><!-- 隨 --><rt>tùy</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#23416;</rb><!-- 學 --><rt>học</rt></ruby>
	</span><br />
	<span lang="en">Eighth: Continually follow the teachings of the Buddha!</span><br />
	<span lang="fr">Huitièmement: Nous continuerons toujours à suivre les enseignements du Bouddha!</span><br />
	<span lang="de">Achtens: beständig der Lehre des Buddha folgen!</span><br />
	<span lang="it">Ottavo: Seguire costantemente i loro insegnamenti!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20061;</rb><!-- 九 --><rt>Cửu</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#24646;</rb><!-- 恆 --><rt>hằng</rt></ruby>
		<ruby><rb>&#38918;</rb><!-- 順 --><rt>thuận</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
	</span><br />
	<span lang="en">Ninth: Always be indulgent to sentient beings!</span><br />
	<span lang="fr">Neuvièmement: Nous serons toujours indulgents envers les êtres sensibles!</span><br />
	<span lang="de">Neuntens: den Lebewesen gegenüber immer nachgiebig sein!</span><br />
	<span lang="it">Nono: Vivere in armonia con tutti gli esseri!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>Thập</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>phổ</rt></ruby>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#36852;</rb><!-- 迴 --><rt>hồi</rt></ruby>
		<ruby><rb>&#21521;</rb><!-- 向 --><rt>hướng</rt></ruby>
	</span><br />
	<span lang="en">Tenth: Transfer merits comprehensively!</span><br />
	<span lang="fr">Dixièmement: Nous partageons tous les mérites de manière intelligible!</span><br />
	<span lang="de">Zehntens: allumfassend die Verdienste übertragen!</span><br />
	<span lang="it">Decimo: Dedicare all'universo intero i benefici dei propri meriti!</span>
</p>
