---
title: tán Phật Thích-ca
numb: 5
---

<header lang="vi"><h2>tán Phật Thích-ca</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#35738;</rb><!-- 讚 --><rt>Tán</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<ruby><rb>&#37323;</rb><!-- 釋 --><rt>Thích</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>Tôn</rt></ruby>
	</span><br />
	<span lang="vi">Xưng tán đức Thế Tôn</span><br />
	<span lang="en">Veneration to the Sublime Shakya</span><br />
	<span lang="fr">Hommage au suprême Shakya</span><br />
	<span lang="de">Verehrung dem Erhabenen Sakya</span><br />
	<span lang="it">Lode al Sublime Shakya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#33021;</rb><!-- 能 --><rt>năng</rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân</rt></ruby>
	</span><br />
	<span lang="vi">Năng lực nhân từ trên vạn Thánh</span><br />
	<span lang="en">Who was without peer in the practice of loving-kindness</span><br />
	<span lang="fr">Qui était sans égal dans la pratique de la compassion</span><br />
	<span lang="de">Der in der Ausübung liebender Güte unübertroffen war</span><br />
	<span lang="it">che fu ineguagliato nella pratica della benevolenza</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22686;</rb><!-- 增 --><rt>Tăng</rt></ruby>
		<ruby><rb>&#26399;</rb><!-- 期 --><rt>kỳ</rt></ruby>
		<ruby><rb>&#20037;</rb><!-- 久 --><rt>cửu</rt></ruby>
		<ruby><rb>&#36960;</rb><!-- 遠 --><rt>viễn</rt></ruby>
		<ruby><rb>&#20462;</rb><!-- 修 --><rt>tu</rt></ruby>
		<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
	</span><br />
	<span lang="vi">đã từng trải qua vô lượng kiếp tu nhân</span><br />
	<span lang="en">And had practiced the truth over endless kalpas.</span><br />
	<span lang="fr">Et qui avait pratiqué la vérité pendant des Kalpas infinis</span><br />
	<span lang="de">und über unendliche Kalpas die Wahrheit praktiziert hatte</span><br />
	<span lang="it">e praticò la verità per infiniti kalpa.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#20828;</rb><!-- 兜 --><rt>Đâu</rt></ruby>
		<ruby><rb>&#29575;</rb><!-- 率 --><rt>suất</rt></ruby>
		<ruby><rb>&#38477;</rb><!-- 降 --><rt>giáng</rt></ruby>
		<ruby><rb>&#26216;</rb><!-- 晨 --><rt>thần</rt></ruby>
	</span><br />
	<span lang="vi">từ cung trời Đâu-suất giáng thần</span><br />
	<span lang="en">He descended from the Tushita heaven</span><br />
	<span lang="fr">Il descendait du ciel de Tushita</span><br />
	<span lang="de">Er stieg vom Tushita-Himmel hinab,</span><br />
	<span lang="it">Egli discese dal paradiso Tuṣhita</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#38263;</rb><!-- 長 --><rt>Trường</rt></ruby>
		<ruby><rb>&#36781;</rb><!-- 辭 --><rt>từ</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
		<ruby><rb>&#20301;</rb><!-- 位 --><rt>vị</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>kim</rt></ruby>
		<ruby><rb>&#36650;</rb><!-- 輪 --><rt>luân</rt></ruby>
	</span><br />
	<span lang="vi">giã từ ngôi vị quốc vương</span><br />
	<span lang="en">Renounced the throne and the golden wheel</span><br />
	<span lang="fr">Il avait abandonné le trône et la roue dorée</span><br />
	<span lang="de">verzichtete auf den Thron und das goldene Rad</span><br />
	<span lang="it">rinunciò al trono e alla ruota dorata</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22352;</rb><!-- 坐 --><rt>tọa</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề</rt></ruby>
		<ruby><rb>&#24231;</rb><!-- 座 --><rt>tòa,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#30772;</rb><!-- 破 --><rt>phá</rt></ruby>
		<ruby><rb>&#39764;</rb><!-- 魔 --><rt>ma</rt></ruby>
		<ruby><rb>&#21531;</rb><!-- 君 --><rt>quân</rt></ruby>
	</span><br />
	<span lang="vi">ngồi tòa Bồ Đề, hàng phục ma quân</span><br />
	<span lang="en">He sat on the Bodhi throne and vanquished the armies of Mara,</span><br />
	<span lang="fr">Il méditait sous l’arbre Bodhi et avait fait disparaître les armées du Mara</span><br />
	<span lang="de">er saß auf dem Bodhi-Thron und vernichtete die Armeen Maras,</span><br />
	<span lang="it">si sedette sul trono della Bodhi e debellò gli eserciti di Mara.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#35241;</rb><!-- 覩 --><rt>đổ</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh</rt></ruby>
		<ruby><rb>&#26143;</rb><!-- 星 --><rt>tinh</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#38477;</rb><!-- 降 --><rt>giáng</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#26519;</rb><!-- 林 --><rt>lâm.</rt></ruby>
	</span><br />
	<span lang="vi">một sáng ban mai, đạo lớn viên thành, rồi đại chuyển Pháp Luân</span><br />
	<span lang="en">When he saw the morning star he perfected the path, Descending, he proclaimed the Dharma.</span><br />
	<span lang="fr">Il a réalisé l’état de Bouddha lors de la levée de l’étoile du matin qui lui a permis de devenir Bouddha et de proclamer le Dharma.</span><br />
	<span lang="de">als er den Morgenstern erblickte vollendete er den Weg, herabsteigend verkündete er das Dharma.</span><br />
	<span lang="it">Quando vide la stella del mattino, realizzò il sentiero e discendendo proclamò il Dharma.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#20056;</rb><!-- 乘 --><rt>thừa</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#27512;</rb><!-- 歸 --><rt>qui</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
	</span><br />
	<span lang="en">The practitioners of the 3 vehicles returned to the essence</span><br />
	<span lang="fr">Les pratiquants des 3 somptueux véhicules ont suivi sa voie</span><br />
	<span lang="de">Die Praktizierenden der 3 Fahrzeuge kehrten zur Essenz zurück</span><br />
	<span lang="it">I praticanti dei 3 Veicoli tornarono all'essenza</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#24050;</rb><!-- 已 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#35657;</rb><!-- 證 --><rt>chứng</rt></ruby>
	</span><br />
	<span lang="vi">Vô sanh đã chứng</span><br />
	<span lang="en">And received the proof of non-returning</span><br />
	<span lang="fr">et on atteint le résultat de la non-réincarnation,</span><br />
	<span lang="de">und erhielten den Beweis für die Nicht-mehr-Geburt.</span><br />
	<span lang="it">e ottennero la prova del non-ritorno</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>Hiện</rt></ruby>
		<ruby><rb>&#21069;</rb><!-- 前 --><rt>tiền</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#27512;</rb><!-- 歸 --><rt>qui</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
	</span><br />
	<span lang="en">Practitioners who now return to the essence,</span><br />
	<span lang="fr">Les pratiquants qui suivent la voie en ce moment,</span><br />
	<span lang="de">Die Praktizierenden, die jetzt zur Essenz zurückkehren,</span><br />
	<span lang="it">I praticanti che ora tornano all'essenza</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#21213;</rb><!-- 勝 --><rt>sanh</rt></ruby>
		<ruby><rb>&#36895;</rb><!-- 速 --><rt>tốc</rt></ruby>
		<ruby><rb>&#35657;</rb><!-- 證 --><rt>chứng</rt></ruby>
	</span><br />
	<span lang="vi">Vô sanh sớm chứng</span><br />
	<span lang="en">Will quickly attain the proof of non-returning.</span><br />
	<span lang="fr">seront récompensés et ne se réincarneront plus.</span><br />
	<span lang="de">werden schnell den Beweis für die Nicht-mehr-Geburt erlangen.</span><br />
	<span lang="it">otterranno velocemente la prova del non-ritorno.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant" class="to-dam">
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>Tứ</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#20061;</rb><!-- 九 --><rt>cửu</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21516;</rb><!-- 同 --><rt>đồng</rt></ruby>
		<ruby><rb>&#30331;</rb><!-- 登 --><rt>đăng</rt></ruby>
		<ruby><rb>&#33457;</rb><!-- 花 --><rt>hoa</rt></ruby>
		<ruby><rb>&#34255;</rb><!-- 藏 --><rt>tạng</rt></ruby>
		<ruby><rb>&#29572;</rb><!-- 玄 --><rt>huyền</rt></ruby>
		<ruby><rb>&#38272;</rb><!-- 門 --><rt>môn,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20843;</rb><!-- 八 --><rt>bát</rt></ruby>
		<ruby><rb>&#38627;</rb><!-- 難 --><rt>nạn</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#36884;</rb><!-- 途 --><rt>đồ,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20849;</rb><!-- 共 --><rt>cộng</rt></ruby>
		<ruby><rb>&#20837;</rb><!-- 入 --><rt>nhập</rt></ruby>
		<ruby><rb>&#27607;</rb><!-- 毗 --><rt>tỳ</rt></ruby>
		<ruby><rb>&#30439;</rb><!-- 盧 --><rt>lô</rt></ruby>
		<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>hải.</rt></ruby>
	</span><br />
	<span lang="vi">Bốn loài chín cõi, cùng lên pháp giới Hoa Tạng, tám nạn ba đường, cùng vào biển tánh Tỳ-lô-giá-na</span><br />
	<span lang="en">May the sentient beings of the 4 forms of birth and the 9 levels of existence ascend together to the profound gateway of the lotus-storehouse world. May the sentient beings in the 8 inauspicious conditions of life and on the 3 evil paths together penetrate into the sea of Vairochana’s self-nature!</span><br />
	<span lang="fr">Que les êtres sensibles des 4 sortes de naissances et les 9 niveaux d’existence montent ensemble vers la mystérieuse porte du monde de Vairochana.</span><br />
	<span lang="de">Mögen die Lebewesen der 4 Geburtsformen und der 9 Daseinsebenen gemeinsam aufsteigen zum profunden Tor der Lotusspreicher Welt. Mögen die Lebewesen in den 8 ungünstigen Lebensumständen und in den 3 üblen Pfaden zusammen eindringen in das Meer der Eigennatur Vairocanas!</span><br />
	<span lang="it">Possano gli esseri senzienti delle 4 Forme di Nascita e delle 9 Condizioni di esistenza insieme ascendere alla porta elevata del mondo del Loto. Possano tutti gli esseri senzienti nelle 8 Condizioni Sfavorevoli della vita e nei 3 Cattivi Sentieri penetrare insieme nel mare dell'auto-natura di Vairocana.</span>
</p>
