---
title: Thiên A-tu-la
numb: 3
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>Thiên</rt></ruby>
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#20462;</rb><!-- 修 --><rt>tu</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
	</span><br />
	<span lang="en">Devas & Asuras</span><br />
	<span lang="fr">Les protecteurs du Dharma</span><br />
	<span lang="de">Devas & Asuras</span><br />
	<span lang="it">Dedica alle divinità</span>
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>Thiên,</rt></ruby>
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#34311;</rb><!-- 蘇 --><rt>tu</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la,</rt></ruby>
		<ruby><rb>&#34277;</rb><!-- 藥 --><rt>Dạ</rt></ruby>
		<ruby><rb>&#21449;</rb><!-- 叉 --><rt>xoa</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
	</span><br />
	<span lang="vi">Trời, A-tu-la, Dạ-xoa thảy,</span><br />
	<span lang="en">Devas, Asuras, Dasas and others,</span><br />
	<span lang="fr">Les Devas, les Asuras, les Dasas, et autres</span><br />
	<span lang="de">Devas, Asuras, Dasas und andere,</span><br />
	<span lang="it">Ai Deva, agli Asura, ai Dāsa e a tutti gli altri</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<ruby><rb>&#32893;</rb><!-- 聽 --><rt>thính</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả</rt></ruby>
		<ruby><rb>&#25033;</rb><!-- 應 --><rt>ưng</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>chí</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
	</span><br />
	<span lang="vi">Ai đến nghe pháp phải hết lòng,</span><br />
	<span lang="en">You have come to hear the Dharma with concentrated mind,</span><br />
	<span lang="fr">Vous êtes venus entendre le Dharma très attentivement,</span><br />
	<span lang="de">Ihr seid gekommen, um den Dharma mit konzentriertem Geist zu vernehmen,</span><br />
	<span lang="it">che siete venuti qui ad ascoltare il Dharma con la mente concentrata</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25793;</rb><!-- 擁 --><rt>Ủng</rt></ruby>
		<ruby><rb>&#35703;</rb><!-- 護 --><rt>hộ</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#20351;</rb><!-- 使 --><rt>sử</rt></ruby>
		<ruby><rb>&#38263;</rb><!-- 長 --><rt>trường</rt></ruby>
		<ruby><rb>&#23384;</rb><!-- 存 --><rt>tồn</rt></ruby>
	</span><br />
	<span lang="vi">Ủng hộ Phật pháp cho thường còn,</span><br />
	<span lang="en">May the Buddha Dharma protect you and assist you to a long life,</span><br />
	<span lang="fr">Que le Dharma de Bouddha vous protège et vous aide à avoir une longue vie.</span><br />
	<span lang="de">Möge Euch der Buddha-Dharma beschützen und zu einem langen Leben verhelfen,</span><br />
	<span lang="it">Possa il Buddha-Dharma proteggervi e assistervi per allungarvi la vita;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21508;</rb><!-- 各 --><rt>Các</rt></ruby>
		<ruby><rb>&#21508;</rb><!-- 各 --><rt>các</rt></ruby>
		<ruby><rb>&#21220;</rb><!-- 勤 --><rt>cần</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>Tôn</rt></ruby>
		<ruby><rb>&#25945;</rb><!-- 教 --><rt>giáo</rt></ruby>
	</span><br />
	<span lang="vi">Mọi người siêng tu lời Phật dạy.</span><br />
	<span lang="en">May through this all beings practice the teachings of the Blessed One.</span><br />
	<span lang="fr">Que tous les êtres sensibles pratiquent et appliquent les enseignements du Béni du monde.</span><br />
	<span lang="de">Mögen dadurch alle Wesen die Lehre des Erhabenen praktizieren.</span><br />
	<span lang="it">possano, grazie a ciò, tutti gli esseri praticare gli insegnamenti del Sublime</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>Chư</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#32893;</rb><!-- 聽 --><rt>thính</rt></ruby>
		<ruby><rb>&#24466;</rb><!-- 徒 --><rt>đồ</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>lai</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>chí</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
	</span><br />
	<span lang="vi">Bao nhiêu người nghe đến chốn này,</span><br />
	<span lang="en">May all the faithful who have assembled here,</span><br />
	<span lang="fr">Que tous les fidèles qui sont réunis ici,</span><br />
	<span lang="de">Mögen alle Gläubigen, die sich hier versammelt haben,</span><br />
	<span lang="it">Possiate voi tutti, fedeli qui riuniti,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25110;</rb><!-- 或 --><rt>Hoặc</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>địa</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#25110;</rb><!-- 或 --><rt>hoặc</rt></ruby>
		<ruby><rb>&#23621;</rb><!-- 居 --><rt>cư</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
	</span><br />
	<span lang="vi">Hoặc ở cõi đất hoặc trên không,</span><br />
	<span lang="en">Those on earth and those in space,</span><br />
	<span lang="fr">sur terre et dans l’espace</span><br />
	<span lang="de">Die, auf der Erde und die, im Raum,</span><br />
	<span lang="it">quelli in terra e quelli nello spazio</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>Thường</rt></ruby>
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>ư</rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#36215;</rb><!-- 起 --><rt>khởi</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
	</span><br />
	<span lang="vi">Xót thương người đời luôn cứu hộ,</span><br />
	<span lang="en">Be continually compassionate towards all beings,</span><br />
	<span lang="fr">soient toujours compatissants pour les êtres sensibles</span><br />
	<span lang="de">Beständig gegenüber allen Wesen barmherzig sein,</span><br />
	<span lang="it">Avere costantemente compassione verso tutti gli esseri;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26205;</rb><!-- 晝 --><rt>Trú</rt></ruby>
		<ruby><rb>&#22812;</rb><!-- 夜 --><rt>dạ</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>từ</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
	</span><br />
	<span lang="vi">Nương theo chánh pháp ngày đêm tu.</span><br />
	<span lang="en">May you abide in the teachings by day and by night.</span><br />
	<span lang="fr">et restent toujours fidèles aux enseignements</span><br />
	<span lang="de">Mögt ihr bei Tag und bei Nacht in der Lehre verweilen.</span><br />
	<span lang="it">possiate permanere negli insegnamenti giorno e notte</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>an</rt></ruby>
		<ruby><rb>&#38577;</rb><!-- 隱 --><rt>ổn</rt></ruby>
	</span><br />
	<span lang="vi">Cầu cho thế giới thường an ổn,</span><br />
	<span lang="en">To bring peace to all worlds,</span><br />
	<span lang="fr">pour apporter la paix dans le monde,</span><br />
	<span lang="de">Um allen Welten den Frieden zu bringen,</span><br />
	<span lang="it">Per portare la pace in tutti i mondi;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#37002;</rb><!-- 邊 --><rt>biên</rt></ruby>
		<ruby><rb>&#31119;</rb><!-- 福 --><rt>phước</rt></ruby>
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>trí</rt></ruby>
		<ruby><rb>&#30410;</rb><!-- 益 --><rt>ích</rt></ruby>
		<ruby><rb>&#32676;</rb><!-- 群 --><rt>quần</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
	</span><br />
	<span lang="vi">Phước trí vô biên lợi quần sanh,</span><br />
	<span lang="en">May you be beneficial to beings through limitless wisdom and charitable activity,</span><br />
	<span lang="fr">soient aimables envers les êtres par la sagesse illimitée et l’activité charitable,</span><br />
	<span lang="de">Mögt Ihr mit unendlicher Weisheit und ermüdlichen karitativen Schaffen den Wesen nützen,</span><br />
	<span lang="it">possiate essere di beneficio agli esseri attraverso la saggezza illimitata e le attività compassionevoli;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>Sở</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#32618;</rb><!-- 罪 --><rt>tội</rt></ruby>
		<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
		<ruby><rb>&#20006;</rb><!-- 並 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#28040;</rb><!-- 消 --><rt>tiêu</rt></ruby>
		<ruby><rb>&#38500;</rb><!-- 除 --><rt>trừ</rt></ruby>
	</span><br />
	<span lang="vi">Tất cả tội nghiệp đều tiêu trừ,</span><br />
	<span lang="en">May you eliminate all negative karmic influences in this way,</span><br />
	<span lang="fr">puissent éliminer tous les obstacles karmiques négatifs,</span><br />
	<span lang="de">Mögt Ihr damit alle unheilsamen karmischen Einflüsse beseitigen,</span><br />
	<span lang="it">Possiate voi eliminare tutte le influenze karmiche negative in questo modo;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#36960;</rb><!-- 遠 --><rt>Viễn</rt></ruby>
		<ruby><rb>&#38626;</rb><!-- 離 --><rt>ly</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ</rt></ruby>
		<ruby><rb>&#27512;</rb><!-- 歸 --><rt>quy</rt></ruby>
		<ruby><rb>&#22291;</rb><!-- 圓 --><rt>viên</rt></ruby>
		<ruby><rb>&#23490;</rb><!-- 寂 --><rt>tịch</rt></ruby>
	</span><br />
	<span lang="vi">Dứt hẳn các khổ về viên tịch.</span><br />
	<span lang="en">May you be far from all suffering and near to Nirvana.</span><br />
	<span lang="fr">puissent éloigner toute souffrance et se rapprocher du Nirvàna.</span><br />
	<span lang="de">Mögt Ihr fern von allen Leiden und nah dem Nirvana sein.</span><br />
	<span lang="it">possiate voi essere lontani da tutte le sofferenze e vicini al Nirvana.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#24658;</rb><!-- 恒 --><rt>Hằng</rt></ruby>
		<ruby><rb>&#29992;</rb><!-- 用 --><rt>dụng</rt></ruby>
		<ruby><rb>&#25106;</rb><!-- 戒 --><rt>giới</rt></ruby>
		<ruby><rb>&#39321;</rb><!-- 香 --><rt>hương</rt></ruby>
		<ruby><rb>&#22615;</rb><!-- 塗 --><rt>đồ</rt></ruby>
		<ruby><rb>&#29801;</rb><!-- 瑩 --><rt>oánh</rt></ruby>
		<ruby><rb>&#39636;</rb><!-- 體 --><rt>thể</rt></ruby>
	</span><br />
	<span lang="vi">Thường dùng giới hương xoa vóc sáng,</span><br />
	<span lang="en">May you regard the Sila as an adornment of the body,</span><br />
	<span lang="fr">Puissiez-vous considérer le Sila comme une décoration du corps,</span><br />
	<span lang="de">Mögt Ihr die Sila als Verschönerung des Körpers betrachten,</span><br />
	<span lang="it">Possiate considerare Sila (moralità) come un ornamento del corpo</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>Thường</rt></ruby>
		<ruby><rb>&#25345;</rb><!-- 持 --><rt>trì</rt></ruby>
		<ruby><rb>&#23450;</rb><!-- 定 --><rt>định</rt></ruby>
		<ruby><rb>&#26381;</rb><!-- 服 --><rt>phục</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#36039;</rb><!-- 資 --><rt>tư</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
	</span><br />
	<span lang="vi">Luôn dùng định phục mặc che thân,</span><br />
	<span lang="en">And take meditation as nourishment.</span><br />
	<span lang="fr">la méditation comme de la nourriture.</span><br />
	<span lang="de">Und die Versenkung als Nahrung zu Euch nehmen,</span><br />
	<span lang="it">e la meditazione come nutrimento;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề</rt></ruby>
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>diệu</rt></ruby>
		<ruby><rb>&#33775;</rb><!-- 華 --><rt>hoa</rt></ruby>
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#33674;</rb><!-- 莊 --><rt>trang</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>nghiêm</rt></ruby>
	</span><br />
	<span lang="vi">Hoa mầu trí giác khắp trang nghiêm,</span><br />
	<span lang="en">May the flower of enlightenment appear to you and adorn you,</span><br />
	<span lang="fr">Que la fleur de l’éveil fleurisse sur vous et vous orne.</span><br />
	<span lang="de">Möge Euch die Blüte der Erleutung erscheinen und Euch schmücken,</span><br />
	<span lang="it">Possa il fiore dell'illuminazione apparirvi e adornarvi;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#38568;</rb><!-- 隨 --><rt>Tùy</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
		<ruby><rb>&#34389;</rb><!-- 處 --><rt>xứ</rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>an</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
	</span><br />
	<span lang="vi">Tùy theo chỗ ở thường an lạc.</span><br />
	<span lang="en">May your sojourn become a place of happy peace.</span><br />
	<span lang="fr">Que l’endroit où vous vous trouvez, devienne un lieu de paix heureux.</span><br />
	<span lang="de">Möge Euer Aufenthalt zum Ort des glücklichen Friedens werden.</span><br />
	<span lang="it">possa la vostra dimora diventare un posto di pace e felicità.</span>
</p>
<p lang="zh-Hant" class="wait-multi-lang">
	<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
	<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
	<ruby><rb>&#25703;</rb><!-- 摧 --><rt>Tồi</rt></ruby>
	<ruby><rb>&#37034;</rb><!-- 邪 --><rt>tà</rt></ruby>
	<ruby><rb>&#25206;</rb><!-- 扶 --><rt>Phù</rt></ruby>
	<ruby><rb>&#27491;</rb><!-- 正 --><rt>chánh</rt></ruby>
	<ruby><rb>&#35703;</rb><!-- 護 --><rt>Hộ</rt></ruby>
	<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
	<ruby><rb>&#35576;</rb><!-- 諸 --><rt>Chư</rt></ruby>
	<ruby><rb>&#23562;</rb><!-- 尊 --><rt>Tôn</rt></ruby>
	<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
	<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	<ruby><rb>&#25705;</rb><!-- 摩 --><rt>Ma</rt></ruby>
	<ruby><rb>&#35382;</rb><!-- 訶 --><rt>ha</rt></ruby>
	<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	&nbsp;(×3)
</p>
