<footer lang="en" id="page-footer" class="center-text">
	<a target="_blank" rel="noreferrer" href="https://github.com/phineas-pta/kinh_nhat_tung">Source code</a><br/>
	<a target="_blank" rel="noreferrer" href="https://jekyllrb.com/">Made with Jekyll</a>
</footer>
