<header lang="vi" id="page-header" class="center-text">
	<h1>kinh nhật tụng</h1>
</header>
<nav lang="und" id="hamburger">
	<button title="open navigation sidebar menu" type="button"><!-- hamburger button -->
		<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><!-- copy from SuttaCentral -->
			<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" style="fill: #FAFAFA;"></path>
		</svg>
	</button>
	<form id="langForm" style="font-family: monospace;" title="select languages"><!-- checkbox to show/hide language -->
		<label title="english"><input type="checkbox" value="en" />EN</label>
		<label title="français"><input type="checkbox" value="fr" />FR</label>
		<label title="deutsch"><input type="checkbox" value="de" />DE</label>
		<label title="italiano"><input type="checkbox" value="it" />IT</label>
		<!-- zh-Hant shown by default -->
	</form>
	<label title="dark mode toggle"><input type="checkbox" id="themeSwitch" />&#8987;</label><!-- ⌛ -->
</nav>
