<header lang="vi" id="page-header" class="center-text">
	<h1>Kinh nhật tụng - Bắc tông</h1>
</header>
<nav id="hamburger">
	<section role="application">
		<button type="button" aria-label="open navigation sidebar menu"> <!-- hamburger button -->
			<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"> <!-- copy from SuttaCentral -->
				<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" style="fill: #FAFAFA"></path>
			</svg>
		</button>
		<form id="langForm"> <!-- checkbox to show/hide language -->
			<label><input type="checkbox" value="en" />en</label>
			<label><input type="checkbox" value="fr" />fr</label>
			<label><input type="checkbox" value="de" />de</label>
			<label><input type="checkbox" value="it" />it</label>
			<!-- zh-Hant shown by default -->
		</form>
		<label><input type="checkbox" id="themeSwitch" />☀️</label> <!-- dark mode toggle -->
	</section>
</nav>
