<header lang="vi" id="page-header" class="center-text">
	<h1>kinh nhật tụng</h1>
</header>

<nav lang="und" id="hamburger">
	<button title="open navigation sidebar menu" type="button"><!-- hamburger button -->
		<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><!-- copy from SuttaCentral -->
			<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" style="fill: #FAFAFA;"></path>
		</svg>
	</button>
	<div id="dropdown">
		<button title="select languages">Languages</button>
		<div id="langForm"><!-- checkboxes to show/hide language -->
			<label><input type="checkbox" value="en" />&nbsp;English</label>
			<label><input type="checkbox" value="fr" />&nbsp;Français</label>
			<label><input type="checkbox" value="de" />&nbsp;Deutsch</label>
			<label><input type="checkbox" value="it" />&nbsp;Italiano</label>
		</div>
	</div>
	<label title="dark mode toggle"><input type="checkbox" id="themeSwitch" />&#8987;</label><!-- ⌛ -->
</nav>

<nav lang="vi" id="sidenav"><!-- sidenav content depends on currently selected tab -->
	<button title="close navigation sidebar menu" type="button">×</button><!-- close button -->
	<ul>
		<li><a rel="prev" href="{{ site.baseurl }}/">Giới thiệu</a></li>

		{% assign mycollecs = site.collections | sort: 'order' %}
		{% for collec in mycollecs offset:1 %}<!-- 1st collec is `posts`, cannot change -->
			<li>{{ collec.collname }}:<ul>
				{% assign myitems = collec.docs | sort: 'numb' %}
				{% for item in myitems %}
					<li><a
						{% if page.url == item.url %} {% comment %} detect current page {% endcomment %}
							style="color: red;"
						{% else %}
							rel="next" href="{{ site.baseurl | append: item.url }}"
						{% endif %}
					>{{ item.title }}</a></li>
				{% endfor %}
			</ul></li>
		{% endfor %}

	</ul>
</nav>
