---
title: Hồi Hướng
numb: 2
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#22238;</rb><!-- 回 --><rt>Hồi</rt></ruby>
		<ruby><rb>&#21521;</rb><!-- 向 --><rt>Hướng</rt></ruby>
		<ruby><rb>&#20552;</rb><!-- 偈 --><rt>kệ</rt></ruby>
	</span><br />
	<span lang="en">Dedication</span><br />
	<span lang="fr">Renvoie des mérites</span><br />
	<span lang="de">Widmung</span><br />
	<span lang="it">Versi di dedica dei meriti</span>
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#35575;</rb><!-- 諷 --><rt>Phúng</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>kinh</rt></ruby>
		<ruby><rb>&#21151;</rb><!-- 功 --><rt>công</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
		<ruby><rb>&#27530;</rb><!-- 殊 --><rt>thù</rt></ruby>
		<ruby><rb>&#21213;</rb><!-- 勝 --><rt>thắng</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hạnh</rt></ruby>
		<br />
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#37002;</rb><!-- 邊 --><rt>biên</rt></ruby>
		<ruby><rb>&#21213;</rb><!-- 勝 --><rt>thắng</rt></ruby>
		<ruby><rb>&#31119;</rb><!-- 福 --><rt>phước</rt></ruby>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#22238;</rb><!-- 回 --><rt>hồi</rt></ruby>
		<ruby><rb>&#21521;</rb><!-- 向 --><rt>hướng</rt></ruby>
	</span><br />
	<span lang="en">The excellent virtues through the merits of recitation and limitlessly excellent happiness; I now wish to dedicate them all,</span><br />
	<span lang="fr">Les prières pour la quiétude sont très efficaces et leurs réussites sont infinies.</span><br />
	<span lang="de">Die, durch die Verdienste der Rezitation erlangten ausgezeichneten Tugenden und das grenzenlos ausgezeichnete Glück, möchte ich nun sämtlich widmen,</span><br />
	<span lang="it">Le eccellenti virtù acquisite attraverso i meriti della recitazione e l'eccellente illimitata felicità desidero ora dedicare a tutti loro:</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<br />
		<ruby><rb>&#36895;</rb><!-- 速 --><rt>Tốc</rt></ruby>
		<ruby><rb>&#24448;</rb><!-- 往 --><rt>vãng</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#37327;</rb><!-- 量 --><rt>Lượng</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>Quang</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#21049;</rb><!-- 刹 --><rt>sát</rt></ruby>
	</span><br />
	<span lang="en">may all sentient beings of the Dharmadhatu be swiftly born in the land of Amitabha,</span><br />
	<span lang="fr">Nous souhaitons de tout cœur que tous les êtres sensibles de l’univers dharmadhatu se tournent vers le Dharma pour exprimer leur reconnaissance.</span><br />
	<span lang="de">mögen alle Lebewesen des Dharmadhatu schnell ins Land des Amitabha geboren werden,</span><br />
	<span lang="it">possano tutti gli esseri senzienti del Dharmadhatu nascere rapidamente nella Terra di Amitabha;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#28040;</rb><!-- 消 --><rt>tiêu</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#38556;</rb><!-- 障 --><rt>chướng</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>trừ</rt></ruby>
		<ruby><rb>&#29033;</rb><!-- 煩 --><rt>phiền</rt></ruby>
		<ruby><rb>&#24817;</rb><!-- 惱 --><rt>não</rt></ruby>
		<br />
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>trí</rt></ruby>
		<ruby><rb>&#24935;</rb><!-- 慧 --><rt>huệ</rt></ruby>
		<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh</rt></ruby>
		<ruby><rb>&#20102;</rb><!-- 了 --><rt>liễu</rt></ruby>
	</span><br />
	<span lang="en">May I annihilate the 3 obstacles and eliminate the passions, may I attain the true, radiant and lucid wisdom,</span><br />
	<span lang="fr">Nous souhaitons de tout cœur que les 3 obstacles disparaissent pour mettre fin à nos souffrances. Nous souhaitons de tout cœur avoir intelligence rayonnante.</span><br />
	<span lang="de">Möge ich die 3 Hindernisse vernichten und die Leidenschaften beseitigen, Möge ich die wahrhaft strahlende und durchscheinende Weisheit erlangen,</span><br />
	<span lang="it">Possa io annientare i 3 Ostacoli e le passioni, possa realizzare la vera e luminosa saggezza;</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#32618;</rb><!-- 罪 --><rt>tội</rt></ruby>
		<ruby><rb>&#38556;</rb><!-- 障 --><rt>chướng</rt></ruby>
		<ruby><rb>&#24713;</rb><!-- 悉 --><rt>tất</rt></ruby>
		<ruby><rb>&#28040;</rb><!-- 消 --><rt>tiêu</rt></ruby>
		<ruby><rb>&#38500;</rb><!-- 除 --><rt>trừ</rt></ruby>
		<br />
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
	</span><br />
	<span lang="en">may all sentient beings eliminate and annihilate all negativities and obstacles, may from generation to generation the path of bodhisattvas be continually practiced,</span><br />
	<span lang="fr">Nous souhaitons de tout cœur que nos mauvaises actions sont effacées par notre repentir. De kalpa en kalpa, nous pouvons toujours pratiquer la voie du Bodhisattva.</span><br />
	<span lang="de">Mögen alle Lebewesen sämtliche Unheilsamkeiten und Hindernisse beseitigen und vernichten, Möge von Generation zu Generation beständig der Pfad der Bodhisattvas geübt werden,</span><br />
	<span lang="it">possano tutti gli esseri senzienti eliminare tutte le negatività e gli ostacoli; possa, generazione dopo generazione, il sentiero dei Bodhisattva essere praticato continuamente.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<br />
		<ruby><rb>&#20061;</rb><!-- 九 --><rt>Cửu</rt></ruby>
		<ruby><rb>&#21697;</rb><!-- 品 --><rt>phẩm</rt></ruby>
		<ruby><rb>&#63897;</rb><!-- 蓮 --><rt>Liên</rt></ruby>
		<ruby><rb>&#33775;</rb><!-- 華 --><rt>hoa</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vi</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu</rt></ruby>
	</span><br />
	<span lang="en">May I be reborn in the western Pure Land, where the Lotus of 9 Stages becomes my parents,</span><br />
	<span lang="fr">Nous souhaitons renaître au pays de la Suprême Félicité, Les 9 calices de lotus seront nos parents,</span><br />
	<span lang="de">Möge ich im westlichen Reinen Land wiedergeboren werden, in dem der Lotus der 9 Stufen zu meinen Eltern wird,</span><br />
	<span lang="it">Possa io rinascere nella Terra Pura d’Occidente dove i loti del 9 Stadio diventano i miei genitori</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33457;</rb><!-- 花 --><rt>Hoa</rt></ruby>
		<ruby><rb>&#38283;</rb><!-- 開 --><rt>khai</rt></ruby>
		<ruby><rb>&#64010;</rb><!-- 見 --><rt>kiến</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#24735;</rb><!-- 悟 --><rt>ngộ</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<br />
		<ruby><rb>&#63847;</rb><!-- 不 --><rt>Bất</rt></ruby>
		<ruby><rb>&#36864;</rb><!-- 退 --><rt>thối</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vi</rt></ruby>
		<ruby><rb>&#20276;</rb><!-- 伴 --><rt>bạn</rt></ruby>
		<ruby><rb>&#20406;</rb><!-- 侶 --><rt>lữ</rt></ruby>
	</span><br />
	<span lang="en">when the lotus opens I shall see the Buddha and attain the state of a non-returner. The bodhisattvas who no longer relapse on their path to buddhahood become my friends.</span><br />
	<span lang="fr">une fois les fleurs ouvertes nous verrons le Bouddha et nous atteindrons le stade de la non renaissance. Les Bodhisattvas non rétrogradables seront nos amis.</span><br />
	<span lang="de">wenn sich der Lotus öffnet, werde ich den Buddha sehen und die Nicht-mehr-Geburt erlangen. Die Bodhisattwas, die auf ihrem Weg zur Buddhaschaft nicht mehr zurückfallen, werden meine Freunde.</span><br />
	<span lang="it">e, quando i loti si aprono, possa vedere il Buddha e realizzare lo stato del non-ritorno. I Bodhisattva che non indietreggiano più nel loro sentiero della buddhità diventino miei amici.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#21151;</rb><!-- 功 --><rt>công</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
		<br />
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#21450;</rb><!-- 及 --><rt>cập</rt></ruby>
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>ư</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
	</span><br />
	<span lang="en">I vow to transfer these merits, all of which I have attained, to all sentient beings.</span><br />
	<span lang="fr">Nous partageons ces mérites avec nous-même et tous les autres pour que tous parviennent à l’éveil.</span><br />
	<span lang="de">Ich gelobe diese Verdienste, die ich sämtlich erreicht habe auf alle Lebewesen zu übertragen.</span><br />
	<span lang="it">Faccio voto di trasferire questi meriti che ho generato a tutti gli esseri senzienti.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#33287;</rb><!-- 與 --><rt>dữ</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<br />
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>Giai</rt></ruby>
		<ruby><rb>&#20849;</rb><!-- 共 --><rt>cộng</rt></ruby>
		<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
	</span><br />
	<span lang="en">May I and the other sentient beings realise together the path to buddhahood.</span><br />
	<span lang="fr">Que tous les êtres sensibles perfectionnent tous ensemble la voie de Bouddha</span><br />
	<span lang="de">Möge ich und die anderen Lebewesen zusammen den Weg zur Buddhaschaft verwirklichen.</span><br />
	<span lang="it">Possiamo io e tutti gli esseri senzienti insieme realizzare il sentiero della buddhità.</span>
</p>
