---
title: Tam Quy y
numb: 3
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#30344;</rb><!-- 皈 --><rt>Quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
	</span><br />
	<span lang="en">Veneration - sacred assembly</span><br />
	<span lang="fr">3 refuges</span><br />
	<span lang="de">Verehrung - heilige Versammlung</span><br />
	<span lang="it">Venerazione dei 3 gioielli</span>
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>Tự</rt></ruby>
		<ruby><rb>&#30344;</rb><!-- 皈 --><rt>quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<br />
		<ruby><rb>&#30070;</rb><!-- 當 --><rt>đương</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<br />
		<ruby><rb>&#39636;</rb><!-- 體 --><rt>thể</rt></ruby>
		<ruby><rb>&#35299;</rb><!-- 解 --><rt>giải</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		<br />
		<ruby><rb>&#30332;</rb><!-- 發 --><rt>phát</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm.</rt></ruby>
	</span><br />
	<span lang="en">I take refuge to the Buddha and vow to help all sentient beings to fathom the great path and to understand it, so that they may generate the peerless mindset!</span><br />
	<span lang="fr">Nous nous réfugions auprès de Bouddha. Nous prions pour que tous les êtres sensibles comprennent le sens sublime du Dharma et manifestent des sentiments nobles.</span><br />
	<span lang="de">Ich nehme Zuflucht zum Buddha und gelobe allen Lebewesen zu helfen den großen Pfad zu ergründen und zu verstehen, damit sie die unübertreffliche Geisteshaltung erzeugen können!</span><br />
	<span lang="it">Prendo rifugio nel Buddha e faccio voto di aiutare tutti gli esseri senzienti a praticare il Grande Sentiero e a comprenderlo profondamente così che possano generare la mente ineguagliabile dell’illuminazione.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>Tự</rt></ruby>
		<ruby><rb>&#30344;</rb><!-- 皈 --><rt>quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp,</rt></ruby>
		<br />
		<ruby><rb>&#30070;</rb><!-- 當 --><rt>đương</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh,</rt></ruby>
		<br />
		<ruby><rb>&#28145;</rb><!-- 深 --><rt>thâm</rt></ruby>
		<ruby><rb>&#20837;</rb><!-- 入 --><rt>nhập</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>kinh</rt></ruby>
		<ruby><rb>&#34255;</rb><!-- 藏 --><rt>tạng,</rt></ruby>
		<br />
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>trí</rt></ruby>
		<ruby><rb>&#24935;</rb><!-- 慧 --><rt>huệ</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>như</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>hải.</rt></ruby>
	</span><br />
	<span lang="en">I take refuge to the Dharma and vow to help all sentient beings to penetrate deeply into the treasury of the sutras, so that their wisdom becomes as immense as the ocean!</span><br />
	<span lang="fr">Nous nous réfugions dans le Dharma. Nous prions pour que tous les êtres sensibles comprennent de façon approfondie les Sutras et obtiennent la connaissance aussi immense que l’océan.</span><br />
	<span lang="de">Ich nehme Zuflucht zum Dharma und gelobe allen Lebewesen zu helfen tief in den Sutra-Schatz einzudringen, damit ihre Weisheit so unermeßlich wie der Ozean sein wird!</span><br />
	<span lang="it">Prendo rifugio nel Dharma e faccio voto di aiutare tutti gli esseri senzienti a comprendere profondamente il Tesoro dei Sutra così che la loro saggezza diventi immensa come l'oceano.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>Tự</rt></ruby>
		<ruby><rb>&#30344;</rb><!-- 皈 --><rt>quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		<br />
		<ruby><rb>&#30070;</rb><!-- 當 --><rt>đương</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<br />
		<ruby><rb>&#32113;</rb><!-- 統 --><rt>thống</rt></ruby>
		<ruby><rb>&#29702;</rb><!-- 理 --><rt>lý</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng,</rt></ruby
			><br />
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#31001;</rb><!-- 礙 --><rt>ngại.</rt></ruby>
	</span><br />
	<span lang="en">I take refuge to the Sangha and vow to help all sentient beings to unite into one great assembly, so that they experience no obstacles on the path to buddhahood!</span><br />
	<span lang="fr">Nous nous réfugions auprès du Sangha. Nous prions pour que tous les êtres animés puissent prendre sans crainte en charge la grande communauté.</span><br />
	<span lang="de">Ich nehme Zuflucht zum Sangha und gelobe allen Lebewesen zu helfen sich zu einer großen Versammlung zusammenzuschließen, damit sie keinerlei Hindernisse auf dem Weg zur Buddhaschaft erfahren!</span><br />
	<span lang="it">Prendo rifugio nel Sangha e faccio voto di aiutare tutti gli esseri senzienti a unirsi in una grande assemblea così che non sperimentino ostacoli nel sentiero della buddhità.</span>
</p>
<p class="wait-multi-lang" lang="zh-Hant">
	<ruby><rb>和</rb><rt>Hoà</rt></ruby>
	<ruby><rb>南</rb><rt>nam</rt></ruby>
	<ruby><rb>聖</rb><rt>Thánh</rt></ruby>
	<ruby><rb>眾</rb><rt>chúng</rt></ruby>
</p>
