---
title: Tán Phật A-di-đà
numb: 1
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#35738;</rb><!-- 讚 --><rt>Tán</rt></ruby>
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#20552;</rb><!-- 偈 --><rt>kệ</rt></ruby>
	</span><br />
	<span lang="en">Amitabha hymn</span><br />
	<span lang="fr">Invocation d’Amitabha Bouddha</span><br />
	<span lang="de">Amitabha-Hymne</span><br />
	<span lang="it">Inno ad Amitābha</span>
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<ruby><rb>&#63754;</rb><!-- 金 --><rt>kim</rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc</rt></ruby>
	</span><br />
	<span lang="vi">A-di-đà Phật thân sắc vàng,</span><br />
	<span lang="en">Buddha Amitabha’s body is golden in colour</span><br />
	<span lang="fr">Le corps Amitabha Bouddha a la couleur jaune.</span><br />
	<span lang="de">Buddha Amitabha Körper ist von goldener Farbe,</span><br />
	<span lang="it">Il corpo del Buddha Amitabha è di colore dorato,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30456;</rb><!-- 相 --><rt>Tướng</rt></ruby>
		<ruby><rb>&#22909;</rb><!-- 好 --><rt>hảo</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#63956;</rb><!-- 倫 --><rt>luân</rt></ruby>
	</span><br />
	<span lang="vi">Tướng tốt quang minh tự trang nghiêm,</span><br />
	<span lang="en">His excellent physical characteristics and his radiance are incomparable</span><br />
	<span lang="fr">L’aura de sa prestance est incomparable.</span><br />
	<span lang="de">seine vorzüglichen körperlichen Merkmale und sein Lichtglanz sind unvergleichlich,</span><br />
	<span lang="it">le sue eccellenti caratteristiche fisiche e il suo splendore sono incomparabili,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30333;</rb><!-- 白 --><rt>Bạch</rt></ruby>
		<ruby><rb>&#27627;</rb><!-- 毫 --><rt>hào</rt></ruby>
		<ruby><rb>&#23451;</rb><!-- 宛 --><rt>uyển</rt></ruby>
		<ruby><rb>&#36681;</rb><!-- 轉 --><rt>chuyển</rt></ruby>
		<ruby><rb>&#20116;</rb><!-- 五 --><rt>ngũ</rt></ruby>
		<ruby><rb>&#38920;</rb><!-- 須 --><rt>Tu</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
	</span><br />
	<span lang="vi">Năm Tu-di uyển chuyển bạch hào,</span><br />
	<span lang="en">The white hair between his eyebrows is in a spiral and as large as 5 mounts Sumeru</span><br />
	<span lang="fr">Ses sourcils sont blancs comme les 5 les plus grands monts Sumérou.</span><br />
	<span lang="de">das weiße Haar zwischen seinen Augenbrauen ist gewunden und so groß wie 5 Berge Sumerus,</span><br />
	<span lang="it">il capello bianco tra le sopracciglia è a spirale e vasto come 5 monti Sumeru,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#32058;</rb><!-- 紺 --><rt>Cám</rt></ruby>
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>mục</rt></ruby>
		<ruby><rb>&#28548;</rb><!-- 澄 --><rt>trừng</rt></ruby>
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>thanh</rt></ruby>
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>tứ</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>hải</rt></ruby>
	</span><br />
	<span lang="vi">Bốn biển lớn trong ngần mắt biếc.</span><br />
	<span lang="en">His violet eyes are clear and pure and like the 4 great oceans.</span><br />
	<span lang="fr">Ses yeux bleus sont limpides comme les 4 mers.</span><br />
	<span lang="de">seine violetten Augen sind klar und rein und wie die 4 großen Ozeane</span><br />
	<span lang="it">i suoi occhi viola sono chiari e puri come i 4 grandi oceani</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>Quang</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#63849;</rb><!-- 數 --><rt>số</rt></ruby>
		<ruby><rb>&#20740;</rb><!-- 億 --><rt>ức</rt></ruby>
	</span><br />
	<span lang="vi">Trong hào quang hóa vô số Phật,</span><br />
	<span lang="en">Countless hundred million of Nirmanakaya Buddhas appear in Amitabha’s radiance,</span><br />
	<span lang="fr">Dans son auréole apparaissent d’innombrables Bouddha</span><br />
	<span lang="de">unzählige hundert Millionen Nirmanakaya-Buddhas erscheinen im Lichtglanz Amitabha,</span><br />
	<span lang="it">Nella sua aura innumerevoli milioni di Nirmanakaya Buddha vengono transformati,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>Hóa</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>diệc</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#37002;</rb><!-- 邊 --><rt>biên</rt></ruby>
	</span><br />
	<span lang="vi">Vô số Bồ-tát hiện ở trong,</span><br />
	<span lang="en">and the number of Nirmanakaya Bodhisattvas is limitless,</span><br />
	<span lang="fr">ainsi qu’un nombre illimité de Bodhisattvas.</span><br />
	<span lang="de">auch die Menge der Nirmanakaya-Bodhisattwas ist grenzenlos,</span><br />
	<span lang="it">e così anche innumerevoli Bodhisattva</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>Tứ</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#20843;</rb><!-- 八 --><rt>bát</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#64001;</rb><!-- 度 --><rt>độ</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
	</span><br />
	<span lang="vi">Bốn mươi tám nguyện độ chúng sanh,</span><br />
	<span lang="en">his 48 vows liberate sentient beings,</span><br />
	<span lang="fr">Le Bouddha a fait 48 vœux solennels pour guider les êtres sensibles</span><br />
	<span lang="de">seine 48 Gelübde retten die Lebewesen,</span><br />
	<span lang="it">Egli ha fatto 48 Voti per liberare gli esseri senzienti</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20061;</rb><!-- 九 --><rt>Cửu</rt></ruby>
		<ruby><rb>&#21697;</rb><!-- 品 --><rt>phẩm</rt></ruby>
		<ruby><rb>&#21688;</rb><!-- 咸 --><rt>hàm</rt></ruby>
		<ruby><rb>&#63912;</rb><!-- 令 --><rt>linh</rt></ruby>
		<ruby><rb>&#30331;</rb><!-- 登 --><rt>đăng</rt></ruby>
		<ruby><rb>&#24444;</rb><!-- 彼 --><rt>bỉ</rt></ruby>
		<ruby><rb>&#23736;</rb><!-- 岸 --><rt>ngạn</rt></ruby>
	</span><br />
	<span lang="vi">Chín phẩm sen vàng lên giải thoát.</span><br />
	<span lang="en">the 9 categories of birth lead all sentient beings to the farther bank.</span><br />
	<span lang="fr">des 9 degrés de mérites jusqu’aux rives de l’Éveil.</span><br />
	<span lang="de">die 9 Geburtskategorien führen alle Lebewesen an das andere Ufer.</span><br />
	<span lang="it">e consentire a tutti i 9 Gradi di Nascita di raggiungere l'altra sponda.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#26997;</rb><!-- 極 --><rt>Cực</rt></ruby>
		<ruby><rb>&#63935;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
	</span><br />
	<span lang="en">Veneration to the most kind and compassionate Buddha Amitabha in the western world of supreme happiness!</span><br />
	<span lang="fr">Nous nous prosternons respectueusement devant le Amitabha Bouddha qui est la Miséricorde, la compassion et qui règne au pays de la Suprême Félicité à l’Ouest.</span><br />
	<span lang="de">Verehrung dem äußerst gütigen und mitfühlenden Buddha Amitabha in der westlichen Welt des höchsten Glücks!</span><br />
	<span lang="it">Lode al più gentile e compassionevole Buddha Amitabha nella Terra Occidentale della Suprema Beatitudine!</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
	</span>&nbsp;(×108)<br />
	<span lang="sa">Namo Amitābhāya Buddhāya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#35264;</rb><!-- 觀 --><rt>Quán</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#38899;</rb><!-- 音 --><rt>Âm</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="sa">Namo Mahākaruṇā Avalokiteśvarāya Bodhisattvāya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#21218;</rb><!-- 勢 --><rt>Thế</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>Chí</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="sa">Namo Mahāsthāmaprāptāya Bodhisattvāya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>Địa</rt></ruby>
		<ruby><rb>&#34255;</rb><!-- 藏 --><rt>Tạng</rt></ruby>
		<ruby><rb>&#29579;</rb><!-- 王 --><rt>Vương</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="sa">Namo Kṣitigarbhāya Bodhisattvāya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>Hải</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="en">Veneration to the pure, ocean-like assembly of bodhisattvas!</span><br />
	<span lang="fr">Hommage à la pure Assemblée de Bodhisattvas comme l’océan</span><br />
	<span lang="de">Verehrung der reinen, ozeangleichen Versammlung der Bodhisattwas!</span><br />
	<span lang="it">Lode alla Pura e Immensa Assemblea dei Bodhisattva</span>
</p>
