---
permalink: service-worker.js
layout: null
search: exclude
sitemap: false
---

const cacheName = "mycache-v1 / kinh_nhat_tung", // update ver to update cache
      cacheContent = [
      	"{{ site.baseurl }}/index.html",
      	"{{ site.baseurl }}/assets/kinhJS.js",
      	"{{ site.baseurl }}/assets/kinhCSS.css",
      	{% for file in site.static_files -%}
      		{%- if file.extname == ".woff2" -%}
      			"{{ file.path | prepend: site.baseurl }}",
      		{%- endif -%}
      	{%- endfor %}
      ];

{% include sw.js %}
