---
title: Bát-nhã Tâm Kinh
numb: 11
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#25705;</rb><!-- 摩 --><rt>Ma</rt></ruby>
		<ruby><rb>&#35382;</rb><!-- 訶 --><rt>ha</rt></ruby>
		<ruby><rb>&#33324;</rb><!-- 般 --><rt>Bát</rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhã</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>Ba</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#34588;</rb><!-- 蜜 --><rt>mật</rt></ruby>
		<ruby><rb>&#22810;</rb><!-- 多 --><rt>đa</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>Tâm</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>Kinh</rt></ruby>
	</span><br />
	<span lang="sa">
		<ruby><rb>&#71074;&#71103;&#71080;&#71061;&#71103;&#71063;&#71087;&#71074;&#71087;&#71080;&#71078;&#71088;&#71069;&#71087;&#71086;&#71092;&#71071;&#71079;&#71085;&#71091;&#71069;&#71103;&#71080;&#71078;&#71103;</rb><rt>Prajñāpāramitāhṛdayasūtraṃ</rt></ruby>
		<ruby><rb>(&#71085;&#71101;&#71054;&#71103;&#71084;&#71088;&#71074;&#71103;&#71069;&#71078;&#71087;&#71069;&#71092;&#71054;&#71087;)</rb><rt>(saṁkṣiptamātṛkā)</rt></ruby>
	</span><br />
	<span lang="en">Heart of the Perfection of Wisdom sutra</span><br />
	<span lang="fr">sutra du coeur de la sagesse transcendante</span><br />
	<span lang="de">Sutra der höchsten Weisheit</span><br />
	<span lang="it">Sutra del cuore della perfezione della saggezza</span>
</h2></header>
<details>
	<summary>Đại Chính tạng T08 n0251 p0848c06</summary>
	<ul>
		<li>Sanskrit:<ul>
			<li><a class="my-ref">https://www.dsbcproject.org/canon-text/content/70/590</a></li>
			<li><a class="my-ref">https://www.dsbcproject.org/canon-text/content/401/1829</a></li>
		</ul></li>
		<li>CBETA:<ul>
			<li><a class="my-ref">https://cbetaonline.dila.edu.tw/en/T08n0251_p0848c06</a></li>
			<li><a class="my-ref">https://tripitaka.cbeta.org/en/T08n0251_001</a></li>
		</ul></li>
	</ul>
</details>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71041;&#71080;&#71103;&#71079;&#71087;&#71082;&#71081;&#71098;&#71054;&#71088;&#71069;&#71096;&#71083;&#71103;&#71082;&#71080;&#71076;&#71098;&#71072;&#71088;&#71085;&#71069;&#71103;&#71069;&#71103;&#71082;&#71098;</rb><rt>āryāvalokiteśvarabodhisattvo</rt></ruby>
		<ruby><rb>&#71056;&#71078;&#71103;&#71077;&#71089;&#71080;&#71087;&#71079;&#71087;&#71101;</rb><rt>gambhīrāyāṃ</rt></ruby>
		<ruby><rb>&#71074;&#71103;&#71080;&#71061;&#71103;&#71063;&#71087;&#71074;&#71087;&#71080;&#71078;&#71088;&#71069;&#71087;&#71079;&#71087;&#71101;</rb><rt>prajñāpāramitāyāṃ</rt></ruby>
		<ruby><rb>&#71059;&#71080;&#71103;&#71079;&#71087;&#71101;</rb><rt>caryāṃ</rt></ruby>
		<ruby><rb>&#71059;&#71080;&#71078;&#71087;&#71068;&#71098;</rb><rt>caramāṇo</rt></ruby>
		<ruby><rb>&#71082;&#71103;&#71079;&#71082;&#71081;&#71098;&#71054;&#71079;&#71069;&#71088;</rb><rt>vyavalokayati</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71078;&#71106;</rb><rt>sma.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#35264;</rb><!-- 觀 --><rt>Quán</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>Tự</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>Tại</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành</rt></ruby>
		<ruby><rb>&#28145;</rb><!-- 深 --><rt>thâm</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>Bát</rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhã</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>Ba</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#34588;</rb><!-- 蜜 --><rt>mật</rt></ruby>
		<ruby><rb>&#22810;</rb><!-- 多 --><rt>đa</rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="en">The noble Bodhisattva Avalokitesvara dwelt abiding in the essence of the perfection of wisdom</span><br />
	<span lang="fr">Pendant que le Bodhisattva Avalokitesvara pratiquait de façon approfondie la connaissance transcendante,</span><br />
	<span lang="de">Der Edle Bodhisattwa Avalokitesvara verweilte in der Essenz der Vollkommenheit der Weisheit</span><br />
	<span lang="it">Il Bodhisattva Avalokita, immerso nella profonda Saggezza che-va-oltre,</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71074;&#71063;&#71103;&#71059;</rb><rt>pañca</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71054;&#71073;&#71103;&#71072;&#71087;&#71102;,</rb><rt>skandhāḥ,</rt></ruby>
		<ruby><rb>&#71069;&#71087;&#71101;&#71083;&#71103;&#71059;</rb><rt>tāṃśca</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71077;&#71087;&#71082;&#71083;&#71091;&#71073;&#71103;&#71079;&#71087;&#71073;&#71103;</rb><rt>svabhāvaśūnyān</rt></ruby>
		<ruby><rb>&#71074;&#71083;&#71103;&#71079;&#71069;&#71088;</rb><rt>paśyati</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71078;&#71107;</rb><rt>sma.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#29031;</rb><!-- 照 --><rt>chiếu</rt></ruby>
		<ruby><rb>&#35211;</rb><!-- 見 --><rt>kiến</rt></ruby>
		<ruby><rb>&#20116;</rb><!-- 五 --><rt>ngũ</rt></ruby>
		<ruby><rb>&#34314;</rb><!-- 蘊 --><rt>uẩn</rt></ruby>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24230;</rb><!-- 度 --><rt>độ</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ</rt></ruby>
		<ruby><rb>&#21380;</rb><!-- 厄 --><rt>ách.</rt></ruby>
	</span><br />
	<span lang="en">and recognised that the 5 aggregates are empty, and overcame all suffering and ills.</span><br />
	<span lang="fr">il réalisa dans cette investigation que la véritable nature des 5 agrégats est leur inexistence et ainsi il parvint à la libération de toutes misères et de toutes souffrances.</span><br />
	<span lang="de">und erkannte, daß die 5 Aggregate leer sind und überwand alles Leid und Unheil.</span><br />
	<span lang="it">vide la natura vuota dei 5 aggregati, superando così ogni dolore.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71042;&#71086;</rb><rt>iha</rt></ruby>
		<ruby><rb>&#71083;&#71087;&#71080;&#71088;&#71074;&#71090;&#71069;&#71103;&#71080;</rb><rt>śāriputra</rt></ruby>
		<ruby><rb>&#71080;&#71091;&#71074;&#71101;</rb><rt>rūpaṃ</rt></ruby>
		<ruby><rb>&#71083;&#71091;&#71073;&#71103;&#71079;&#71069;&#71087;,</rb><rt>śūnyatā,</rt></ruby>
		<ruby><rb>&#71083;&#71091;&#71073;&#71103;&#71079;&#71069;&#71097;&#71082;</rb><rt>śūnyataiva</rt></ruby>
		<ruby><rb>&#71080;&#71091;&#71074;&#71078;&#71103;&#71106;</rb><rt>rūpam.</rt></ruby>
		<ruby><rb>&#71080;&#71091;&#71074;&#71087;&#71073;&#71103;&#71073;</rb><rt>rūpānna</rt></ruby>
		<ruby><rb>&#71074;&#71092;&#71070;&#71054;&#71103;</rb><rt>pṛthak</rt></ruby>
		<ruby><rb>&#71083;&#71091;&#71073;&#71103;&#71079;&#71069;&#71087;,</rb><rt>śūnyatā,</rt></ruby>
		<ruby><rb>&#71083;&#71091;&#71073;&#71103;&#71079;&#71069;&#71087;&#71079;&#71087;</rb><rt>śūnyatāyā</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71074;&#71092;&#71070;&#71056;&#71103;</rb><rt>pṛthag</rt></ruby>
		<ruby><rb>&#71080;&#71091;&#71074;&#71078;&#71103;&#71106;</rb><rt>rūpam.</rt></ruby>
		<ruby><rb>&#71079;&#71071;&#71103;&#71080;&#71091;&#71074;&#71101;</rb><rt>yadrūpaṃ</rt></ruby>
		<ruby><rb>&#71085;&#71087;</rb><rt>sā</rt></ruby>
		<ruby><rb>&#71083;&#71091;&#71073;&#71103;&#71079;&#71069;&#71087;,</rb><rt>śūnyatā,</rt></ruby>
		<ruby><rb>&#71079;&#71087;</rb><rt>yā</rt></ruby>
		<ruby><rb>&#71083;&#71091;&#71073;&#71103;&#71079;&#71069;&#71087;</rb><rt>śūnyatā</rt></ruby>
		<ruby><rb>&#71069;&#71071;&#71103;&#71080;&#71091;&#71074;&#71078;&#71103;&#71107;</rb><rt>tadrūpam.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#33293;</rb><!-- 舍 --><rt>Xá</rt></ruby>
		<ruby><rb>&#21033;</rb><!-- 利 --><rt>lợi</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử!</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>Sắc</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#30064;</rb><!-- 異 --><rt>dị</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#30064;</rb><!-- 異 --><rt>dị</rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc</rt></ruby>
		<ruby><rb>&#21363;</rb><!-- 即 --><rt>tức</rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#21363;</rb><!-- 即 --><rt>tức</rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
	</span><br />
	<span lang="en">Sariputra! Form does not differ from emptiness nor does emptiness differ from form.</span><br />
	<span lang="fr">O Sâriputa! Les formes ne sont pas différentes de la vacuité et la vacuité elle-même n’est pas différente des formes : les formes sont la vacuité et la vacuité est ce que les formes sont.</span><br />
	<span lang="de">Sariputra! Form ist nicht verschieden von Leerheit noch Leerheit verschieden von Form.</span><br />
	<span lang="it">Oh Shāriputra, la forma non è diversa dal vuoto, il vuoto non è diverso dalla forma. La forma è vuoto, il vuoto è forma.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71050;&#71082;&#71078;&#71096;&#71082;</rb><rt>evameva</rt></ruby>
		<ruby><rb>&#71082;&#71096;&#71071;&#71073;&#71087;&#71085;&#71101;&#71061;&#71103;&#71063;&#71087;&#71085;&#71101;&#71085;&#71103;&#71054;&#71087;&#71080;&#71082;&#71088;&#71061;&#71103;&#71063;&#71087;&#71073;&#71087;&#71073;&#71088;&#71107;</rb><rt>vedanāsaṃjñāsaṃskāravijñānāni.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#24819;</rb><!-- 想 --><rt>tưởng,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#35672;</rb><!-- 識 --><rt>thức,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>diệc</rt></ruby>
		<ruby><rb>&#24489;</rb><!-- 復 --><rt>phục</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>như</rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="en">The same holds true of feeling, distinguishing, formative factors and consciousness.</span><br />
	<span lang="fr">Il en est de même pour les sensations, les représentations mentales, les formations de la pensée et les consciences.</span><br />
	<span lang="de">Mit Empfindung; Unterscheidung, Gestaltenden Faktoren und Bewußtsein verhält es sich ebenso.</span><br />
	<span lang="it">Così anche per sensazioni, percezioni, tendenze e coscienze.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71042;&#71086;&#71101;</rb><rt>ihaṃ</rt></ruby>
		<ruby><rb>&#71083;&#71087;&#71080;&#71088;&#71074;&#71090;&#71069;&#71103;&#71080;</rb><rt>śāriputra</rt></ruby>
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;&#71072;&#71080;&#71103;&#71078;&#71087;&#71102;</rb><rt>sarvadharmāḥ</rt></ruby>
		<ruby><rb>&#71083;&#71091;&#71073;&#71103;&#71079;&#71069;&#71087;&#71081;&#71054;&#71103;&#71084;&#71068;&#71087;</rb><rt>śūnyatālakṣaṇā</rt></ruby>
		<ruby><rb>&#71040;&#71073;&#71090;&#71069;&#71103;&#71074;&#71073;&#71103;&#71073;&#71087;</rb><rt>anutpannā</rt></ruby>
		<ruby><rb>&#71040;&#71073;&#71088;&#71080;&#71090;&#71071;&#71103;&#71072;&#71087;</rb><rt>aniruddhā</rt></ruby>
		<ruby><rb>&#71040;&#71078;&#71081;&#71087;</rb><rt>amalā</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71082;&#71088;&#71078;&#71081;&#71087;</rb><rt>vimalā</rt></ruby>
		<ruby><rb>&#71073;&#71098;&#71073;&#71087;</rb><rt>nonā</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71074;&#71080;&#71088;&#71074;&#71091;&#71080;&#71103;&#71068;&#71087;&#71102;&#71106;</rb><rt>paripūrṇāḥ.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#33293;</rb><!-- 舍 --><rt>Xá</rt></ruby>
		<ruby><rb>&#21033;</rb><!-- 利 --><rt>lợi</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử!</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>Thị</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#30456;</rb><!-- 相 --><rt>tướng,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#28357;</rb><!-- 滅 --><rt>diệt,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#22434;</rb><!-- 垢 --><rt>cấu,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#22686;</rb><!-- 增 --><rt>tăng,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#28187;</rb><!-- 減 --><rt>giảm.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="en">Sariputra! All phenomena are characterised by emptiness. They do not arise, they do not pass away, are neither defiled nor undefiled, neither increase nor decrease.</span><br />
	<span lang="fr">O Sâriputa! Toutes choses ont pour nature essentielle la vacuité : elles ne sont ni créées, ni indestructible, ni engendrées, ni purs. Elles n’augmentent pas, ni diminuent.</span><br />
	<span lang="de">Sariputra! Alle Phänomene haben das Merkmal der Leerheit. Sie entstehen nicht, sie vergehen nicht, sind weder befleckt noch unbefleckt, nehmen weder zu, noch nehmen sie ab.</span><br />
	<span lang="it">Oh Shāriputra, tutti i fenomeni sono per natura vuoti: mai nati né estinti, mai impuri né puri, mai crescenti né decrescenti.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71069;&#71085;&#71103;&#71078;&#71087;&#71059;&#71103;&#71060;&#71087;&#71080;&#71088;&#71074;&#71090;&#71069;&#71103;&#71080;</rb><rt>tasmācchāriputra</rt></ruby>
		<ruby><rb>&#71083;&#71091;&#71073;&#71103;&#71079;&#71069;&#71087;&#71079;&#71087;&#71101;</rb><rt>śūnyatāyāṃ</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71080;&#71091;&#71074;&#71078;&#71103;,</rb><rt>rūpam,</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71082;&#71096;&#71071;&#71073;&#71087;,</rb><rt>vedanā,</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71085;&#71101;&#71061;&#71103;&#71063;&#71087;,</rb><rt>saṃjñā,</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71085;&#71101;&#71085;&#71103;&#71054;&#71087;&#71080;&#71087;&#71102;,</rb><rt>saṃskārāḥ,</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71082;&#71088;&#71061;&#71103;&#71063;&#71087;&#71073;&#71087;&#71073;&#71088;&#71106;</rb><rt>vijñānāni.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>Thị</rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>cố</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#24819;</rb><!-- 想 --><rt>tưởng,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#35672;</rb><!-- 識 --><rt>thức,</rt></ruby>
		<ruby><rb>&#65307;</rb><!-- ； --><rt></rt></ruby>
	</span><br />
	<span lang="en">Therefore in emptiness there is no form, no feeling, no distinguishing, no formative factors and no consciousness.</span><br />
	<span lang="fr">En conséquence, dans la vacuité il n’y a pas de formes, ni de sensations, de représentations mentales, de formations de la pensée et des consciences.</span><br />
	<span lang="de">Deshalb gibt es in der Leerheit keine Form, keine Empfindung, keine Unterscheidung, keine Gestaltenden Faktoren und keine Bewußtsein.</span><br />
	<span lang="it">Perciò, nel vuoto non ci sono forma, sensazione, percezione, tendenza, coscienza;</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71059;&#71054;&#71103;&#71084;&#71090;&#71102;&#71083;&#71103;&#71080;&#71098;&#71069;&#71103;&#71080;&#71057;&#71103;&#71080;&#71087;&#71068;&#71061;&#71088;&#71086;&#71103;&#71082;&#71087;&#71054;&#71087;&#71079;&#71078;&#71073;&#71087;&#71101;&#71085;&#71088;,</rb><rt>cakṣuḥśrotraghrāṇajihvākāyamanāṃsi,</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71080;&#71091;&#71074;&#71083;&#71076;&#71103;&#71071;&#71056;&#71073;&#71103;&#71072;&#71080;&#71085;&#71085;&#71103;&#71074;&#71103;&#71080;&#71084;&#71103;&#71064;&#71082;&#71103;&#71079;&#71072;&#71080;&#71103;&#71078;&#71087;&#71102;&#71106;</rb><rt>rūpaśabdagandharasaspraṣṭavyadharmāḥ.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#30524;</rb><!-- 眼 --><rt>nhãn,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#32819;</rb><!-- 耳 --><rt>nhĩ,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#40763;</rb><!-- 鼻 --><rt>tỷ,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#33292;</rb><!-- 舌 --><rt>thiệt,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#24847;</rb><!-- 意 --><rt>ý;</rt></ruby>
		<ruby><rb>&#65307;</rb><!-- ； --><rt></rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#32882;</rb><!-- 聲 --><rt>thinh,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#39321;</rb><!-- 香 --><rt>hương,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#21619;</rb><!-- 味 --><rt>vị,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#35320;</rb><!-- 觸 --><rt>xúc,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp;</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="en">There are no eyes, no ears, no nose, no tongue, no body, no mind; there is no sight, no sounds, no smells, no tastes, no touch and no phenomena;</span><br />
	<span lang="fr">Il n’y a point d’yeux, d’oreilles, de nez, de langue, de corps et de mental. Il n’y a pas de formes, de sons, d’odeurs, de saveurs, du toucher ni d’objets mentaux.</span><br />
	<span lang="de">Es gibt keine Augen, keine Ohren, keine Nase, keine Zunge, keinen Körper, keinen Geist; es gibt nichts Sichtbares, keine Töne, keine Gerüche, keine Geschmäcke, nichts Tastbares und keine Phänomene;</span><br />
	<span lang="it">né occhio, orecchio, naso, lingua, corpo, mente; né colore, suono, odore, sapore, contatto, idea.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71059;&#71054;&#71103;&#71084;&#71090;&#71080;&#71103;&#71072;&#71087;&#71069;&#71090;&#71080;&#71103;&#71079;&#71087;&#71082;&#71073;&#71103;&#71073;</rb><rt>cakṣurdhāturyāvanna</rt></ruby>
		<ruby><rb>&#71078;&#71073;&#71098;&#71072;&#71087;&#71069;&#71090;&#71102;&#71107;</rb><rt>manodhātuḥ.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#30524;</rb><!-- 眼 --><rt>nhãn</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20035;</rb><!-- 乃 --><rt>nãi</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>chí</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#24847;</rb><!-- 意 --><rt>ý</rt></ruby>
		<ruby><rb>&#35672;</rb><!-- 識 --><rt>thức</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="en">There are no elements, no elements/realms of sight up to no elements of mental consciousness.</span><br />
	<span lang="fr">Il n’y a pas de domaine visuel et ainsi de suite jusqu’à l’inexistence de domaine de la conscience mentale.</span><br />
	<span lang="de">Es gibt keine Elemente, keine Elemente des Sichtbaren bis hin zu keine Elemente des Geistigen Bewußtseins.</span><br />
	<span lang="it">Non c’è regno visivo, e così via fino alla coscienza mentale.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71082;&#71088;&#71071;&#71103;&#71079;&#71087;</rb><rt>vidyā</rt></ruby>
		<ruby><rb>&#71073;&#71087;&#71082;&#71088;&#71071;&#71103;&#71079;&#71087;</rb><rt>nāvidyā</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71082;&#71088;&#71071;&#71103;&#71079;&#71087;&#71054;&#71103;&#71084;&#71079;&#71098;</rb><rt>vidyākṣayo</rt></ruby>
		<ruby><rb>&#71073;&#71087;&#71082;&#71088;&#71071;&#71103;&#71079;&#71087;&#71054;&#71103;&#71084;&#71079;&#71098;</rb><rt>nāvidyākṣayo</rt></ruby>
		<ruby><rb>&#71079;&#71087;&#71082;&#71073;&#71103;&#71073;</rb><rt>yāvanna</rt></ruby>
		<ruby><rb>&#71061;&#71080;&#71087;&#71078;&#71080;&#71068;&#71101;</rb><rt>jarāmaraṇaṃ</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71061;&#71080;&#71087;&#71078;&#71080;&#71068;&#71054;&#71103;&#71084;&#71079;&#71098;</rb><rt>jarāmaraṇakṣayo</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71071;&#71090;&#71102;&#71055;&#71085;&#71078;&#71090;&#71071;&#71079;&#71073;&#71088;&#71080;&#71098;&#71072;&#71078;&#71087;&#71080;&#71103;&#71056;&#71087;</rb><rt>duḥkhasamudayanirodhamārgā</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71061;&#71103;&#71063;&#71087;&#71073;&#71101;</rb><rt>jñānaṃ</rt></ruby>
		<ruby><rb>&#71073;</rb><rt>na</rt></ruby>
		<ruby><rb>&#71074;&#71103;&#71080;&#71087;&#71074;&#71103;&#71069;&#71088;&#71069;&#71103;&#71082;&#71078;&#71103;&#71107;</rb><rt>prāptitvam.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>diệc,</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh</rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20035;</rb><!-- 乃 --><rt>nãi</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>chí</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#32769;</rb><!-- 老 --><rt>lão</rt></ruby>
		<ruby><rb>&#27515;</rb><!-- 死 --><rt>tử,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>diệc</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#32769;</rb><!-- 老 --><rt>lão</rt></ruby>
		<ruby><rb>&#27515;</rb><!-- 死 --><rt>tử</rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ,</rt></ruby>
		<ruby><rb>&#38598;</rb><!-- 集 --><rt>tập,</rt></ruby>
		<ruby><rb>&#28357;</rb><!-- 滅 --><rt>diệt,</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo;</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>trí</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>diệc</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="en">There are no links of dependent origination, no ignorance and no cessation of ignorance up to no old age and death and no cessation of old age and death. There is no suffering, no origin, no cessation, no path. There is no wisdom and no attainment.</span><br />
	<span lang="fr">Il n’y a pas d’ignorance ni d’extinction de l’ignorance et ainsi de suite jusqu’à ce que vous parvenions là où Il n’y a pas de vieillesse, ni de mort, pas plus que l’extinction de la vieillesse et de la mort. Il n’y a pas de souffrance, ni de la formation de la souffrance, ni de cessation de la souffrance, ni de voie menant à la cessation de la souffrance. Il n’y a pas d’acquisition de la sagesse, ni de la réussite.</span><br />
	<span lang="de">Es gibt keine Glieder des Abhängigen Entstehens, keine Unwissenheit und kein Aufhören der Unwissenheit, bis hin zu kein Alter und Tod und kein Aufhören von Alter und Tod. Es gibt kein Leid, keinen Ursprung, keine Beendigung, keinen Pfad. Es gibt keine Weisheit und kein Erlangen.</span><br />
	<span lang="it">Non c'è ignoranza, né la sua fine e così via fino alla vecchiaia e morte, né la loro fine. Non c'è sofferenza, né causa, né estinzione, né Sentiero. Non c'è conoscenza, né ottenimento.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71076;&#71098;&#71072;&#71088;&#71085;&#71069;&#71103;&#71069;&#71103;&#71082;&#71085;&#71103;&#71079;(&#71083;&#71103;&#71059;)</rb><rt>bodhisattvasya(śca)</rt></ruby>
		<ruby><rb>&#71074;&#71103;&#71080;&#71061;&#71103;&#71063;&#71087;&#71074;&#71087;&#71080;&#71078;&#71088;&#71069;&#71087;&#71078;&#71087;&#71083;&#71103;&#71080;&#71088;&#71069;&#71103;&#71079;</rb><rt>prajñāpāramitāmāśritya</rt></ruby>
		<ruby><rb>&#71082;&#71088;&#71086;&#71080;&#71069;&#71088;</rb><rt>viharati</rt></ruby>
		<ruby><rb>&#71059;&#71088;&#71069;&#71103;&#71069;&#71087;&#71082;&#71080;&#71068;&#71102;&#71106;</rb><rt>cittāvaraṇaḥ.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>Dĩ</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>cố,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		<ruby><rb>&#22517;</rb><!-- 埵 --><rt>đỏa</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#33324;</rb><!-- 般 --><rt>bát</rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhã</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>ba</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#34588;</rb><!-- 蜜 --><rt>mật</rt></ruby>
		<ruby><rb>&#22810;</rb><!-- 多 --><rt>đa</rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>cố,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#32611;</rb><!-- 罣 --><rt>quái</rt></ruby>
		<ruby><rb>&#31001;</rb><!-- 礙 --><rt>ngại;</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="en">Because there is no attainment, the bodhisattva, supported by the essence of the perfection of wisdom, is unimpeded in his mind;</span><br />
	<span lang="fr">Puisqu’il n’y a pas de but à atteindre, les Bodhisattvas prennent appui sur la connaissance transcendante et ainsi leur esprit est libéré des distorsions.</span><br />
	<span lang="de">Weil es kein Erlangen gibt, ist der Bodhisattwa, gestützt auf die Essenz der Vollkommenheit der Weisheit in seinem Geist ungehindert;</span><br />
	<span lang="it">Poiché nulla vi è da ottenere, il bodhisattva, saldo nella Saggezza che-va-oltre, vive con la mente libera da ostacoli.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71076;&#71098;&#71071;&#71103;&#71059;&#71088;&#71069;&#71103;&#71069;&#71087;&#71082;&#71080;&#71068;&#71073;&#71087;&#71085;&#71103;&#71069;&#71088;&#71069;&#71103;&#71082;&#71087;&#71071;&#71069;&#71103;&#71080;&#71085;&#71103;&#71069;&#71098;</rb><rt>bodcittāvaraṇanāstitvādatrasto</rt></ruby>
		<ruby><rb>&#71082;&#71088;&#71074;&#71080;&#71103;&#71079;&#71087;&#71085;&#71087;&#71069;&#71088;&#71054;&#71103;&#71080;&#71087;&#71073;&#71103;&#71069;&#71098;</rb><rt>viparyāsātikrānto</rt></ruby>
		<ruby><rb>&#71073;&#71088;&#71084;&#71103;&#71065;&#71073;&#71088;&#71080;&#71103;&#71082;&#71087;&#71068;&#71102;&#71106;</rb><rt>niṣṭhanirvāṇaḥ.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#32611;</rb><!-- 罣 --><rt>quái</rt></ruby>
		<ruby><rb>&#31001;</rb><!-- 礙 --><rt>ngại</rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>cố,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#24656;</rb><!-- 恐 --><rt>khủng</rt></ruby>
		<ruby><rb>&#24598;</rb><!-- 怖 --><rt>bố,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#36960;</rb><!-- 遠 --><rt>viễn</rt></ruby>
		<ruby><rb>&#38626;</rb><!-- 離 --><rt>ly</rt></ruby>
		<ruby><rb>&#39003;</rb><!-- 顛 --><rt>điên</rt></ruby>
		<ruby><rb>&#20498;</rb><!-- 倒 --><rt>đảo</rt></ruby>
		<ruby><rb>&#22818;</rb><!-- 夢 --><rt>mộng</rt></ruby>
		<ruby><rb>&#24819;</rb><!-- 想 --><rt>tưởng,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#31350;</rb><!-- 究 --><rt>cứu</rt></ruby>
		<ruby><rb>&#31455;</rb><!-- 竟 --><rt>cánh</rt></ruby>
		<ruby><rb>&#28037;</rb><!-- 涅 --><rt>Niết</rt></ruby>
		<ruby><rb>&#30436;</rb><!-- 盤 --><rt>bàn.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="en">Because he is unimpeded he has no fear. He removes confusions and illusions and thus achieves perfect nirvana.</span><br />
	<span lang="fr">Libres de tous obstacles, ils ne connaissent plus aucune terreur, ils s’éloignent de toutes illusions déconcertantes et finissent par atteindre le nirvana complet.</span><br />
	<span lang="de">Weil er ungehindert ist, hat er keine Furcht. Er entfernt die Verwirrungen und Illusionen und erreicht so das Vollkommene Nirvana.</span><br />
	<span lang="it">Senza ostacoli non ha timore, abbandona per sempre le illusioni ed entra nel nirvāna.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71069;&#71103;&#71080;&#71103;&#71079;&#71072;&#71103;&#71082;&#71082;&#71103;&#71079;&#71082;&#71085;&#71103;&#71070;&#71088;&#71069;&#71087;&#71102;</rb><rt>tryadhvavyavasthitāḥ</rt></ruby>
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71102;</rb><rt>sarvabuddhāḥ</rt></ruby>
		<ruby><rb>&#71074;&#71103;&#71080;&#71061;&#71103;&#71063;&#71087;&#71074;&#71087;&#71080;&#71078;&#71088;&#71069;&#71087;&#71078;&#71087;&#71083;&#71103;&#71080;&#71088;&#71069;&#71103;&#71079;</rb><rt>prajñāpāramitāmāśritya</rt></ruby>
		<ruby><rb>&#71040;&#71073;&#71090;&#71069;&#71103;&#71069;&#71080;&#71087;&#71101;</rb><rt>anuttarāṃ</rt></ruby>
		<ruby><rb>&#71085;&#71078;&#71103;&#71079;&#71054;&#71103;&#71085;&#71101;&#71076;&#71098;&#71072;&#71088;&#71078;&#71077;&#71088;&#71085;&#71101;&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71102;&#71107;</rb><rt>samyaksaṃbodhimabhisaṃbuddhāḥ.</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>Bát</rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhã</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>ba</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#34588;</rb><!-- 蜜 --><rt>mật</rt></ruby>
		<ruby><rb>&#22810;</rb><!-- 多 --><rt>đa</rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>cố,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#34256;</rb><!-- 藐 --><rt>nậu</rt></ruby>
		<ruby><rb>&#22810;</rb><!-- 多 --><rt>đa</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#34256;</rb><!-- 藐 --><rt>miệu</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>bồ</rt></ruby>
		<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="en">All buddhas of the 3 times, supported by the essence of the perfection of wisdom, attain the peerless, perfect enlightenment.</span><br />
	<span lang="fr">Les Bouddhas des 3 temps prennent appui sur la connaissance transcendante et parviennent à l’Éveil authentique absolu et parfait.</span><br />
	<span lang="de">Alle Buddhas der 3 Zeiten, erlangen gestützt auf die Essenz der Vollkommenheit der Weisheit, die unübertroffene, vollkommene Erleuchtung.</span><br />
	<span lang="it">Vivendo nella Saggezza che-va-oltre, tutti i Buddha dei 3 tempi realizzano la suprema, perfetta illuminazione.</span>
</p>
<p class="multi-lang">
	<span lang="sa">
		<ruby><rb>&#71069;&#71085;&#71103;&#71078;&#71087;&#71061;&#71103;&#71061;&#71103;&#71063;&#71087;&#71069;&#71082;&#71103;&#71079;&#71102;</rb><rt>tasmājjñātavyaḥ</rt></ruby>
		<ruby><rb>&#71074;&#71103;&#71080;&#71061;&#71103;&#71063;&#71087;&#71074;&#71087;&#71080;&#71078;&#71088;&#71069;&#71087;&#71078;&#71086;&#71087;&#71078;&#71073;&#71103;&#71069;&#71103;&#71080;&#71098;</rb><rt>prajñāpāramitāmahāmantro</rt></ruby>
		<ruby><rb>&#71078;&#71086;&#71087;&#71082;&#71088;&#71071;&#71103;&#71079;&#71087;&#71078;&#71073;&#71103;&#71069;&#71103;&#71080;&#71098;&#71073;&#71090;&#71069;&#71103;&#71069;&#71080;&#71078;&#71073;&#71103;&#71069;&#71103;&#71080;&#71098;&#71085;&#71078;&#71085;&#71078;&#71078;&#71073;&#71103;&#71069;&#71103;&#71080;&#71102;</rb><rt>mahāvidyāmantro'nuttaramantro'samasamamantraḥ</rt></ruby>
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;&#71071;&#71090;&#71102;&#71055;&#71074;&#71103;&#71080;&#71083;&#71078;&#71073;&#71102;</rb><rt>sarvaduḥkhapraśamanaḥ</rt></ruby>
		<ruby><rb>&#71085;&#71069;&#71103;&#71079;&#71078;&#71078;&#71088;&#71070;&#71103;&#71079;&#71069;&#71103;&#71082;&#71087;&#71069;&#71103;</rb><rt>satyamamithyatvāt</rt></ruby>
		<ruby><rb>&#71074;&#71103;&#71080;&#71061;&#71103;&#71063;&#71087;&#71074;&#71087;&#71080;&#71078;&#71088;&#71069;&#71087;&#71079;&#71087;&#71078;&#71090;&#71054;&#71103;&#71069;&#71098;</rb><rt>prajñāpāramitāyāmukto</rt></ruby>
		<ruby><rb>&#71078;&#71073;&#71103;&#71069;&#71103;&#71080;&#71102;&#71106;</rb><rt>mantraḥ.</rt></ruby>
		<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;-</rb><rt>tadyathā-</rt></ruby>
	</span><br />
	<span lang="zh-Hant">
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>Cố</rt></ruby>
		<ruby><rb>&#30693;</rb><!-- 知 --><rt>tri</rt></ruby>
		<ruby><rb>&#33324;</rb><!-- 般 --><rt>Bát</rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhã</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>ba</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#34588;</rb><!-- 蜜 --><rt>mật</rt></ruby>
		<ruby><rb>&#22810;</rb><!-- 多 --><rt>đa,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#33021;</rb><!-- 能 --><rt>năng</rt></ruby>
		<ruby><rb>&#38500;</rb><!-- 除 --><rt>trừ</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
		<ruby><rb>&#23526;</rb><!-- 實 --><rt>thiệt</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#34395;</rb><!-- 虛 --><rt>hư</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>Cố</rt></ruby>
		<ruby><rb>&#35498;</rb><!-- 說 --><rt>thuyết</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>Bát</rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhã</rt></ruby>
		<ruby><rb>&#27874;</rb><!-- 波 --><rt>ba</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#34588;</rb><!-- 蜜 --><rt>mật</rt></ruby>
		<ruby><rb>&#22810;</rb><!-- 多 --><rt>đa</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21363;</rb><!-- 即 --><rt>tức</rt></ruby>
		<ruby><rb>&#35498;</rb><!-- 說 --><rt>thuyết</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		<ruby><rb>&#26352;</rb><!-- 曰 --><rt>viết:</rt></ruby>
		<ruby><rb>&#65306;</rb><!-- ： --><rt></rt></ruby>
	</span><br />
	<span lang="en">If the essence of the perfection of wisdom has been understood, this great magical mantra, this great shining mantra, this peerless mantra, this incomparable mantra all suffering can be overcome. This is true and not false. Therefore recite the mantra of the essence of the perfection of wisdom in this way:</span><br />
	<span lang="fr">En conséquence, il faut savoir que la connaissance transcendante est le grand mantra, le grand mantra lumineux, le mantra suprême, le mantra in égalisé, capable de guérir toutes les souffrances. C’est la pure vérité sans défaillance. Réciter la formule de la connaissance transcendante, c’est réciter le mantra</span><br />
	<span lang="de">Ist die Essenz der Vollkommenheit der Weisheit verstanden, dieses große magische Mantra, dieses große leuchtende Mantra, dieses unübertroffene Mantra, dieses unvergleichliche Mantra, kann alles Leid überwunden werden. Dies ist wahr und nicht falsch. Darum rezitiere man das Mantra der Essenz der Vollkommenheit der Weisheit, also:</span><br />
	<span lang="it">Sappi, quindi, che la Saggezza che-va-oltre è il sublime mantra, grande mantra luminoso, mantra supremo, mantra incomparabile, capace di dissolvere ogni sofferenza. È vero, senza errori. Recita, perciò, il mantra della Saggezza che-va-oltre, il mantra che dice:</span>
</p>
<p class="multi-lang mantra-seg">
	<span lang="vi">Yết-đế yết-đế, ba-la yết-đế, ba-la-tăng yết-đế, bồ-đề tát bà ha.</span>&nbsp;(×3)<br />
	<span lang="sa">
		<ruby><rb>&#71056;&#71069;&#71096;</rb><rt>gate</rt></ruby>
		<ruby><rb>&#71056;&#71069;&#71096;</rb><rt>gate</rt></ruby>
		<ruby><rb>&#71074;&#71087;&#71080;&#71056;&#71069;&#71096;</rb><rt>pāragate</rt></ruby>
		<ruby><rb>&#71074;&#71087;&#71080;&#71085;&#71101;&#71056;&#71069;&#71096;</rb><rt>pārasaṃgate</rt></ruby>
		<ruby><rb>&#71076;&#71098;&#71072;&#71088;</rb><rt>bodhi</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;&#71107;</rb><rt>svāhā</rt></ruby>
	</span><br />
	<span lang="en">Gone, gone, everyone gone to the other shore, awakening, svaha</span><br />
	<span lang="fr">Allé, allé, allé au-delà, allé complètement au-delà, l'Éveil soit réalisé!</span><br />
	<span lang="de">Gegangen, gegangen, hinübergegangen, ganz hinübergegangen, oh welch ein Erwachen, vollkommener Segen!</span><br />
	<span lang="it">Andato, andato, andato oltre, andato completamente oltre, omaggio all'illuminazione!</span>
</p>
