---
title: kinh Dược Sư
numb: 8
---

<header><h2>
	kinh Dược Sư
</h2></header>
<details>
	<summary>Đại Chính tạng T14 n0450 p0404c12</summary>
	<ul>
		<li>Sanskrit:<ul>
			<li><a class="my-ref">https://www.dsbcproject.org/canon-text/content/36/283</a></li>
			<li><a class="my-ref">https://www.dsbcproject.org/canon-text/content/431/2030</a></li>
		</ul></li>
		<li>CBETA:<ul>
			<li><a class="my-ref">https://cbetaonline.dila.edu.tw/en/T14n0450_p0404c12</a></li>
			<li><a class="my-ref">https://tripitaka.cbeta.org/en/T14n0450_001</a></li>
		</ul></li>
		<li>trans:<ul>
			<li><a class="my-ref">https://www2.hf.uio.no/polyglotta/index.php?page=fulltext&view=fulltext&vid=1020</a></li>
		</ul></li>
	</ul>
</details>
<h3 class="center-text fixed-width">&#128679;<!-- 🚧 -->in construction...&#127959;&#65039;<!-- 🏗 with modifier --></h3>
