---
title: kinh Vu Lan
numb: 7
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#30402;</rb><!-- 盂 --><rt>Vu</rt></ruby>
		<ruby><rb>&#34349;</rb><!-- 蘭 --><rt>lan</rt></ruby>
		<ruby><rb>&#30406;</rb><!-- 盆 --><rt>bồn</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>kinh</rt></ruby>
	</span><br />
	<span lang="vi">kinh Vu lan bồn</span><br />
</h2></header>
<h5>lưu ý: kinh Đại Báo Phụ Mẫu Trọng Ân ko nằm trong danh mục CBETA, nên ko chép</h5>
<details>
	<summary>Đại Chính tạng T16 n685 p779a25</summary>
	<ul>
		<li><a class="my-ref">https://cbetaonline.dila.edu.tw/en/T16n0685_p0779a25</a></li>
		<li><a class="my-ref">https://tripitaka.cbeta.org/en/T16n0685_001</a></li>
	</ul>
</details>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#32862;</rb><!-- 聞 --><rt>Văn</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>như</rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#33293;</rb><!-- 舍 --><rt>Xá</rt></ruby>
		<ruby><rb>&#34907;</rb><!-- 衛 --><rt>Vệ</rt></ruby>
		<ruby><rb>&#22283;</rb><!-- 國 --><rt>quốc,</rt></ruby>
		<ruby><rb>&#31047;</rb><!-- 祇 --><rt>Kỳ</rt></ruby>
		<ruby><rb>&#27193;</rb><!-- 樹 --><rt>thọ</rt></ruby>
		<ruby><rb>&#32102;</rb><!-- 給 --><rt>Cấp</rt></ruby>
		<ruby><rb>&#23396;</rb><!-- 孤 --><rt>Cô</rt></ruby>
		<ruby><rb>&#29544;</rb><!-- 獨 --><rt>Độc</rt></ruby>
		<ruby><rb>&#22290;</rb><!-- 園 --><rt>viên.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#29325;</rb><!-- 犍 --><rt>Kiền</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên,</rt></ruby>
		<ruby><rb>&#22987;</rb><!-- 始 --><rt>thỉ</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#20845;</rb><!-- 六 --><rt>lục</rt></ruby>
		<ruby><rb>&#36890;</rb><!-- 通 --><rt>thông,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#27442;</rb><!-- 欲 --><rt>dục</rt></ruby>
		<ruby><rb>&#24230;</rb><!-- 度 --><rt>độ</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#22577;</rb><!-- 報 --><rt>báo</rt></ruby>
		<ruby><rb>&#20083;</rb><!-- 乳 --><rt>nhũ</rt></ruby>
		<ruby><rb>&#21754;</rb><!-- 哺 --><rt>bộ</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#24681;</rb><!-- 恩 --><rt>ân;</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#21363;</rb><!-- 即 --><rt>tức</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		<ruby><rb>&#30524;</rb><!-- 眼 --><rt>nhãn</rt></ruby>
		<ruby><rb>&#35264;</rb><!-- 觀 --><rt>quán</rt></ruby>
		<ruby><rb>&#35222;</rb><!-- 視 --><rt>thị</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#38291;</rb><!-- 間 --><rt>gian,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Ta từng nghe lời tạc như vầy:<br />
		Một thuở nọ Thế-Tôn an-trụ,<br />
		Xá-Vệ thành Kỳ-Thụ viên trung,<br />
		Mục-Liên mới đặng lục-thông,<br />
		Muốn cho cha mẹ khỏi vòng trầm-luân.<br />
		Công dưỡng-dục thâm-ân dốc trả,<br />
		Nghĩa sanh thành đạo cả mong đền,<br />
		Làm con hiếu-hạnh vi tiên,<br />
		Bèn dùng huệ-nhãn dưới trên kiếm tầm.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#35211;</rb><!-- 見 --><rt>kiến</rt></ruby>
		<ruby><rb>&#20854;</rb><!-- 其 --><rt>kỳ</rt></ruby>
		<ruby><rb>&#20129;</rb><!-- 亡 --><rt>vong</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#39187;</rb><!-- 餓 --><rt>ngạ</rt></ruby>
		<ruby><rb>&#39740;</rb><!-- 鬼 --><rt>quỉ</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#35211;</rb><!-- 見 --><rt>kiến</rt></ruby>
		<ruby><rb>&#39154;</rb><!-- 飲 --><rt>ẩm</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30382;</rb><!-- 皮 --><rt>bì</rt></ruby>
		<ruby><rb>&#39592;</rb><!-- 骨 --><rt>cốt</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>liên</rt></ruby>
		<ruby><rb>&#31435;</rb><!-- 立 --><rt>lập.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#21696;</rb><!-- 哀 --><rt>ai,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21363;</rb><!-- 即 --><rt>tức</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#32573;</rb><!-- 缽 --><rt>bát</rt></ruby>
		<ruby><rb>&#30427;</rb><!-- 盛 --><rt>thịnh</rt></ruby>
		<ruby><rb>&#39151;</rb><!-- 飯 --><rt>phạn,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24448;</rb><!-- 往 --><rt>vãng</rt></ruby>
		<ruby><rb>&#39177;</rb><!-- 餉 --><rt>hướng</rt></ruby>
		<ruby><rb>&#20854;</rb><!-- 其 --><rt>kỳ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu.</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Thấy vong-mẫu sanh làm ngạ-quỉ,<br />
		Không uống ăn tiều-tụy hình-hài.<br />
		Mục-Liên thấy vậy bi-ai,<br />
		Biết mẹ đói khát ai-hoài tình thâm.<br />
		Lo phẩm-vật đem dâng từ-mẫu,<br />
		Ðặng đỡ lòng cực khổ bấy lâu.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>Mẫu</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#32573;</rb><!-- 缽 --><rt>bát</rt></ruby>
		<ruby><rb>&#39151;</rb><!-- 飯 --><rt>phạn,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21363;</rb><!-- 即 --><rt>tiện</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#24038;</rb><!-- 左 --><rt>tả</rt></ruby>
		<ruby><rb>&#25163;</rb><!-- 手 --><rt>thủ</rt></ruby>
		<ruby><rb>&#38556;</rb><!-- 障 --><rt>chưởng</rt></ruby>
		<ruby><rb>&#32573;</rb><!-- 缽 --><rt>bát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21491;</rb><!-- 右 --><rt>hữu</rt></ruby>
		<ruby><rb>&#25163;</rb><!-- 手 --><rt>thủ</rt></ruby>
		<ruby><rb>&#25615;</rb><!-- 搏 --><rt>bác</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực</rt></ruby>
		<ruby><rb>&#26410;</rb><!-- 未 --><rt>vị</rt></ruby>
		<ruby><rb>&#20837;</rb><!-- 入 --><rt>nhập</rt></ruby>
		<ruby><rb>&#21475;</rb><!-- 口 --><rt>khẩu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
		<ruby><rb>&#28779;</rb><!-- 火 --><rt>hỏa</rt></ruby>
		<ruby><rb>&#28845;</rb><!-- 炭 --><rt>thán,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#36930;</rb><!-- 遂 --><rt>toại</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Thấy cơm, mẹ rất lo âu,<br />
		Tay tả che đậy, hữu hầu bốc ăn.<br />
		Lòng bỏn xẻn tiền-căn chưa dứt,<br />
		Sợ chúng ma cướp giựt của bà.<br />
		Cơm đưa chưa tới miệng đà,<br />
		Hóa thành than lửa nuốt mà đặng đâu,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#21483;</rb><!-- 叫 --><rt>khiếu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#34399;</rb><!-- 號 --><rt>hào</rt></ruby>
		<ruby><rb>&#28053;</rb><!-- 涕 --><rt>thế</rt></ruby>
		<ruby><rb>&#27875;</rb><!-- 泣 --><rt>khấp,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#39347;</rb><!-- 馳 --><rt>trì</rt></ruby>
		<ruby><rb>&#36996;</rb><!-- 還 --><rt>hoàn</rt></ruby>
		<ruby><rb>&#30333;</rb><!-- 白 --><rt>bạch</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20855;</rb><!-- 具 --><rt>cụ</rt></ruby>
		<ruby><rb>&#38515;</rb><!-- 陳 --><rt>trần</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>như</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Thấy như vậy âu-sầu thê-thảm,<br />
		Mục-Kiền-Liên bi cảm xót thương,<br />
		Mau mau về đến giảng-đường,<br />
		Bạch cùng Sư-phụ tìm phương giải-nàn.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn:</rt></ruby>
		<ruby><rb>&#65306;</rb><!-- ： --><rt></rt></ruby>
		<ruby><rb>&#12300;</rb><!-- 「 --><rt></rt></ruby>
		<ruby><rb>&#27741;</rb><!-- 汝 --><rt>Nhữ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu</rt></ruby>
		<ruby><rb>&#32618;</rb><!-- 罪 --><rt>tội</rt></ruby>
		<ruby><rb>&#26681;</rb><!-- 根 --><rt>căn</rt></ruby>
		<ruby><rb>&#28145;</rb><!-- 深 --><rt>thâm</rt></ruby>
		<ruby><rb>&#32080;</rb><!-- 結 --><rt>kết,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#38750;</rb><!-- 非 --><rt>phi</rt></ruby>
		<ruby><rb>&#27741;</rb><!-- 汝 --><rt>nhữ</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân</rt></ruby>
		<ruby><rb>&#21147;</rb><!-- 力 --><rt>lực</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#22856;</rb><!-- 奈 --><rt>nại</rt></ruby>
		<ruby><rb>&#20309;</rb><!-- 何 --><rt>hà.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Phật mới bảo rõ-ràng căn-cội,<br />
		Rằng mẹ ông gốc tội rất sâu.<br />
		Dầu ông thần lực nhiệm-mầu,<br />
		Một mình không thể ai cầu được đâu.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#27741;</rb><!-- 汝 --><rt>Nhữ</rt></ruby>
		<ruby><rb>&#38614;</rb><!-- 雖 --><rt>tuy</rt></ruby>
		<ruby><rb>&#23389;</rb><!-- 孝 --><rt>hiếu</rt></ruby>
		<ruby><rb>&#38918;</rb><!-- 順 --><rt>thuận,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#32882;</rb><!-- 聲 --><rt>thanh</rt></ruby>
		<ruby><rb>&#21205;</rb><!-- 動 --><rt>động</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>địa,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
		<ruby><rb>&#31070;</rb><!-- 神 --><rt>địa</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>thần</rt></ruby>
		<ruby><rb>&#31047;</rb><!-- 祇 --><rt>kỳ,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#37034;</rb><!-- 邪 --><rt>tà</rt></ruby>
		<ruby><rb>&#39764;</rb><!-- 魔 --><rt>ma</rt></ruby>
		<ruby><rb>&#22806;</rb><!-- 外 --><rt>ngoại</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		<ruby><rb>&#22763;</rb><!-- 士 --><rt>sĩ</rt></ruby>
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>tứ</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
		<ruby><rb>&#29579;</rb><!-- 王 --><rt>vương</rt></ruby>
		<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>diệc</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#33021;</rb><!-- 能 --><rt>năng</rt></ruby>
		<ruby><rb>&#22856;</rb><!-- 奈 --><rt>nại</rt></ruby>
		<ruby><rb>&#20309;</rb><!-- 何 --><rt>hà!</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Lòng hiếu thảo của ông dầu lớn,<br />
		Tiếng vang đồn thấu đến Cửu Thiên.<br />
		Cùng là các bực Thần-kỳ,<br />
		Tà, ma ngoại-đạo, bốn vì Thiên-Vương,<br />
		Cộng ba cõi sáu phương tu-tập,<br />
		Cũng không phương cứu-tế mẹ ngươi.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30070;</rb><!-- 當 --><rt>Đương</rt></ruby>
		<ruby><rb>&#38920;</rb><!-- 須 --><rt>tu</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		<ruby><rb>&#23041;</rb><!-- 威 --><rt>oai</rt></ruby>
		<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#21147;</rb><!-- 力 --><rt>lực,</rt></ruby>
		<ruby><rb>&#20035;</rb><!-- 乃 --><rt>nãi</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#35299;</rb><!-- 解 --><rt>giải</rt></ruby>
		<ruby><rb>&#33067;</rb><!-- 脫 --><rt>thoát.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#21566;</rb><!-- 吾 --><rt>Ngô</rt></ruby>
		<ruby><rb>&#20170;</rb><!-- 今 --><rt>kim</rt></ruby>
		<ruby><rb>&#30070;</rb><!-- 當 --><rt>đương</rt></ruby>
		<ruby><rb>&#35498;</rb><!-- 說 --><rt>thuyết</rt></ruby>
		<ruby><rb>&#25937;</rb><!-- 救 --><rt>cứu</rt></ruby>
		<ruby><rb>&#28639;</rb><!-- 濟 --><rt>tế</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20196;</rb><!-- 令 --><rt>linh</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#38627;</rb><!-- 難 --><rt>nạn</rt></ruby>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#38626;</rb><!-- 離 --><rt>ly</rt></ruby>
		<ruby><rb>&#24962;</rb><!-- 憂 --><rt>ưu</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#12301;</rb><!-- 」 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Muốn cho cứu đặng mạng người.<br />
		Phải nhờ thần-lực của mười phương Tăng.<br />
		Pháp cứu-tế Ta toan giải nói,<br />
		Cho mọi người thoát khỏi ách-nàn,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#21578;</rb><!-- 告 --><rt>cáo</rt></ruby>
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên:</rt></ruby>
		<ruby><rb>&#65306;</rb><!-- ： --><rt></rt></ruby>
		<ruby><rb>&#12300;</rb><!-- 「 --><rt></rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>Thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>Tăng,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#26376;</rb><!-- 月 --><rt>nguyệt</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#20116;</rb><!-- 五 --><rt>ngũ</rt></ruby>
		<ruby><rb>&#26085;</rb><!-- 日 --><rt>nhật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>tự</rt></ruby>
		<ruby><rb>&#24675;</rb><!-- 恣 --><rt>tứ</rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30070;</rb><!-- 當 --><rt>đương</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vị</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#21450;</rb><!-- 及 --><rt>cập</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#21380;</rb><!-- 厄 --><rt>ách</rt></ruby>
		<ruby><rb>&#38627;</rb><!-- 難 --><rt>nạn</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20855;</rb><!-- 具 --><rt>cụ</rt></ruby>
		<ruby><rb>&#39151;</rb><!-- 飯 --><rt>phạn</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>bách</rt></ruby>
		<ruby><rb>&#21619;</rb><!-- 味 --><rt>vị,</rt></ruby>
		<ruby><rb>&#20116;</rb><!-- 五 --><rt>ngũ</rt></ruby>
		<ruby><rb>&#26524;</rb><!-- 果 --><rt>quả,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#27762;</rb><!-- 汲 --><rt>cấp</rt></ruby>
		<ruby><rb>&#28748;</rb><!-- 灌 --><rt>quán</rt></ruby>
		<ruby><rb>&#30406;</rb><!-- 盆 --><rt>bồn</rt></ruby>
		<ruby><rb>&#22120;</rb><!-- 器 --><rt>khí,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#39321;</rb><!-- 香 --><rt>hương</rt></ruby>
		<ruby><rb>&#27833;</rb><!-- 油 --><rt>du,</rt></ruby>
		<ruby><rb>&#37664;</rb><!-- 錠 --><rt>đính</rt></ruby>
		<ruby><rb>&#29165;</rb><!-- 燭 --><rt>chúc,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#24202;</rb><!-- 床 --><rt>sàng</rt></ruby>
		<ruby><rb>&#25975;</rb><!-- 敷 --><rt>phu</rt></ruby>
		<ruby><rb>&#33253;</rb><!-- 臥 --><rt>ngọa</rt></ruby>
		<ruby><rb>&#20855;</rb><!-- 具 --><rt>cụ,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29976;</rb><!-- 甘 --><rt>cam</rt></ruby>
		<ruby><rb>&#32654;</rb><!-- 美 --><rt>mỹ</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#33879;</rb><!-- 著 --><rt>trước</rt></ruby>
		<ruby><rb>&#30406;</rb><!-- 盆 --><rt>bồn</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20379;</rb><!-- 供 --><rt>cúng</rt></ruby>
		<ruby><rb>&#39178;</rb><!-- 養 --><rt>dường</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>tăng.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Bèn kêu Mục-thị đến gần,<br />
		Truyền cho diệu-pháp ân cần thiết thi,<br />
		Rằm tháng bảy là ngày Tự-tứ,<br />
		Mười phương Tăng đều dự lễ này,<br />
		Phải toan sắm-sửa chớ chầy,<br />
		Ðồ ăn trăm món trái cây năm màu.<br />
		Lại phải sắm giường nằm nệm lót,<br />
		Cùng thau, bồn, đèn đuốc, nhang dầu,<br />
		Món ăn tinh-sạch báu mầu,<br />
		Ðựng trong bình-bát vọng-cầu kính dâng,<br />
		Chư Ðại-đức mười phương thọ-thực,<br />
		Trong bảy đời sẽ đặng siêu thăng.<br />
		Lại thêm cha mẹ hiện-tiền,<br />
		Ðặng nhờ phước lực tiêu-khiên ách-nàn.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30070;</rb><!-- 當 --><rt>Đương</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#26085;</rb><!-- 日 --><rt>nhật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#25110;</rb><!-- 或 --><rt>hoặc</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#23665;</rb><!-- 山 --><rt>sơn</rt></ruby>
		<ruby><rb>&#38291;</rb><!-- 間 --><rt>gian</rt></ruby>
		<ruby><rb>&#31146;</rb><!-- 禪 --><rt>thiền</rt></ruby>
		<ruby><rb>&#23450;</rb><!-- 定 --><rt>định,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Vì ngày ấy Thánh-tăng đều đủ,<br />
		Dầu ở đâu cũng tụ hội về.<br />
		Như người Thiền định Sơn-khê,<br />
		Tránh điều phiền-não chăm về thiền-na,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25110;</rb><!-- 或 --><rt>hoặc</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>tứ</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		<ruby><rb>&#26524;</rb><!-- 果 --><rt>quả,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#25110;</rb><!-- 或 --><rt>hoặc</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#27193;</rb><!-- 樹 --><rt>thọ</rt></ruby>
		<ruby><rb>&#19979;</rb><!-- 下 --><rt>hạ</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>kinh</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Hoặc người đặng bốn tòa đạo quả,<br />
		Công tu hành-nguyện thỏa vô-Sanh,<br />
		Hoặc người thọ hạ kinh-hành,<br />
		Chẳng ham quyền-quí ẩn danh lâm-tòng,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25110;</rb><!-- 或 --><rt>hoặc</rt></ruby>
		<ruby><rb>&#20845;</rb><!-- 六 --><rt>lục</rt></ruby>
		<ruby><rb>&#36890;</rb><!-- 通 --><rt>thông</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>tự</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#25945;</rb><!-- 教 --><rt>giáo</rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#32882;</rb><!-- 聲 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#32862;</rb><!-- 聞 --><rt>Văn,</rt></ruby>
		<ruby><rb>&#32227;</rb><!-- 緣 --><rt>Duyên</rt></ruby>
		<ruby><rb>&#35258;</rb><!-- 覺 --><rt>Giác,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#25110;</rb><!-- 或 --><rt>hoặc</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>địa</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>Tát</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#27402;</rb><!-- 權 --><rt>quyền</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#27604;</rb><!-- 比 --><rt>Tỷ</rt></ruby>
		<ruby><rb>&#19992;</rb><!-- 丘 --><rt>kheo,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Hoặc người đặng lục-thông tấn-phát,<br />
		Và những hàng Duyên-giác, Thanh-văn,<br />
		Hoặc chư Bồ-tát mười phương,<br />
		Hiện hình làm sãi ở gần chúng-sanh,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#21516;</rb><!-- 同 --><rt>đồng</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ</rt></ruby>
		<ruby><rb>&#32573;</rb><!-- 缽 --><rt>bát</rt></ruby>
		<ruby><rb>&#21644;</rb><!-- 和 --><rt>hòa</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#39151;</rb><!-- 飯 --><rt>phạn,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20855;</rb><!-- 具 --><rt>cụ</rt></ruby>
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>thanh</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#25106;</rb><!-- 戒 --><rt>giới,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20854;</rb><!-- 其 --><rt>kỳ</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
		<ruby><rb>&#27754;</rb><!-- 汪 --><rt>uông</rt></ruby>
		<ruby><rb>&#27915;</rb><!-- 洋 --><rt>dương,</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Ðều trì giới rất thanh, rất tịnh,<br />
		Ðạo-đức dày chánh-định chơn-tâm,<br />
		Tất cả các bực Thánh, Phàm,<br />
		Ðồng lòng thọ lãnh bát-cơm lục-hòa,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20854;</rb><!-- 其 --><rt>kỳ</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu</rt></ruby>
		<ruby><rb>&#20379;</rb><!-- 供 --><rt>cúng</rt></ruby>
		<ruby><rb>&#39178;</rb><!-- 養 --><rt>dường</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>tự</rt></ruby>
		<ruby><rb>&#24675;</rb><!-- 恣 --><rt>tứ</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#20845;</rb><!-- 六 --><rt>lục</rt></ruby>
		<ruby><rb>&#35242;</rb><!-- 親 --><rt>thân</rt></ruby>
		<ruby><rb>&#30519;</rb><!-- 眷 --><rt>quyến</rt></ruby>
		<ruby><rb>&#23660;</rb><!-- 屬 --><rt>thuộc,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#20986;</rb><!-- 出 --><rt>xuất</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#22615;</rb><!-- 塗 --><rt>đồ</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ</rt></ruby>
		<ruby><rb>&#25033;</rb><!-- 應 --><rt>ứng</rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời</rt></ruby>
		<ruby><rb>&#35299;</rb><!-- 解 --><rt>giải</rt></ruby>
		<ruby><rb>&#33067;</rb><!-- 脫 --><rt>thoát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#34915;</rb><!-- 衣 --><rt>y</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>tự</rt></ruby>
		<ruby><rb>&#28982;</rb><!-- 然 --><rt>nhiên,</rt></ruby>
		<ruby><rb>&#65307;</rb><!-- ； --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Người nào có sắm ra vật thực,<br />
		Ðặng cúng-dường Tự-tứ Tăng thời,<br />
		Hiện-tiền phụ mẫu của người,<br />
		Bà con quyến-thuộc thảy đều nhờ ơn,<br />
		Tam-đồ khổ chắc rằng ra khỏi,<br />
		Cảnh thanh nhàn hưởng-thọ tự-nhiên.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhược</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#31119;</rb><!-- 福 --><rt>phước</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>bách</rt></ruby>
		<ruby><rb>&#24180;</rb><!-- 年 --><rt>niên,</rt></ruby>
		<ruby><rb>&#65307;</rb><!-- ； --><rt></rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhược</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>Thiên,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>tự</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20837;</rb><!-- 入 --><rt>nhập</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
		<ruby><rb>&#33775;</rb><!-- 華 --><rt>hoa</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#12301;</rb><!-- 」 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Như còn cha mẹ hiện-tiền.<br />
		Nhờ đó cũng đặng bá niên thọ-trường,<br />
		Như cha me bảy đời quá-vãng,<br />
		Sẽ hóa sanh về cõi thiên cung,<br />
		Người thời tuấn-tú hình-dung,<br />
		Hào-quang chiếu sáng khắp cùng châu-thân,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>Thời</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#25941;</rb><!-- 敕 --><rt>sắc</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>tăng,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#20808;</rb><!-- 先 --><rt>tiên</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vị</rt></ruby>
		<ruby><rb>&#26045;</rb><!-- 施 --><rt>thí</rt></ruby>
		<ruby><rb>&#20027;</rb><!-- 主 --><rt>chủ</rt></ruby>
		<ruby><rb>&#23478;</rb><!-- 家 --><rt>gia</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Phật dạy bảo mười phương Tăng-chúng,<br />
		Phải tuân theo thể-thức sau nầy:<br />
		Trước khi thọ thực đàn chay,<br />
		Phải cầu chú nguyện cho người tín-gia.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành</rt></ruby>
		<ruby><rb>&#31146;</rb><!-- 禪 --><rt>thiền</rt></ruby>
		<ruby><rb>&#23450;</rb><!-- 定 --><rt>định</rt></ruby>
		<ruby><rb>&#24847;</rb><!-- 意 --><rt>ý,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#28982;</rb><!-- 然 --><rt>nhiên</rt></ruby>
		<ruby><rb>&#24460;</rb><!-- 後 --><rt>hậu</rt></ruby>
		<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Cầu thất-thế mẹ cha thí-chủ,<br />
		Ðịnh tâm-thần quán đủ đừng quên,<br />
		Cho xong định ý hành-thiền,<br />
		Mới dùng phẩm-vật đàn tiền hiến dưng.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21021;</rb><!-- 初 --><rt>Sơ</rt></ruby>
		<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực</rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20808;</rb><!-- 先 --><rt>tiên</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>an</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#21069;</rb><!-- 前 --><rt>tiền,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#22612;</rb><!-- 塔 --><rt>tháp</rt></ruby>
		<ruby><rb>&#23546;</rb><!-- 寺 --><rt>tự</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#21069;</rb><!-- 前 --><rt>tiền,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>tăng</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#31455;</rb><!-- 竟 --><rt>cánh,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20415;</rb><!-- 便 --><rt>tiện</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>tự</rt></ruby>
		<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Khi thọ-dụng, nên an vật-thực,<br />
		Trước Phật-đài hoặc tự tháp trung:<br />
		Chư Tăng chú nguyện viên dung,<br />
		Sau rồi tự tiện thọ dùng bữa trưa,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>Thời</rt></ruby>
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên</rt></ruby>
		<ruby><rb>&#27604;</rb><!-- 比 --><rt>tỳ</rt></ruby>
		<ruby><rb>&#19992;</rb><!-- 丘 --><rt>kheo</rt></ruby>
		<ruby><rb>&#21450;</rb><!-- 及 --><rt>cập</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>Tát</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#27489;</rb><!-- 歡 --><rt>hoan</rt></ruby>
		<ruby><rb>&#21916;</rb><!-- 喜 --><rt>hỉ,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#21884;</rb><!-- 啼 --><rt>đề</rt></ruby>
		<ruby><rb>&#27875;</rb><!-- 泣 --><rt>khấp</rt></ruby>
		<ruby><rb>&#32882;</rb><!-- 聲 --><rt>thanh</rt></ruby>
		<ruby><rb>&#37323;</rb><!-- 釋 --><rt>thích</rt></ruby>
		<ruby><rb>&#28982;</rb><!-- 然 --><rt>nhiên</rt></ruby>
		<ruby><rb>&#38500;</rb><!-- 除 --><rt>trừ</rt></ruby>
		<ruby><rb>&#28357;</rb><!-- 滅 --><rt>diệt.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời</rt></ruby>
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu</rt></ruby>
		<ruby><rb>&#21363;</rb><!-- 即 --><rt>tức</rt></ruby>
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>ư</rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#26085;</rb><!-- 日 --><rt>nhật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#33067;</rb><!-- 脫 --><rt>thoát</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#21163;</rb><!-- 劫 --><rt>kiếp</rt></ruby>
		<ruby><rb>&#39187;</rb><!-- 餓 --><rt>ngạ</rt></ruby>
		<ruby><rb>&#39740;</rb><!-- 鬼 --><rt>quỉ</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Pháp cứu tế Phật vừa nói dứt,<br />
		Mục-Liên cùng Bồ-tát chư Tăng,<br />
		Ðồng nhau tỏ dạ vui mừng,<br />
		Mục-Liên cũng hết khóc thương rầu buồn,<br />
		Mục-Liên Mẫu cũng trong ngày ấy,<br />
		Kiếp khổ về ngạ-quỉ được tan,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên</rt></ruby>
		<ruby><rb>&#24489;</rb><!-- 復 --><rt>phục</rt></ruby>
		<ruby><rb>&#30333;</rb><!-- 白 --><rt>bạch</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn:</rt></ruby>
		<ruby><rb>&#65306;</rb><!-- ： --><rt></rt></ruby>
		<ruby><rb>&#12300;</rb><!-- 「 --><rt></rt></ruby>
		<ruby><rb>&#24351;</rb><!-- 弟 --><rt>Đệ</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#33945;</rb><!-- 蒙 --><rt>mông</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>Bảo</rt></ruby>
		<ruby><rb>&#21151;</rb><!-- 功 --><rt>công</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#21147;</rb><!-- 力 --><rt>lực,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>tăng</rt></ruby>
		<ruby><rb>&#23041;</rb><!-- 威 --><rt>oai</rt></ruby>
		<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần</rt></ruby>
		<ruby><rb>&#21147;</rb><!-- 力 --><rt>lực</rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>cố;</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Mục-Liên bạch với Phật rằng:<br />
		Mẹ con nhờ sức Thánh-Tăng khỏi nàn,<br />
		Lại cũng nhờ oai thần Tam-Bảo,<br />
		Bằng chẳng thì nạn khổ khó ra
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhược</rt></ruby>
		<ruby><rb>&#26410;</rb><!-- 未 --><rt>vị</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>lai</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#24351;</rb><!-- 弟 --><rt>đệ</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>diệc</rt></ruby>
		<ruby><rb>&#25033;</rb><!-- 應 --><rt>ưng</rt></ruby>
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>phụng</rt></ruby>
		<ruby><rb>&#30402;</rb><!-- 盂 --><rt>Vu</rt></ruby>
		<ruby><rb>&#34349;</rb><!-- 蘭 --><rt>Lan</rt></ruby>
		<ruby><rb>&#30406;</rb><!-- 盆 --><rt>bồn,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#25937;</rb><!-- 救 --><rt>cứu</rt></ruby>
		<ruby><rb>&#24230;</rb><!-- 度 --><rt>độ</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20035;</rb><!-- 乃 --><rt>nãi</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>chí</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21487;</rb><!-- 可 --><rt>khả</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vị</rt></ruby>
		<ruby><rb>&#29246;</rb><!-- 爾 --><rt>nhĩ</rt></ruby>
		<ruby><rb>&#21542;</rb><!-- 否 --><rt>phủ?</rt></ruby>
		<ruby><rb>&#65311;</rb><!-- ？ --><rt></rt></ruby>
		<ruby><rb>&#12301;</rb><!-- 」 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Như sau đệ-tử xuất-gia,<br />
		Vu-Lan-Bồn pháp dùng mà độ sanh.<br />
		Ðộ cha mẹ còn đương tại thế,<br />
		Hoặc bảy đời có thể đặng không?
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn:</rt></ruby>
		<ruby><rb>&#65306;</rb><!-- ： --><rt></rt></ruby>
		<ruby><rb>&#12300;</rb><!-- 「 --><rt></rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#21892;</rb><!-- 善 --><rt>thiện</rt></ruby>
		<ruby><rb>&#24555;</rb><!-- 快 --><rt>khoái</rt></ruby>
		<ruby><rb>&#21839;</rb><!-- 問 --><rt>vấn!</rt></ruby>
		<ruby><rb>&#65281;</rb><!-- ！ --><rt></rt></ruby>
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#27491;</rb><!-- 正 --><rt>chánh</rt></ruby>
		<ruby><rb>&#27442;</rb><!-- 欲 --><rt>dục</rt></ruby>
		<ruby><rb>&#35498;</rb><!-- 說 --><rt>thuyết,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#27741;</rb><!-- 汝 --><rt>nhữ</rt></ruby>
		<ruby><rb>&#20170;</rb><!-- 今 --><rt>kim</rt></ruby>
		<ruby><rb>&#24489;</rb><!-- 復 --><rt>phục</rt></ruby>
		<ruby><rb>&#21839;</rb><!-- 問 --><rt>vấn.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#21892;</rb><!-- 善 --><rt>thiện</rt></ruby>
		<ruby><rb>&#30007;</rb><!-- 男 --><rt>nam</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử!</rt></ruby>
		<ruby><rb>&#65281;</rb><!-- ！ --><rt></rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>Nhược</rt></ruby>
		<ruby><rb>&#27604;</rb><!-- 比 --><rt>tỳ</rt></ruby>
		<ruby><rb>&#19992;</rb><!-- 丘 --><rt>kheo</rt></ruby>
		<ruby><rb>&#27604;</rb><!-- 比 --><rt>tỳ</rt></ruby>
		<ruby><rb>&#19992;</rb><!-- 丘 --><rt>kheo</rt></ruby>
		<ruby><rb>&#23612;</rb><!-- 尼 --><rt>ni,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#22283;</rb><!-- 國 --><rt>quốc</rt></ruby>
		<ruby><rb>&#29579;</rb><!-- 王 --><rt>vương</rt></ruby>
		<ruby><rb>&#22826;</rb><!-- 太 --><rt>thái</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#33251;</rb><!-- 臣 --><rt>thần</rt></ruby>
		<ruby><rb>&#23472;</rb><!-- 宰 --><rt>tể</rt></ruby>
		<ruby><rb>&#30456;</rb><!-- 相 --><rt>tướng,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#20844;</rb><!-- 公 --><rt>công</rt></ruby>
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>bách</rt></ruby>
		<ruby><rb>&#23448;</rb><!-- 官 --><rt>quan,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#33836;</rb><!-- 萬 --><rt>vạn</rt></ruby>
		<ruby><rb>&#27665;</rb><!-- 民 --><rt>dân</rt></ruby>
		<ruby><rb>&#24246;</rb><!-- 庶 --><rt>thứ</rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ</rt></ruby>
		<ruby><rb>&#23389;</rb><!-- 孝 --><rt>hiếu</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#25033;</rb><!-- 應 --><rt>ưng</rt></ruby>
		<ruby><rb>&#20808;</rb><!-- 先 --><rt>tiên</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vị</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#36942;</rb><!-- 過 --><rt>quá</rt></ruby>
		<ruby><rb>&#21435;</rb><!-- 去 --><rt>khứ</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Phật rằng: lời hỏi rất thông,<br />
		Ta vừa muốn nói con vùng hỏi theo,<br />
		Thiện-nam tử, tỳ-kheo nam-nữ,<br />
		Cùng Quốc-vương, Thái-tử, Ðại-thần,<br />
		Tam-công, tể-tướng, bá-quan,<br />
		Cùng hàng lê-thứ vạn dân cõi trần,<br />
		Như chí muốn đền ơn cha mẹ,<br />
		Hiện-tại cùng thất-thế tình thâm,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>ư</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#26376;</rb><!-- 月 --><rt>nguyệt</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#20116;</rb><!-- 五 --><rt>ngũ</rt></ruby>
		<ruby><rb>&#26085;</rb><!-- 日 --><rt>nhật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#27489;</rb><!-- 歡 --><rt>hoan</rt></ruby>
		<ruby><rb>&#21916;</rb><!-- 喜 --><rt>hỉ</rt></ruby>
		<ruby><rb>&#26085;</rb><!-- 日 --><rt>nhật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>tự</rt></ruby>
		<ruby><rb>&#24675;</rb><!-- 恣 --><rt>tứ</rt></ruby>
		<ruby><rb>&#26085;</rb><!-- 日 --><rt>nhật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>bách</rt></ruby>
		<ruby><rb>&#21619;</rb><!-- 味 --><rt>vị</rt></ruby>
		<ruby><rb>&#39151;</rb><!-- 飯 --><rt>phạn</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Ðến rằm tháng bảy mỗi năm,<br />
		Sau khi kiết-hạ chư Tăng tựu về,<br />
		Chính ngày ấy Phật, đã hoan-hỷ,<br />
		Phải sắm sanh bá vị cơm canh,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>an</rt></ruby>
		<ruby><rb>&#30402;</rb><!-- 盂 --><rt>Vu</rt></ruby>
		<ruby><rb>&#34349;</rb><!-- 蘭 --><rt>Lan</rt></ruby>
		<ruby><rb>&#30406;</rb><!-- 盆 --><rt>bồn</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#26045;</rb><!-- 施 --><rt>thí</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#33258;</rb><!-- 自 --><rt>tự</rt></ruby>
		<ruby><rb>&#24675;</rb><!-- 恣 --><rt>tứ</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#20351;</rb><!-- 使 --><rt>sử</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#22312;</rb><!-- 在 --><rt>tại</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#22781;</rb><!-- 壽 --><rt>thọ</rt></ruby>
		<ruby><rb>&#21629;</rb><!-- 命 --><rt>mạng</rt></ruby>
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>bách</rt></ruby>
		<ruby><rb>&#24180;</rb><!-- 年 --><rt>niên</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#30149;</rb><!-- 病 --><rt>bệnh,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ</rt></ruby>
		<ruby><rb>&#24817;</rb><!-- 惱 --><rt>não</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#24739;</rb><!-- 患 --><rt>hoạn,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Ðựng trong bình-bát tinh anh,<br />
		Chờ giờ Tự-tứ chúng Tăng cúng-dường,<br />
		Ðặng cầu-nguyện song-đường trường-thọ,<br />
		Chẳng ốm đau cũng chẳng khổ chi,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20035;</rb><!-- 乃 --><rt>nãi</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>chí</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu</rt></ruby>
		<ruby><rb>&#38626;</rb><!-- 離 --><rt>ly</rt></ruby>
		<ruby><rb>&#24801;</rb><!-- 惡 --><rt>ác</rt></ruby>
		<ruby><rb>&#39740;</rb><!-- 鬼 --><rt>quỉ</rt></ruby>
		<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#31119;</rb><!-- 福 --><rt>phước</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#26997;</rb><!-- 極 --><rt>cực.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Cùng cầu thất-thế đồng thì,<br />
		Lìa nơi ngạ-quỉ sanh về nhơn, thiên,<br />
		Ðặng hưởng phước nhân duyên vui đẹp.<br />
		Lại xa lìa nạn khổ cực thân,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>Thị</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#24351;</rb><!-- 弟 --><rt>đệ</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
		<ruby><rb>&#20462;</rb><!-- 修 --><rt>tu</rt></ruby>
		<ruby><rb>&#23389;</rb><!-- 孝 --><rt>hiếu</rt></ruby>
		<ruby><rb>&#38918;</rb><!-- 順 --><rt>thuận</rt></ruby>
		<ruby><rb>&#32773;</rb><!-- 者 --><rt>giả,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#25033;</rb><!-- 應 --><rt>ưng</rt></ruby>
		<ruby><rb>&#24565;</rb><!-- 念 --><rt>niệm</rt></ruby>
		<ruby><rb>&#24565;</rb><!-- 念 --><rt>niệm</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#25014;</rb><!-- 憶 --><rt>ức</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20035;</rb><!-- 乃 --><rt>nãi</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>chí</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#24180;</rb><!-- 年 --><rt>niên</rt></ruby>
		<ruby><rb>&#24180;</rb><!-- 年 --><rt>niên</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#26376;</rb><!-- 月 --><rt>nguyệt</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#20116;</rb><!-- 五 --><rt>ngũ</rt></ruby>
		<ruby><rb>&#26085;</rb><!-- 日 --><rt>nhật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#23389;</rb><!-- 孝 --><rt>hiếu</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#25014;</rb><!-- 憶 --><rt>ức</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Môn-sanh Phật-tử ân cần,<br />
		Hạnh tu hiếu-thuận phải cần phải chuyên.<br />
		Thường cầu nguyện thung-huyên an-hảo,<br />
		Cùng bảy đời phụ-mẫu siêu-sanh<br />
		Ngày rằm tháng bảy mỗi năm,<br />
		Vì lòng hiếu-thảo ơn-thâm phải đền.
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vị</rt></ruby>
		<ruby><rb>&#20316;</rb><!-- 作 --><rt>tác</rt></ruby>
		<ruby><rb>&#30402;</rb><!-- 盂 --><rt>Vu</rt></ruby>
		<ruby><rb>&#34349;</rb><!-- 蘭 --><rt>Lan</rt></ruby>
		<ruby><rb>&#30406;</rb><!-- 盆 --><rt>bồn,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#26045;</rb><!-- 施 --><rt>thí</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#21450;</rb><!-- 及 --><rt>cập</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>tăng,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#22577;</rb><!-- 報 --><rt>báo</rt></ruby>
		<ruby><rb>&#29238;</rb><!-- 父 --><rt>phụ</rt></ruby>
		<ruby><rb>&#27597;</rb><!-- 母 --><rt>mẫu</rt></ruby>
		<ruby><rb>&#38263;</rb><!-- 長 --><rt>trưởng</rt></ruby>
		<ruby><rb>&#39178;</rb><!-- 養 --><rt>dưỡng</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ</rt></ruby>
		<ruby><rb>&#24859;</rb><!-- 愛 --><rt>ái</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#24681;</rb><!-- 恩 --><rt>ân.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>Nhược</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#24351;</rb><!-- 弟 --><rt>đệ</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#25033;</rb><!-- 應 --><rt>ưng</rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>phụng</rt></ruby>
		<ruby><rb>&#25345;</rb><!-- 持 --><rt>trì</rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
		<ruby><rb>&#12301;</rb><!-- 」 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Lễ cứu-tế chí-thành sắp đặt,<br />
		Ngõ cúng-dường chư Phật chư Tăng.<br />
		Ấy là báo đáp, thù ân,<br />
		Sanh-thành dưỡng-dục song-thân buổi đầu,<br />
		Ðệ-tử Phật, lo âu gìn-giữ,<br />
		Mới phải là Thích-tử Thiền-môn,
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>Thời</rt></ruby>
		<ruby><rb>&#30446;</rb><!-- 目 --><rt>Mục</rt></ruby>
		<ruby><rb>&#36899;</rb><!-- 連 --><rt>Liên</rt></ruby>
		<ruby><rb>&#27604;</rb><!-- 比 --><rt>Tỳ</rt></ruby>
		<ruby><rb>&#19992;</rb><!-- 丘 --><rt>Kheo,</rt></ruby>
		<ruby><rb>&#12289;</rb><!-- 、 --><rt></rt></ruby>
		<ruby><rb>&#22235;</rb><!-- 四 --><rt>tứ</rt></ruby>
		<ruby><rb>&#36649;</rb><!-- 輩 --><rt>bối</rt></ruby>
		<ruby><rb>&#24351;</rb><!-- 弟 --><rt>đệ</rt></ruby>
		<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#27489;</rb><!-- 歡 --><rt>hoan</rt></ruby>
		<ruby><rb>&#21916;</rb><!-- 喜 --><rt>hỉ</rt></ruby>
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>phụng</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hành.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">
		Vừa nghe dứt pháp Lan-Bồn,<br />
		Môn sanh tứ-chúng thảy đồng hỷ-hoan,<br />
		Mục-Liên với bốn ban Phật-tử,<br />
		Nguyện một lòng tín-sự phụng-hành,
	</span>
</p>
