---
title: Mông Sơn Thí Thực
numb: 4
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#33945;</rb><!-- 蒙 --><rt>Mông</rt></ruby>
		<ruby><rb>&#23665;</rb><!-- 山 --><rt>Sơn</rt></ruby>
		<ruby><rb>&#26045;</rb><!-- 施 --><rt>Thí</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>Thực</rt></ruby>
	</span><br />
	<span lang="en">Mount Meng feeding</span><br />
	<span lang="fr">Offrandes à des êtres disparus</span><br />
	<span lang="de">Berg Meng speisung</span><br />
	<span lang="it">Offerta del cibo della montagna Meng</span>
</h2></header>
<details>
	<summary>Gia Hưng tạng J32 nB277 p0573a20</summary>
	<ul>
		<li><a class="my-ref">https://cbetaonline.dila.edu.tw/en/J32nB277_p0573a20</a></li>
		<li><a class="my-ref">https://tripitaka.cbeta.org/en/J32nB277_001</a></li>
	</ul>
</details>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#28976;</rb><!-- 焰 --><rt>Diệm</rt></ruby>
		<ruby><rb>&#29123;</rb><!-- 燃 --><rt>Nhiên</rt></ruby>
		<ruby><rb>&#29579;</rb><!-- 王 --><rt>Vương</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="sa">Namo Yamarajaya Bodhisattvaya</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#29467;</rb><!-- 猛 --><rt>Mãnh</rt></ruby>
		<ruby><rb>&#28779;</rb><!-- 火 --><rt>hỏa</rt></ruby>
		<ruby><rb>&#28976;</rb><!-- 焰 --><rt>diệm</rt></ruby>
		<ruby><rb>&#28976;</rb><!-- 焰 --><rt>diễm</rt></ruby>
		<ruby><rb>&#29138;</rb><!-- 燒 --><rt>chiếu</rt></ruby>
		<ruby><rb>&#37941;</rb><!-- 鐵 --><rt>thiết</rt></ruby>
		<ruby><rb>&#22478;</rb><!-- 城 --><rt>thành</rt></ruby>
		<br />
		<ruby><rb>&#37941;</rb><!-- 鐵 --><rt>Thiết</rt></ruby>
		<ruby><rb>&#22478;</rb><!-- 城 --><rt>thành</rt></ruby>
		<ruby><rb>&#35023;</rb><!-- 裏 --><rt>lý</rt></ruby>
		<ruby><rb>&#38754;</rb><!-- 面 --><rt>diện</rt></ruby>
		<ruby><rb>&#29105;</rb><!-- 熱 --><rt>nhiệt</rt></ruby>
		<ruby><rb>&#39740;</rb><!-- 鬼 --><rt>cô</rt></ruby>
		<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
	</span><br />
	<span lang="vi">
		Thành sắt rực lửa dữ,<br />
		cô hồn bị thiêu đốt
	</span><br />
	<span lang="en">The wild flames’ blazing illuminates the city of iron; in the city of iron the lonely souls burn;</span><br />
	<span lang="fr">Dans la cité de fer, le feu brûle sauvagement et les âmes errantes s’y blessent.</span><br />
	<span lang="de">Das Lodern der wilden Flammen beleuchtet die Stadt aus Eisen; in der Stadt aus Eisen glühen die einsamen Seelen;</span><br />
	<span lang="it">Le selvagge fiamme sfolgoranti illuminano la città di ferro dove le anime solitarie bruciano.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39740;</rb><!-- 鬼 --><rt>Cô</rt></ruby>
		<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhược</rt></ruby>
		<ruby><rb>&#35201;</rb><!-- 要 --><rt>yếu</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#32893;</rb><!-- 聽 --><rt>Thính</rt></ruby>
		<ruby><rb>&#35494;</rb><!-- 誦 --><rt>tụng</rt></ruby>
		<ruby><rb>&#33775;</rb><!-- 華 --><rt>Hoa</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>Nghiêm</rt></ruby>
		<ruby><rb>&#21322;</rb><!-- 半 --><rt>bán</rt></ruby>
		<ruby><rb>&#20552;</rb><!-- 偈 --><rt>kệ</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>kinh</rt></ruby>
	</span><br />
	<span lang="vi">
		Nếu cô hồn muốn sanh Tịnh Ðộ,<br />
		nghe nửa kệ Hoa Nghiêm
	</span><br />
	<span lang="en">if the lonely souls wish to be reborn in the Pure Land, then let them hear the recitation of the half gatha from the Avatamsaka Sutra!</span><br />
	<span lang="fr">Si elles souhaitent renaître dans la terre de Félicité, alors elles doivent entendre la citation d’un poème du Sutra Avatamsaka</span><br />
	<span lang="de">wollen die einsamen Seelen im Reinen Land wiedergeboren werden, dann mögen sie die Rezitation der halben Gatha aus dem Avatamsaka-Sutra hören!</span><br />
	<span lang="it">Se esse desiderano rinascere nella Terra Pura, lasciale ascoltare la recitazione di mezza gatha dall'Avatamsaka Sutra</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>Nhược</rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân</rt></ruby>
		<ruby><rb>&#27442;</rb><!-- 欲 --><rt>dục</rt></ruby>
		<ruby><rb>&#20102;</rb><!-- 了 --><rt>liễu</rt></ruby>
		<ruby><rb>&#30693;</rb><!-- 知 --><rt>tri</rt></ruby>
		<br />
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
	</span><br />
	<span lang="vi">
		Nếu ai muốn rõ biết,<br />
		ba đời hết thảy Phật
	</span><br />
	<span lang="en">If human beings wish to understand, the buddhas of the 3 times,</span><br />
	<span lang="fr">Si les êtres humains souhaitent comprendre les Bouddhas des 3 temps,</span><br />
	<span lang="de">Wenn der Mensch verstehen will, die Buddhas der 3 Zeiten,</span><br />
	<span lang="it">Se si desidera conoscere tutti i buddha del passato, presente e futuro</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25033;</rb><!-- 應 --><rt>Ưng</rt></ruby>
		<ruby><rb>&#35264;</rb><!-- 觀 --><rt>quán</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
		<br />
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#21807;</rb><!-- 唯 --><rt>duy</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#36896;</rb><!-- 造 --><rt>tạo.</rt></ruby>
	</span><br />
	<span lang="vi">
		Nên quán tánh pháp giới,<br />
		tất cả do tâm tạo.
	</span><br />
	<span lang="en">they must contemplate the self-nature of the Dharmadhatu, everything is created solely by the mind.</span><br />
	<span lang="fr">alors ils doivent se concentrer sur la Dharmadhatu, de leur propre nature qui dit que tout est créé uniquement par l’esprit.</span><br />
	<span lang="de">muß er betrachten die Eigennatur des Dharmadhatu: Alles wird nur vom Geist erzeugt</span><br />
	<span lang="it">si dovrebbe percepire i dharmadhatu come creazioni della mente</span>
</p>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#30772;</rb><!-- 破 --><rt>Phá</rt></ruby>
			<ruby><rb>&#22320;</rb><!-- 地 --><rt>Địa</rt></ruby>
			<ruby><rb>&#29508;</rb><!-- 獄 --><rt>Ngục</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>Chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>Ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra that destroys the hells</span><br />
		<span lang="fr">Mantra qui détruit les enfers</span><br />
		<span lang="de">Höllen zerstörende Mantra</span><br />
		<span lang="it">Mantra che distrugge gli inferni</span>
	</h3></header>
	<p>
		<span lang="vi">Án, dà ra đế da, ta bà ha.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71059;&#71081;</rb><rt>cala</rt></ruby>
			<ruby><rb>&#71069;&#71096;&#71061;</rb><rt>teja</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
			<ruby><rb>&#21484;</rb><!-- 召 --><rt>Triệu</rt></ruby>
			<ruby><rb>&#35531;</rb><!-- 請 --><rt>Thỉnh</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>Chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>Ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra of the all-inclusive summoning (of the pretas)</span><br />
		<span lang="fr">Mantra de convocation urgent pour tous les Pretas (sans exception)</span><br />
		<span lang="de">Mantra der allumfassenden Herbeirufung [der Pretas]</span><br />
		<span lang="it">Mantra dell'invito universale (dei preta)</span>
	</h3></header>
	<p>
		<span lang="vi">Nam-mô bộ bộ đế rị, dà rị đa rị đát đa nga đa da</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71077;&#71091;&#71074;&#71090;&#71080;&#71088;&#71054;&#71080;&#71088;&#71069;&#71080;&#71088;</rb><rt>bhūpurikaritari</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#35299;</rb><!-- 解 --><rt>Giải</rt></ruby>
			<ruby><rb>&#24616;</rb><!-- 怨 --><rt>Oan</rt></ruby>
			<ruby><rb>&#32080;</rb><!-- 結 --><rt>Kiết</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>Chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>Ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra of the dissolution of enmities</span><br />
		<span lang="fr">Mantra de dissolution de l’hostilité</span><br />
		<span lang="de">Mantra der Auflösung von Feindschaften</span><br />
		<span lang="it">Mantra che dissolve i nodi dell'odio</span>
	</h3></header>
	<p>
		<span lang="vi">Án, tam đà ra dà đà, ta bà ha</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71085;&#71073;&#71103;&#71069;&#71087;&#71080;&#71087;</rb><rt>santārā</rt></ruby>
			<ruby><rb>&#71054;&#71069;</rb><rt>kata</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>Phương</rt></ruby>
		<ruby><rb>&#24291;</rb><!-- 廣 --><rt>Quảng</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#33775;</rb><!-- 華 --><rt>Hoa</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>Nghiêm</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>kinh.</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="en">Veneration to the Avatamsaka Sutra!</span><br />
	<span lang="fr">Namo Sutra Avatamsaka!</span><br />
	<span lang="de">Verehrung dem Avatamsaka Sutra!</span><br />
	<span lang="it">Lode al grande Vaipulya Avatamsaka Sutra del Buddha</span>
</p>
<section class="dong-khung">
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
			<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
			<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
			<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the continually abiding Buddhas in the 10 directions!</span><br />
		<span lang="fr">Hommage aux Bouddhas qui seront toujours là dans les 10 directions.</span><br />
		<span lang="de">Verehrung den beständig verweilenden Buddhas in den 10 Himmelsrichtungen!</span><br />
		<span lang="it">Lode ai Buddha sempre presenti nelle 10 direzioni</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
			<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
			<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
			<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the continually abiding Dharma of the 10 directions!</span><br />
		<span lang="fr">Hommage au Dharma qui sera toujours là dans les 10 directions.</span><br />
		<span lang="de">Verehrung dem beständig verweilenden Dharma der 10 Himmelsrichtungen!</span><br />
		<span lang="it">Lode ai Dharma sempre presenti nelle 10 direzioni</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
			<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
			<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
			<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
			<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the continually abiding Sangha of the 10 directions!</span><br />
		<span lang="fr">Hommage au Sangha qui sera toujours là dans les 10 directions.</span><br />
		<span lang="de">Verehrung dem beständig verweilenden Sangha der 10 Himmelsrichtungen!</span><br />
		<span lang="it">Lode ai Sangha sempre presenti nelle 10 direzioni</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#26412;</rb><!-- 本 --><rt>Bổn</rt></ruby>
			<ruby><rb>&#24107;</rb><!-- 師 --><rt>Sư</rt></ruby>
			<ruby><rb>&#37323;</rb><!-- 釋 --><rt>Thích</rt></ruby>
			<ruby><rb>&#36838;</rb><!-- 迦 --><rt>ca</rt></ruby>
			<ruby><rb>&#29279;</rb><!-- 牟 --><rt>Mâu</rt></ruby>
			<ruby><rb>&#23612;</rb><!-- 尼 --><rt>ni</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the original master, the Buddha Shakyamuni!</span><br />
		<span lang="fr">Namo Maître Suprême Bouddha Shakyamuni</span><br />
		<span lang="de">Verehrung dem ursprünglichen Meister, dem Buddha Sakyamuni!</span><br />
		<span lang="it">Lode al nostro Maestro originale Buddha Shakyamuni</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
			<ruby><rb>&#24754;</rb><!-- 悲 --><rt>Bi</rt></ruby>
			<ruby><rb>&#35264;</rb><!-- 觀 --><rt>Quán</rt></ruby>
			<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
			<ruby><rb>&#38899;</rb><!-- 音 --><rt>Âm</rt></ruby>
			<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
			<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the eminently compassionate Bodhisattva Avalokiteshvara!</span><br />
		<span lang="fr">Namo Bodhisattva Avalokiteshvara éminemment compatissant</span><br />
		<span lang="de">Verehrung dem überaus mitfühlenden Bodhisattwa Avalokitesvara!</span><br />
		<span lang="it">Lode al grande compassionevole Bodhisattva Avalokiteshvara</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#20901;</rb><!-- 冥 --><rt>Minh</rt></ruby>
			<ruby><rb>&#38525;</rb><!-- 陽 --><rt>dương</rt></ruby>
			<ruby><rb>&#25937;</rb><!-- 救 --><rt>Cứu</rt></ruby>
			<ruby><rb>&#33510;</rb><!-- 苦 --><rt>khổ</rt></ruby>
			<ruby><rb>&#22320;</rb><!-- 地 --><rt>Địa</rt></ruby>
			<ruby><rb>&#34255;</rb><!-- 藏 --><rt>Tạng</rt></ruby>
			<ruby><rb>&#29579;</rb><!-- 王 --><rt>Vương</rt></ruby>
			<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
			<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Bodhisattva Ksitigharba, who liberates those who suffer in the lower world and upper world!</span><br />
		<span lang="fr">Namo Bodhisattva Ksitigharba, qui sauve ceux qui souffre dans le monde le plus bas et dans le monde le plus haut</span><br />
		<span lang="de">Verehrung dem Bodhisattva Ksitigarbha, der in der Unterwelt und Oberwelt die Leidenden befreit!</span><br />
		<span lang="it">Lode al Bodhisattva Kshitigharba che libera coloro che soffrono nei mondi inferiori e superiori</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#21843;</rb><!-- 啓 --><rt>Khải</rt></ruby>
			<ruby><rb>&#25945;</rb><!-- 教 --><rt>giáo</rt></ruby>
			<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
			<ruby><rb>&#38627;</rb><!-- 難 --><rt>nan</rt></ruby>
			<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
			<ruby><rb>&#23562;</rb><!-- 尊 --><rt>Tôn</rt></ruby>
			<ruby><rb>&#32773;</rb><!-- 者 --><rt>Giả</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Venerable Ananda, who requested instructions!</span><br />
		<span lang="fr">Namo vénérable Ananda, qui récapitule tout le Dharma.</span><br />
		<span lang="de">Verehrung dem ehrwürdigen Ananda, der um Unterweisung gebeten hat!</span><br />
		<span lang="it">Lode al Venerabile Ananda che affermò gli insegnamenti</span>
	</p>
</section>
<section class="dong-khung">
	<section class="multi-lang">
		<p lang="zh-Hant">
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>Quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
			<br />
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp,</rt></ruby>
			<br />
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		</p>
		<p lang="en">
			I take refuge to the Buddha!<br />
			I take refuge to the Dharma!<br />
			I take refuge to the Sangha!
		</p>
		<p lang="fr">
			Je me réfugie auprès du Bouddha!<br />
			Je me réfugie auprès du Dharma!<br />
			Je me réfugie auprès du Sangha!
		</p>
		<p lang="de">
			Ich nehme Zuflucht zum Buddha!<br />
			Ich nehme Zuflucht zum Dharma!<br />
			Ich nehme Zuflucht zum Sangha!
		</p>
		<p lang="it">
			Prendo rifugio nel Buddha,<br />
			prendo rifugio nel Dharma,<br />
			prendo rifugio nel Sangha.
		</p>
	</section>
	<section class="multi-lang">
		<p lang="zh-Hant">
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>Quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
			<ruby><rb>&#20841;</rb><!-- 兩 --><rt>lưỡng</rt></ruby>
			<ruby><rb>&#36275;</rb><!-- 足 --><rt>túc</rt></ruby>
			<ruby><rb>&#23562;</rb><!-- 尊 --><rt>tôn</rt></ruby>
			<br />
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>Quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
			<ruby><rb>&#38626;</rb><!-- 離 --><rt>ly</rt></ruby>
			<ruby><rb>&#27442;</rb><!-- 欲 --><rt>dục</rt></ruby>
			<ruby><rb>&#23562;</rb><!-- 尊 --><rt>tôn</rt></ruby>
			<br />
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>Quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
			<ruby><rb>&#34886;</rb><!-- 衆 --><rt>chúng</rt></ruby>
			<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
			<ruby><rb>&#23562;</rb><!-- 尊 --><rt>tôn</rt></ruby>
		</p>
		<p lang="vi">
			Quy y Phật - đấng phước trí vẹn toàn<br />
			Quy y Pháp - đạo thoát ly tham dục<br />
			Quy y Tăng - bậc tu hành chân chánh
		</p>
		<p lang="en">
			I take refuge to the Buddha, the most honourable among bipedal beings!<br />
			I take refuge to the Dharma, the most honourable among those without desire!<br />
			I take refuge to the Sangha, the most honourable among the assemblies!
		</p>
		<p lang="fr">
			Je me réfugie auprès du Bouddha, le plus honorable des êtres sensibles.<br />
			Je me réfugie auprès du Dharma, le plus honorable des enseignements, celui qui nous éloigne du désir.<br />
			Je me réfugie auprès du Sangha, le plus honorable des assemblées.
		</p>
		<p lang="de">
			Ich nehme Zuflucht zum Buddha, dem unter den zweifüßigen Wesen Ehrenvollsten!<br />
			Ich nehme Zuflucht zum Dharma, dem unter den Begierdelosen Ehrenvollsten!<br />
			Ich nehme Zuflucht zum Sangha, der unter den Versammlungen Ehrenvollsten!
		</p>
		<p lang="it">
			Prendo Rifugio nel Buddha, onorato tra gli esseri umani e deva.<br />
			Prendo Rifugio nel Dharma, onorato tra coloro che sono liberi dagli attaccamenti.<br />
			Prendo Rifugio nel Sangha onorato dalle moltitudini.
		</p>
	</section>
	<section class="multi-lang">
		<p lang="zh-Hant">
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>Quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
			<ruby><rb>&#31455;</rb><!-- 竟 --><rt>cánh,</rt></ruby>
			<br />
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
			<ruby><rb>&#31455;</rb><!-- 竟 --><rt>cánh,</rt></ruby>
			<br />
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
			<ruby><rb>&#31455;</rb><!-- 竟 --><rt>cánh.</rt></ruby>
		</p>
		<p lang="vi">
			Quy y Phật rồi,<br />
			quy y Pháp rồi,<br />
			quy y Tăng rồi.
		</p>
		<p lang="en">
			Refuge is taken to the Buddha!<br />
			Refuge is taken to the Dharma!<br />
			Refuge is taken to the Sangha!
		</p>
		<p lang="fr">
			Je suis dans le refuge auprès du Bouddha,<br />
			Je suis dans le refuge du Dharma,<br />
			Je suis dans le refuge avec le Sangha!
		</p>
		<p lang="de">
			Die Zuflucht zum Buddha ist genommen!<br />
			Die Zuflucht zum Dharma ist genommen!<br />
			Die Zuflucht zum Sangha ist genommen!
		</p>
		<p lang="it">
			Ho preso Rifugio nel Buddha,<br />
			ho preso Rifugio nel Dharma,<br />
			ho preso Rifugio nel Sangha
		</p>
	</section>
</section>
<section class="multi-lang">
	<div lang="zh-Hant">
		<table class="inline-table">
			<tr><td>
				<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
				<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#26377;</rb><!-- 有 --><rt>Hữu</rt></ruby>
				<ruby><rb>&#24773;</rb><!-- 情 --><rt>tình</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#23396;</rb><!-- 孤 --><rt>Cô</rt></ruby>
				<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
			</td></tr>
		</table>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#36896;</rb><!-- 造 --><rt>tạo</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#24801;</rb><!-- 惡 --><rt>ác</rt></ruby>
		<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
		<br />
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>Giai</rt></ruby>
		<ruby><rb>&#30001;</rb><!-- 由 --><rt>do</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#22987;</rb><!-- 始 --><rt>thỉ</rt></ruby>
		<ruby><rb>&#36010;</rb><!-- 貪 --><rt>tham,</rt></ruby>
		<ruby><rb>&#30603;</rb><!-- 瞋 --><rt>sân,</rt></ruby>
		<ruby><rb>&#30305;</rb><!-- 癡 --><rt>si</rt></ruby>
		<br />
		<ruby><rb>&#24478;</rb><!-- 從 --><rt>Tùng</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<ruby><rb>&#35486;</rb><!-- 語 --><rt>ngữ</rt></ruby>
		<ruby><rb>&#24847;</rb><!-- 意 --><rt>ý</rt></ruby>
		<ruby><rb>&#20043;</rb><!-- 之 --><rt>chi</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<br />
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<table class="inline-table">
			<tr><td>
				<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
				<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#26377;</rb><!-- 有 --><rt>Hữu</rt></ruby>
				<ruby><rb>&#24773;</rb><!-- 情 --><rt>tình</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#23396;</rb><!-- 孤 --><rt>Cô</rt></ruby>
				<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
			</td></tr>
		</table>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#25082;</rb><!-- 懺 --><rt>sám</rt></ruby>
		<ruby><rb>&#24724;</rb><!-- 悔 --><rt>hối</rt></ruby>
	</div>
	<div lang="en">
		All negative deeds commited by the&nbsp;<table class="inline-table">
			<tr><td>Buddhists</td></tr>
			<tr><td>sentient beings</td></tr>
			<tr><td>lonely ghosts</td></tr>
		</table>, arisen since beginningless time through greed, hatred and delusion from body, speech and mind, are regretted by all the&nbsp;<table  lang="en" class="inline-table">
			<tr><td>Buddhists</td></tr>
			<tr><td>sentient beings</td></tr>
			<tr><td>lonely ghosts</td></tr>
		</table>
	</div>
	<div lang="fr">
		Toutes les mauvaises actions commis par les&nbsp;<table class="inline-table">
			<tr><td>fidèles de Bouddha</td></tr>
			<tr><td>êtres sensibles</td></tr>
			<tr><td>esprits isolés</td></tr>
		</table>&nbsp;proviennent des pensées de cupidité, d’hostilité et d’illusion dans le passé et désormais ils regrettent de les avoir commises et purifient leur corps, leur parole et leur esprit.
	</div>
	<div lang="de">
		Alle von den&nbsp;<table class="inline-table">
			<tr><td>Buddhisten</td></tr>
			<tr><td>fühlenden Wesen</td></tr>
			<tr><td>einsamen Geistern</td></tr>
		</table>&nbsp;begangenen schlechten Taten, seit anfangslosen Zeiten durch Gier, Haß und Verblendung aus Körper, Rede und Geist entstanden, werden von allen&nbsp;<table class="inline-table">
			<tr><td>Buddhisten</td></tr>
			<tr><td>fühlenden Wesen</td></tr>
			<tr><td>einsamen Geistern</td></tr>
		</table>&nbsp;bereut!
	</div>
	<div lang="it">
		Il karma negativo creato&nbsp;<table class="inline-table">
			<tr><td>dai discepoli del Buddha</td></tr>
			<tr><td>dagli esseri senzienti</td></tr>
			<tr><td>dagli spiriti solitari</td></tr>
		</table>&nbsp;deriva tutto dall'avidità, dall'avversione e dall'ignoranza innate ed è generato dal corpo, dalla parola e dalla mente. Per tutto ciò&nbsp;<table class="inline-table">
			<tr><td>i discepoli del Buddha</td></tr>
			<tr><td>gli esseri senzienti</td></tr>
			<tr><td>gli spiriti solitari</td></tr>
		</table>&nbsp;si ravvedono.
	</div>
</section>
<section class="dong-khung">
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#34886;</rb><!-- 衆 --><rt>Chúng</rt></ruby>
			<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
			<ruby><rb>&#37002;</rb><!-- 邊 --><rt>biên</rt></ruby>
			<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
			<ruby><rb>&#24230;</rb><!-- 度 --><rt>độ</rt></ruby>
		</span><br />
		<span lang="en">I vow to liberate the countless sentient beings!</span><br />
		<span lang="fr">Je fais le vœu de sauver d’innombrables êtres sensibles!</span><br />
		<span lang="de">Die zahlosen Lebewesen gelobe ich zu befreien!</span><br />
		<span lang="it">Faccio voto di liberare gli innumerevoli esseri senzienti.</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#29033;</rb><!-- 煩 --><rt>Phiền</rt></ruby>
			<ruby><rb>&#24817;</rb><!-- 惱 --><rt>não</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
			<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận</rt></ruby>
			<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
			<ruby><rb>&#26039;</rb><!-- 斷 --><rt>đoạn</rt></ruby>
		</span><br />
		<span lang="en">I vow to annihilate the endless passions!</span><br />
		<span lang="fr">Je fais le vœu d’éviter de me mettre en colère!</span><br />
		<span lang="de">Die endlosen Leidenschaften gelobe ich zu vernichten!</span><br />
		<span lang="it">Faccio voto di eliminare tutte le inesauribili afflizioni.</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
			<ruby><rb>&#38272;</rb><!-- 門 --><rt>môn</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
			<ruby><rb>&#37327;</rb><!-- 量 --><rt>lượng</rt></ruby>
			<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
			<ruby><rb>&#23416;</rb><!-- 學 --><rt>học</rt></ruby>
		</span><br />
		<span lang="en">I vow to learn the tireless Dharma methods!</span><br />
		<span lang="fr">Je fais le vœu d’apprendre inlassablement les méthodes du Dharma!</span><br />
		<span lang="de">Die unermüdlichen Dharma-Methoden gelobe ich zu erlernen!</span><br />
		<span lang="it">Faccio voto di apprendere tutti gli illimitati metodi di Dharma.</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
			<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
			<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
			<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
			<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
		</span><br />
		<span lang="en">I vow to perfect the peerless Buddha path!</span><br />
		<span lang="fr">Je fais le vœu de perfectionner l’incomparable voie de Bouddha!</span><br />
		<span lang="de">Den unübertrefflichen Buddha-Pfad gelobe ich zu vollenden!</span><br />
		<span lang="it">Faccio voto di realizzare l’insuperabile Sentiero di Buddha</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#33258;</rb><!-- 自 --><rt>Tự</rt></ruby>
			<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
			<ruby><rb>&#34886;</rb><!-- 衆 --><rt>chúng</rt></ruby>
			<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
			<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
			<ruby><rb>&#24230;</rb><!-- 度 --><rt>độ</rt></ruby>
		</span><br />
		<span lang="en">I vow to liberate the sentient beings of my own self-nature!</span><br />
		<span lang="fr">Je fais le vœu de sauver les êtres sensibles de leur propre nature!</span><br />
		<span lang="de">Die Lebewesen meiner Eigennatur gelobe ich zu befreien!</span><br />
		<span lang="it">Faccio voto di liberare gli innumerevoli esseri senzienti nella Vera Natura.</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#33258;</rb><!-- 自 --><rt>Tự</rt></ruby>
			<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
			<ruby><rb>&#29033;</rb><!-- 煩 --><rt>phiền</rt></ruby>
			<ruby><rb>&#24817;</rb><!-- 惱 --><rt>não</rt></ruby>
			<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
			<ruby><rb>&#26039;</rb><!-- 斷 --><rt>đoạn</rt></ruby>
		</span><br />
		<span lang="en">I vow to annihilate the passions of my own self-nature!</span><br />
		<span lang="fr">Je fais le vœu d’éviter de me mettre en colère par moi-même!</span><br />
		<span lang="de">Die Leidenschaften meiner Eigennatur gelobe ich zu vernichten!</span><br />
		<span lang="it">Faccio voto di estirpare tutte le inesauribili contaminazione nella Vera Natura.</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#33258;</rb><!-- 自 --><rt>Tự</rt></ruby>
			<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
			<ruby><rb>&#38272;</rb><!-- 門 --><rt>môn</rt></ruby>
			<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
			<ruby><rb>&#23416;</rb><!-- 學 --><rt>học</rt></ruby>
		</span><br />
		<span lang="en">I vow to learn the Dharma methods of my own self-nature!</span><br />
		<span lang="fr">Je fais le vœu d’apprendre inlassablement les méthodes du Dharma par moi-même.</span><br />
		<span lang="de">Die Dharma-Methoden meiner Eigennatur gelobe ich zu erlernen!</span><br />
		<span lang="it">Faccio di voto di apprendere gli illimitati insegnamenti nella Vera Natura.</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#33258;</rb><!-- 自 --><rt>Tự</rt></ruby>
			<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
			<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
			<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
			<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
		</span><br />
		<span lang="en">I vow to perfect the Buddha path of my own self-nature!</span><br />
		<span lang="fr">Je fais le vœu de perfectionner l’incomparable voie de Bouddha par moi-même.</span><br />
		<span lang="de">Den Buddha-Pfad meiner Eigennatur gelobe ich zu vollenden!</span><br />
		<span lang="it">Faccio voto di realizzare l’insuperabile Sentiero del Buddha nella Vera Natura</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#28357;</rb><!-- 滅 --><rt>Diệt</rt></ruby>
			<ruby><rb>&#23450;</rb><!-- 定 --><rt>định</rt></ruby>
			<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra for the annihilation of tenacious karma</span><br />
		<span lang="fr">Mantra pour détruire le karma lourd</span><br />
		<span lang="de">Mantra zur Vernichtung des festen Karmas</span><br />
		<span lang="it">Mantra per l’annientamento del karma immobile</span>
	</h3></header>
	<p>
		<span lang="vi">Án, bát ra mạt lân đà nãnh, ta bà ha.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71074;&#71103;&#71080;&#71078;&#71068;&#71088;</rb><rt>pramaṇi</rt></ruby>
			<ruby><rb>&#71071;&#71073;&#71088;</rb><rt>dani</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#28357;</rb><!-- 滅 --><rt>Diệt</rt></ruby>
			<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
			<ruby><rb>&#38556;</rb><!-- 障 --><rt>chướng</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra for the annihilation of karmic obstacles</span><br />
		<span lang="fr">Mantra pour éviter les obstacles du Karma</span><br />
		<span lang="de">Mantra zur Vernichtung der Karma-Hindernisse</span><br />
		<span lang="it">Mantra per l’annientamento degli ostacoli karmici</span>
	</h3></header>
	<p>
		<span lang="vi">Án, a lổ lặc kế, ta bà ha.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71040;&#71080;&#71098;&#71081;&#71088;&#71054;&#71103;</rb><rt>arolik</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#38283;</rb><!-- 開 --><rt>Khai</rt></ruby>
			<ruby><rb>&#21693;</rb><!-- 咽 --><rt>yết</rt></ruby>
			<ruby><rb>&#21897;</rb><!-- 喉 --><rt>hầu</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra for the opening of throats</span><br />
		<span lang="fr">Mantra pour permettre aux esprits de manger</span><br />
		<span lang="de">Mantra zur Öffnung der Kehlen</span><br />
		<span lang="it">Mantra che libera le gole (dei preta)</span>
	</h3></header>
	<p>
		<span lang="vi">Án, bộ bộ đế rị dà đa rị, đát đa nga đa da</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71077;&#71091;&#71074;&#71090;&#71069;&#71096;&#71080;&#71088;&#71054;&#71069;&#71080;&#71088;</rb><rt>bhūputerikatari</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
			<ruby><rb>&#26151;</rb><!-- 昧 --><rt>muội</rt></ruby>
			<ruby><rb>&#32822;</rb><!-- 耶 --><rt>da</rt></ruby>
			<ruby><rb>&#25106;</rb><!-- 戒 --><rt>giới</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra of samaya observance</span><br />
		<span lang="fr">Mantra pour l’observation du Samaya</span><br />
		<span lang="de">Samaya-Ordensregel Mantra</span><br />
		<span lang="it">Mantra dell’osservanza della pratica dei precetti (samaya sila)</span>
	</h3></header>
	<p>
		<span lang="vi">Án, tam muội da, tát đỏa phạm.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71079;</rb><rt>samaya</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71069;&#71103;&#71082;&#71101;</rb><rt>stvaṃ</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#35722;</rb><!-- 變 --><rt>Biến</rt></ruby>
			<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra for transformation of food</span><br />
		<span lang="fr">Mantra pour l’accroissement de la nourriture</span><br />
		<span lang="de">Mantra zur Umwandlung der Speise</span><br />
		<span lang="it">Mantra per la trasformazione del cibo</span>
	</h3></header>
	<p>
		<span lang="vi">Nam-mô tát phạ đát tha nga đa, phạ lồ chỉ đế. Án, tam bạt ra, tam bạt ra, hồng.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71102;</rb><rt>namaḥ</rt></ruby>
			<ruby><rb>&#71085;&#71080;&#71103;&#71082;</rb><rt>sarva</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;</rb><rt>tathāgata</rt></ruby>
			<ruby><rb>&#71040;&#71082;&#71081;&#71098;&#71054;&#71088;&#71069;&#71096;</rb><rt>avalokite</rt></ruby>
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71103;&#71077;&#71087;&#71080;</rb><rt>sambhāra</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71103;&#71077;&#71087;&#71080;</rb><rt>sambhāra</rt></ruby>
			<ruby><rb>&#71086;&#71091;&#71101;</rb><rt>hūṃ</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#29976;</rb><!-- 甘 --><rt>Cam</rt></ruby>
			<ruby><rb>&#38706;</rb><!-- 露 --><rt>lồ</rt></ruby>
			<ruby><rb>&#27700;</rb><!-- 水 --><rt>thủy</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="en">Amrita water mantra</span><br />
		<span lang="fr">Mantra pour l’expansion de l’eau Amrita</span><br />
		<span lang="de">Amrta-Wasser-Mantra</span><br />
		<span lang="it">Mantra dell’amrita (acqua della vita eterna)</span>
	</h3></header>
	<p>
		<span lang="vi">Nam-mô tô rô bà da, đát tha nga đa da, đát điệt tha. Án, tô rô tô rô, bát ra tô rô, bát ra tô rô, ta bà ha.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71102;</rb><rt>namaḥ</rt></ruby>
			<ruby><rb>&#71085;&#71090;&#71080;&#71091;&#71074;&#71079;</rb><rt>surūpaya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
			<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;:</rb><rt>tadyathā:</rt></ruby>
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71085;&#71090;&#71080;&#71090;</rb><rt>suru</rt></ruby>
			<ruby><rb>&#71085;&#71090;&#71080;&#71090;</rb><rt>suru</rt></ruby>
			<ruby><rb>&#71074;&#71103;&#71080;&#71085;&#71090;&#71080;&#71090;</rb><rt>prasuru</rt></ruby>
			<ruby><rb>&#71074;&#71103;&#71080;&#71085;&#71090;&#71080;&#71090;</rb><rt>prasuru</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
			<ruby><rb>&#23383;</rb><!-- 字 --><rt>tự</rt></ruby>
			<ruby><rb>&#27700;</rb><!-- 水 --><rt>thủy</rt></ruby>
			<ruby><rb>&#36650;</rb><!-- 輪 --><rt>luân</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="en">one-syllabic water-wheel mantra</span><br />
		<span lang="fr">Mantra de la répétition du même mot sylalabique</span><br />
		<span lang="de">einsilbige Wasser-Rad-Mantra</span><br />
		<span lang="it">Mantra monosillabo della ruota d’acqua</span>
	</h3></header>
	<p>
		<span lang="vi">Án, noan noan noan noan noan.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71082;&#71101;</rb><rt>vaṃ</rt></ruby>
			<ruby><rb>&#71082;&#71101;</rb><rt>vaṃ</rt></ruby>
			<ruby><rb>&#71082;&#71101;</rb><rt>vaṃ</rt></ruby>
			<ruby><rb>&#71082;&#71101;</rb><rt>vaṃ</rt></ruby>
			<ruby><rb>&#71082;&#71101;</rb><rt>vaṃ</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#20083;</rb><!-- 乳 --><rt>Nhũ</rt></ruby>
			<ruby><rb>&#28023;</rb><!-- 海 --><rt>hải</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="en">milk ocean mantra</span><br />
		<span lang="fr">Mantra pour l’océan de lait</span><br />
		<span lang="de">Milchmeer-Mantra</span><br />
		<span lang="it">Mantra dell’oceano di latte</span>
	</h3></header>
	<p>
		<span lang="vi">Nam-mô tam mãn đa, một đà nẩm. Án, noan</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71102;</rb><rt>namaḥ</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71073;&#71103;&#71069;</rb><rt>samanta</rt></ruby>
			<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71073;&#71087;&#71101;</rb><rt>buddhānāṃ</rt></ruby>
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71082;&#71101;</rb><rt>vaṃ</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#31281;</rb><!-- 稱 --><rt>Xưng</rt></ruby>
			<ruby><rb>&#35738;</rb><!-- 讚 --><rt>tán</rt></ruby>
			<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		</span><br />
		<span lang="en">Praise to 7 Tathāgata</span><br />
		<span lang="fr">éloge aux 7 Tathāgata</span><br />
		<span lang="de">Loben an 7 Tathāgata</span><br />
		<span lang="it">Lode ai 7 Tathāgata</span>
	</h3></header>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#22810;</rb><!-- 多 --><rt>Đa</rt></ruby>
			<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71074;&#71103;&#71080;&#71077;&#71091;&#71069;&#71080;&#71069;&#71103;&#71073;&#71087;&#71079;</rb><rt>prabhūta-ratnāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby></span><br />
		<span lang="en">Veneration to the Tathagata Abundant Gemstones!</span><br />
		<span lang="fr">Hommage au Tathagatas qui a beaucoup de pierres précieuses!</span><br />
		<span lang="de">Verehrung dem Tathagata zahlreiche Edelsteine!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#23542;</rb><!-- 寶 --><rt>Bảo</rt></ruby>
			<ruby><rb>&#21213;</rb><!-- 勝 --><rt>thắng</rt></ruby>
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71080;&#71069;&#71103;&#71073;&#71072;&#71080;&#71087;&#71079;</rb><rt>ratna-dharāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Tathagata Gemstone-Sublime!</span><br />
		<span lang="fr">Hommage au Tathagatas qui est le plus sublime!</span><br />
		<span lang="de">Verehrung dem Tathagata Edelstein erhaben!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#22937;</rb><!-- 妙 --><rt>Diệu</rt></ruby>
			<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc</rt></ruby>
			<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71085;&#71090;&#71080;&#71090;&#71074;&#71087;&#71079;</rb><rt>surupāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Tathagata wondrous Body!</span><br />
		<span lang="fr">Hommage au Tathagatas qui a un merveilleux corps!</span><br />
		<span lang="de">Verehrung dem Tathagata wundervoller Körper!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#24291;</rb><!-- 廣 --><rt>Quảng</rt></ruby>
			<ruby><rb>&#21338;</rb><!-- 博 --><rt>bát</rt></ruby>
			<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71082;&#71088;&#71074;&#71090;&#71081;&#71056;&#71069;&#71103;&#71080;&#71087;&#71079;</rb><rt>vipula-gatrāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Tathagata All-Encompassing Body!</span><br />
		<span lang="fr">Hommage au Tathagatas qui est métamorphose!</span><br />
		<span lang="de">Verehrung dem Tathagata allumfassender Körper!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#38626;</rb><!-- 離 --><rt>Ly</rt></ruby>
			<ruby><rb>&#24598;</rb><!-- 怖 --><rt>bố</rt></ruby>
			<ruby><rb>&#30031;</rb><!-- 畏 --><rt>úy</rt></ruby>
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71040;&#71077;&#71079;&#71101;&#71054;&#71080;&#71087;&#71079;</rb><rt>abhayaṃ-karāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Tathagata Removal of Fear!</span><br />
		<span lang="fr">Hommage au Tathagatas qui éloigne la peur!</span><br />
		<span lang="de">Verehrung dem Tathagata Entfernen der Furcht!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#29976;</rb><!-- 甘 --><rt>Cam</rt></ruby>
			<ruby><rb>&#38706;</rb><!-- 露 --><rt>lồ</rt></ruby>
			<ruby><rb>&#29579;</rb><!-- 王 --><rt>vương</rt></ruby>
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71040;&#71078;&#71092;&#71069;&#71080;&#71061;&#71087;&#71079;</rb><rt>amṛta-rajāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Tathagata Amrita King!</span><br />
		<span lang="fr">Hommage au Tathagatas qui est roi de l’Amrita!</span><br />
		<span lang="de">Verehrung dem Tathagata Amrta König!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
			<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
			<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71040;&#71078;&#71088;&#71069;&#71087;&#71077;&#71087;&#71079;</rb><rt>amitābhāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Tathagata Amitabha!</span><br />
		<span lang="fr">Hommage au Tathagatas Amitabha!</span><br />
		<span lang="de">Verehrung dem Tathagata Amitabha!</span>
	</p>
</section>
<section class="dong-khung">
	<section class="multi-lang">
		<div lang="zh-Hant">
			<ruby><rb>&#31070;</rb><!-- 神 --><rt>Thần</rt></ruby>
			<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
			<ruby><rb>&#21152;</rb><!-- 加 --><rt>gia</rt></ruby>
			<ruby><rb>&#25345;</rb><!-- 持 --><rt>trì</rt></ruby>
			<table class="inline-table">
				<tr><td>
					<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
					<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
					<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực</rt></ruby>
				</td></tr>
				<tr><td>
					<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
					<ruby><rb>&#26045;</rb><!-- 施 --><rt>thí</rt></ruby>
					<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực</rt></ruby>
				</td></tr>
				<tr><td>
					<ruby><rb>&#29976;</rb><!-- 甘 --><rt>Cam</rt></ruby>
					<ruby><rb>&#38706;</rb><!-- 露 --><rt>lồ</rt></ruby>
					<ruby><rb>&#27700;</rb><!-- 水 --><rt>thủy</rt></ruby>
				</td></tr>
			</table><br />
			<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
			<ruby><rb>&#26045;</rb><!-- 施 --><rt>thí</rt></ruby>
			<ruby><rb>&#27827;</rb><!-- 河 --><rt>hà</rt></ruby>
			<ruby><rb>&#27801;</rb><!-- 沙 --><rt>sa</rt></ruby>
			<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
			<table class="inline-table">
				<tr><td>
					<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
					<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
				</td></tr>
				<tr><td>
					<ruby><rb>&#26377;</rb><!-- 有 --><rt>Hữu</rt></ruby>
					<ruby><rb>&#24773;</rb><!-- 情 --><rt>tình</rt></ruby>
				</td></tr>
				<tr><td>
					<ruby><rb>&#23396;</rb><!-- 孤 --><rt>Cô</rt></ruby>
					<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
				</td></tr>
			</table>
		</div>
		<div lang="en">
			<table class="inline-table">
				<tr><td>Pure Dharma foods</td></tr>
				<tr><td>Dharma foods</td></tr>
				<tr><td>Amrita water</td></tr>
			</table>&nbsp;transformed through magical mantras, I offer to the countless&nbsp;<table class="inline-table">
				<tr><td>Buddhists</td></tr>
				<tr><td>sentient beings</td></tr>
				<tr><td>lonely ghosts</td></tr>
			</table>.
		</div>
		<div lang="fr">
			J’offre aux innombrables&nbsp;<table class="inline-table">
				<tr><td>fidèles de Bouddha</td></tr>
				<tr><td>êtres sensibles</td></tr>
				<tr><td>esprits isolés</td></tr>
			</table>&nbsp;de&nbsp;<table class="inline-table">
				<tr><td>la pure nourriture de Dharma</td></tr>
				<tr><td>la nourriture de Dharma</td></tr>
				<tr><td>l’eau Amrita</td></tr>
			</table>&nbsp;qui a été transformée par les mantras magiques.
		</div>
		<div lang="de">
			Durch magische Mantras verwandelte(s)&nbsp;<table class="inline-table">
				<tr><td>reine Dharma-Speise</td></tr>
				<tr><td>Dharma-Speisung</td></tr>
				<tr><td>Amrta-Wasser</td></tr>
			</table>&nbsp;bringe ich den zahllosen&nbsp;<table class="inline-table">
				<tr><td>Buddhisten</td></tr>
				<tr><td>fühlenden Wesen</td></tr>
				<tr><td>einsamen Geistern</td></tr>
			</table>&nbsp;dar.
		</div>
		<div lang="it">
			Questi mantra prodigiosi trasformano&nbsp;<table class="inline-table">
				<tr><td>il cibo del Dharma</td></tr>
				<tr><td>il cibo del Dāna Dharma</td></tr>
				<tr><td>l’acqua Amrita</td></tr>
			</table>&nbsp;in offerta universale per tutti gli innumerevoli&nbsp;<table class="inline-table">
				<tr><td>discepoli del Buddha</td></tr>
				<tr><td>esseri senzienti</td></tr>
				<tr><td>spiriti solitari</td></tr>
			</table>.
		</div>
	</section>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
			<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
			<ruby><rb>&#39165;</rb><!-- 飽 --><rt>bảo</rt></ruby>
			<ruby><rb>&#28415;</rb><!-- 滿 --><rt>mãn</rt></ruby>
			<ruby><rb>&#25448;</rb><!-- 捨 --><rt>xả</rt></ruby>
			<ruby><rb>&#24947;</rb><!-- 慳 --><rt>xan</rt></ruby>
			<ruby><rb>&#36010;</rb><!-- 貪 --><rt>tham</rt></ruby>
			<br />
			<ruby><rb>&#36895;</rb><!-- 速 --><rt>Tốc</rt></ruby>
			<ruby><rb>&#33067;</rb><!-- 脫 --><rt>thoát</rt></ruby>
			<ruby><rb>&#24189;</rb><!-- 幽 --><rt>u</rt></ruby>
			<ruby><rb>&#20901;</rb><!-- 冥 --><rt>minh</rt></ruby>
			<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
			<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
			<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		</span><br />
		<span lang="en">May they be sated and made content by them and abandon avarice and greed, quickly escape from hell and be born in the Pure Land,</span><br />
		<span lang="fr">Qu’ils en soient rassasiés, se sentent heureux et qu’ils renoncent à l’avarice et à la cupidité pour pouvoir s’échapper de l’enfer rapidement et renaître dans la terre Pure de la Félicité.</span><br />
		<span lang="de">Mögen sie dadurch alle gesättigt und zufrieden werden und Geiz und Gier aufgeben, rasch der Hölle entkommen und im Reinen Land geboren werden,</span><br />
		<span lang="it">Possano costoro saziarsi e abbandonare avarizia e avidità ed essere pronti a lasciare l'oscurità e rinascere nella Terra Pura,</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#30344;</rb><!-- 皈 --><rt>Quy</rt></ruby>
			<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
			<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
			<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
			<ruby><rb>&#30332;</rb><!-- 發 --><rt>phát</rt></ruby>
			<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
			<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề</rt></ruby>
			<br />
			<ruby><rb>&#31350;</rb><!-- 究 --><rt>Cứu</rt></ruby>
			<ruby><rb>&#31455;</rb><!-- 竟 --><rt>cánh</rt></ruby>
			<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
			<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
			<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
			<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		</span><br />
		<span lang="en">[may they] take refuge there to the 3 Jewels, generate the bodhi mind of enlightenment, ultimately perfect the peerless path,</span><br />
		<span lang="fr">Qu’ils se réfugient auprès des 3 joyaux, qu’ils purifient l’esprit de Bodhi pour atteindre l’éveil et perfectionnent la voie inégalisée de Bouddha</span><br />
		<span lang="de">[mögen sie] dort zu den 3 Juwelen Zuflucht nehmen, die Bodhi-Geisteshaltung erzeugen, schließlich den unübertrefflichen Pfad vollenden,</span><br />
		<span lang="it">[possano] prendere Rifugio nei 3 Gioielli, generare la mente della Bodhi e infine realizzare il Supremo Risveglio.</span>
	</p>
	<section class="multi-lang">
		<div lang="zh-Hant">
			<ruby><rb>&#21151;</rb><!-- 功 --><rt>Công</rt></ruby>
			<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
			<ruby><rb>&#37002;</rb><!-- 邊 --><rt>biên</rt></ruby>
			<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận</rt></ruby>
			<ruby><rb>&#26410;</rb><!-- 未 --><rt>vị</rt></ruby>
			<ruby><rb>&#20358;</rb><!-- 來 --><rt>lai</rt></ruby>
			<br />
			<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
			<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
			<table class="inline-table">
				<tr><td>
					<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
					<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
				</td></tr>
				<tr><td>
					<ruby><rb>&#26377;</rb><!-- 有 --><rt>Hữu</rt></ruby>
					<ruby><rb>&#24773;</rb><!-- 情 --><rt>tình</rt></ruby>
				</td></tr>
				<tr><td>
					<ruby><rb>&#23396;</rb><!-- 孤 --><rt>Cô</rt></ruby>
					<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
				</td></tr>
			</table>
			<ruby><rb>&#21516;</rb><!-- 同 --><rt>đồng</rt></ruby>
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
			<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực.</rt></ruby>
		</div>
		<div lang="en">
			and may their merits be limitless in all the future! All&nbsp;<table class="inline-table">
				<tr><td>Buddhists</td></tr>
				<tr><td>sentient beings</td></tr>
				<tr><td>lonely ghosts</td></tr>
			</table>&nbsp;eat the Dharma foods together.
		</div>
		<div lang="fr">
			et que leurs mérites soient illimités dans le futur. Que tous les&nbsp;<table class="inline-table">
				<tr><td>fidèles de Bouddha</td></tr>
				<tr><td>êtres sensibles</td></tr>
				<tr><td>esprits isolés</td></tr>
			</table>&nbsp;mangent tous ensemble les aliments du Dharma.
		</div>
		<div lang="de">
			und mögen ihre Verdienste grenzenlos sein bis in alle Zukunft! Alle&nbsp;<table class="inline-table">
				<tr><td>Buddhisten</td></tr>
				<tr><td>fühlenden Wesen</td></tr>
				<tr><td>einsamen Geistern</td></tr>
			</table>&nbsp;essen gemeinsam die Dharma-Speise.
		</div>
		<div lang="it">
			I meriti e le virtù essendo illimitate dureranno a lungo nel futuro. Che tutti&nbsp;<table class="inline-table">
				<tr><td>i discepoli del Buddha</td></tr>
				<tr><td>gli esseri senzienti</td></tr>
				<tr><td>gli spiriti solitari</td></tr>
			</table>&nbsp;condividano questo cibo del Dharma.
		</div>
	</section>
</section>
<section class="multi-lang">
	<div lang="zh-Hant">
		<ruby><rb>&#27741;</rb><!-- 汝 --><rt>Nhữ</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<table class="inline-table">
			<tr><td>
				<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
				<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#26377;</rb><!-- 有 --><rt>Hữu</rt></ruby>
				<ruby><rb>&#24773;</rb><!-- 情 --><rt>tình</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#23396;</rb><!-- 孤 --><rt>Cô</rt></ruby>
				<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
			</td></tr>
		</table>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<br />
		<ruby><rb>&#27741;</rb><!-- 汝 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>kim</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>thí</rt></ruby>
		<ruby><rb>&#24773;</rb><!-- 情 --><rt>nhữ</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>cúng</rt></ruby>
		<br />
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>Thử</rt></ruby>
		<ruby><rb>&#39135;</rb><!-- 食 --><rt>thực</rt></ruby>
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<br />
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<table class="inline-table">
			<tr><td>
				<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
				<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#26377;</rb><!-- 有 --><rt>Hữu</rt></ruby>
				<ruby><rb>&#24773;</rb><!-- 情 --><rt>tình</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#23396;</rb><!-- 孤 --><rt>Cô</rt></ruby>
				<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
			</td></tr>
		</table>
		<ruby><rb>&#20849;</rb><!-- 共 --><rt>cộng</rt></ruby>
		<br />
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#21151;</rb><!-- 功 --><rt>công</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
		<br />
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#21450;</rb><!-- 及 --><rt>cập</rt></ruby>
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>ư</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<br />
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
		<ruby><rb>&#33287;</rb><!-- 與 --><rt>dữ</rt></ruby>
		<table class="inline-table">
			<tr><td>
				<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
				<ruby><rb>&#23376;</rb><!-- 子 --><rt>tử</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#26377;</rb><!-- 有 --><rt>Hữu</rt></ruby>
				<ruby><rb>&#24773;</rb><!-- 情 --><rt>tình</rt></ruby>
			</td></tr>
			<tr><td>
				<ruby><rb>&#23396;</rb><!-- 孤 --><rt>Cô</rt></ruby>
				<ruby><rb>&#39746;</rb><!-- 魂 --><rt>hồn</rt></ruby>
			</td></tr>
		</table>
		<br />
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>Giai</rt></ruby>
		<ruby><rb>&#20849;</rb><!-- 共 --><rt>cộng</rt></ruby>
		<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
	</div>
	<div lang="en">
		All you&nbsp;<table class="inline-table">
			<tr><td>Buddhists</td></tr>
			<tr><td>sentient beings</td></tr>
			<tr><td>lonely ghosts</td></tr>
		</table>, I now offer you these foods! These foods reach all&nbsp;<table class="inline-table">
			<tr><td>Buddhists</td></tr>
			<tr><td>sentient beings</td></tr>
			<tr><td>lonely ghosts</td></tr>
		</table>. May these merits reach all&nbsp;<table class="inline-table">
			<tr><td>Buddhists</td></tr>
			<tr><td>sentient beings</td></tr>
			<tr><td>lonely ghosts</td></tr>
		</table>,and may the one making the offerings and the&nbsp;<table class="inline-table">
			<tr><td>Buddhists</td></tr>
			<tr><td>sentient beings</td></tr>
			<tr><td>lonely ghosts</td></tr>
		</table>, all perfect the Buddha path together!
	</div>
	<div lang="fr">
		À vous, les&nbsp;<table class="inline-table">
			<tr><td>fidèles de Bouddha</td></tr>
			<tr><td>êtres sensibles</td></tr>
			<tr><td>esprits isolés</td></tr>
		</table>,j’offre cette nourriture! Elle vous appartient et elle vous est destinée à vous tous les&nbsp;<table class="inline-table">
			<tr><td>fidèles de Bouddha</td></tr>
			<tr><td>êtres sensibles</td></tr>
			<tr><td>esprits isolés</td></tr>
		</table>. Que cette nourriture puisse parvenir aux&nbsp;<table class="inline-table">
			<tr><td>fidèles de Bouddha</td></tr>
			<tr><td>êtres sensibles</td></tr>
			<tr><td>esprits isolés</td></tr>
		</table>&nbsp;et à ceux qui font des offrandes et qu’ils perfectionnent tous ensemble la voie de Bouddha.
	</div>
	<div lang="de">
		Alle ihr&nbsp;<table class="inline-table">
			<tr><td>Buddhisten</td></tr>
			<tr><td>fühlenden Wesen</td></tr>
			<tr><td>einsamen Geistern</td></tr>
		</table>! Ich bringe euch jetzt diese Speise dar! Diese Speise erreicht alle&nbsp;<table class="inline-table">
			<tr><td>Buddhisten</td></tr>
			<tr><td>fühlenden Wesen</td></tr>
			<tr><td>einsamen Geistern</td></tr>
		</table>&nbsp;in den 10 Himmelsrichtungen gleichermaßen. Mögen diese Verdienste alle Lebewesen erreichen und der Darbringer der Speise und die&nbsp;<table class="inline-table">
			<tr><td>Buddhisten</td></tr>
			<tr><td>fühlenden Wesen</td></tr>
			<tr><td>einsamen Geistern</td></tr>
		</table>&nbsp;alle gemeinsam den Buddha-Pfad vollenden!
	</div>
	<div lang="it">
		A voi, moltitudine di&nbsp;<table class="inline-table">
			<tr><td>discepoli del Buddha</td></tr>
			<tr><td>esseri senzienti</td></tr>
			<tr><td>spiriti solitari</td></tr>
		</table>, offro questo cibo nelle 10 direzioni che possa essere condiviso da tutti. Possano tutti questi meriti e virtù estendersi a tutti in modo che, sia il donatore che&nbsp;<table class="inline-table">
			<tr><td>discepoli del Buddha</td></tr>
			<tr><td>esseri senzienti</td></tr>
			<tr><td>spiriti solitari</td></tr>
		</table>, insieme realizzino l'illuminazione.
	</div>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#26045;</rb><!-- 施 --><rt>Thí</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
			<ruby><rb>&#36974;</rb><!-- 遮 --><rt>Giá</rt></ruby>
			<ruby><rb>&#39135;</rb><!-- 食 --><rt>Thực</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>Chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>Ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra of unhindered feeding</span><br />
		<span lang="fr">Mantra pour manger facilement</span><br />
		<span lang="de">Mantra der ungehinderten Speisung</span><br />
		<span lang="it">Mantra del donare cibo senza ostacoli</span>
	</h3></header>
	<p>
		<span lang="vi">Án, mục lực lăng, ta bà ha</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71078;&#71090;&#71081;&#71087;&#71081;&#71088;&#71073;&#71103;</rb><rt>mulālin</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
			<ruby><rb>&#20379;</rb><!-- 供 --><rt>Cúng</rt></ruby>
			<ruby><rb>&#39178;</rb><!-- 養 --><rt>Dường</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>Chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>Ngôn</rt></ruby>
		</span><br />
		<span lang="en">Mantra of all-encompassing offering</span><br />
		<span lang="fr">Mantra pour l’offrande universelle</span><br />
		<span lang="de">Mantra der allumfassenden Darbringung</span><br />
		<span lang="it">Mantra dell’offerta universale</span>
	</h3></header>
	<p>
		<span lang="vi">Án, nga nga nẳng tam bà phạ, phiệt nhựt ra, hồng.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71056;&#71056;&#71073;</rb><rt>gagana</rt></ruby>
			<ruby><rb>&#71085;&#71101;&#71077;&#71082;</rb><rt>saṃbhava</rt></ruby>
			<ruby><rb>&#71082;&#71061;&#71103;&#71080;</rb><rt>vajra</rt></ruby>
			<ruby><rb>&#71086;&#71098;&#71102;</rb><rt>hoḥ</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung mantra-seg">
	<header lang="zh-Hant"><h3>
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#22238;</rb><!-- 回 --><rt>Hồi</rt></ruby>
		<ruby><rb>&#21521;</rb><!-- 向 --><rt>Hướng</rt></ruby>
		<ruby><rb>&#30495;</rb><!-- 真 --><rt>Chân</rt></ruby>
		<ruby><rb>&#35328;</rb><!-- 言 --><rt>Ngôn</rt></ruby>
	</h3></header>
	<p>
		<span lang="vi">Án, tát mọ lai, tát mọ lai, di mọ nẵng, tát kháp ra ma ha thính kháp ra hồng.</span>&nbsp;(×3)<br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71078;&#71080;</rb><rt>smara</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71078;&#71080;</rb><rt>smara</rt></ruby>
			<ruby><rb>&#71082;&#71088;&#71078;&#71073;</rb><rt>vimana</rt></ruby>
			<ruby><rb>&#71059;&#71054;&#71103;&#71080;</rb><rt>cakra</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71059;&#71054;&#71103;&#71080;</rb><rt>mahācakra</rt></ruby>
			<ruby><rb>&#71086;&#71091;&#71101;</rb><rt>hūṃ</rt></ruby>
		</span>
	</p>
</section>
