---
title: Hương vân di bố
numb: 3
---

<header lang="vi"><h2>
	<span lang="vi">Hương vân di bố</span>
</h2></header>
<p class="wait-multi-lang" lang="zh-Hant">
	<ruby><rb>&#39321;</rb><!-- 香 --><rt>Hương</rt></ruby>
	<ruby><rb>&#38642;</rb><!-- 雲 --><rt>vân</rt></ruby>
	<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
	<ruby><rb>&#24067;</rb><!-- 布 --><rt>bố</rt></ruby>
	<br />
	<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
	<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
	<ruby><rb>&#26157;</rb><!-- 昭 --><rt>chiêu</rt></ruby>
	<ruby><rb>&#24432;</rb><!-- 彰 --><rt>chương</rt></ruby>
	<br />
	<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
	<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề</rt></ruby>
	<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
	<ruby><rb>&#24291;</rb><!-- 廣 --><rt>quảng</rt></ruby>
	<ruby><rb>&#33707;</rb><!-- 莫 --><rt>mạc</rt></ruby>
	<ruby><rb>&#33021;</rb><!-- 能 --><rt>năng</rt></ruby>
	<ruby><rb>&#37327;</rb><!-- 量 --><rt>lường</rt></ruby>
	<br />
	<ruby><rb>&#35320;</rb><!-- 觸 --><rt>Xúc</rt></ruby>
	<ruby><rb>&#34389;</rb><!-- 處 --><rt>xứ</rt></ruby>
	<ruby><rb>&#25918;</rb><!-- 放 --><rt>phóng</rt></ruby>
	<ruby><rb>&#27627;</rb><!-- 毫 --><rt>hào</rt></ruby>
	<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
	<br />
	<ruby><rb>&#28858;</rb><!-- 為 --><rt>Vi</rt></ruby>
	<ruby><rb>&#29790;</rb><!-- 瑞 --><rt>thoại,</rt></ruby>
	<ruby><rb>&#28858;</rb><!-- 為 --><rt>vi</rt></ruby>
	<ruby><rb>&#31077;</rb><!-- 祥 --><rt>tường,</rt></ruby>
	<br />
	<ruby><rb>&#20379;</rb><!-- 供 --><rt>Ngưỡng</rt></ruby>
	<ruby><rb>&#39178;</rb><!-- 養 --><rt>khải</rt></ruby>
	<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
	<ruby><rb>&#20013;</rb><!-- 中 --><rt>Trung</rt></ruby>
	<ruby><rb>&#29579;</rb><!-- 王 --><rt>Vương</rt></ruby>
	<br />
	<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
	<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
	<ruby><rb>&#39321;</rb><!-- 香 --><rt>Hương</rt></ruby>
	<ruby><rb>&#38642;</rb><!-- 雲 --><rt>Vân</rt></ruby>
	<ruby><rb>&#33995;</rb><!-- 蓋 --><rt>Cái</rt></ruby>
	<ruby><rb>&#33851;</rb><!-- 萻 --><rt>Bồ</rt></ruby>
	<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	<ruby><rb>&#25705;</rb><!-- 摩 --><rt>Ma</rt></ruby>
	<ruby><rb>&#35382;</rb><!-- 訶 --><rt>ha</rt></ruby>
	<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	&nbsp;(×3)
</p>
