---
title: bài tựa chú Lăng Nghiêm
numb: 4
---
<header lang="vi"><h2>bài tựa chú Lăng Nghiêm</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#26974;</rb><!-- 楞 --><rt>Lăng</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>Nghiêm</rt></ruby>
		<ruby><rb>&#26371;</rb><!-- 會 --><rt>Hội</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>Thượng</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>Tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="en">Veneration to the Buddha and the bodhisattvas of the Surangàma assembly!</span><br />
	<span lang="fr">Hommage au Bouddha et aux Bodhisattvas dans l’assemblée du Surangama.</span><br />
	<span lang="de">Verehrung dem Buddha und den Bodhisattvas der Surangàma-Versammlung!</span><br />
	<span lang="it">Lode ai Buddha e i Bodhisattva dell'assemblea Shurangama</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>Diệu</rt></ruby>
		<ruby><rb>&#28251;</rb><!-- 湛 --><rt>trạm</rt></ruby>
		<ruby><rb>&#32317;</rb><!-- 總 --><rt>tổng</rt></ruby>
		<ruby><rb>&#25345;</rb><!-- 持 --><rt>trì</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#21205;</rb><!-- 動 --><rt>động</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>tôn</rt></ruby>
		<br />
		<ruby><rb>&#39318;</rb><!-- 首 --><rt>Thủ</rt></ruby>
		<ruby><rb>&#26974;</rb><!-- 楞 --><rt>Lăng</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>Nghiêm</rt></ruby>
		<ruby><rb>&#29579;</rb><!-- 王 --><rt>Vương</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#31232;</rb><!-- 稀 --><rt>hi</rt></ruby>
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>hữu.</rt></ruby>
	</span><br />
	<span lang="vi">
		Diệu trạm tổng trì Ðấng Bất Ðộng,<br />
		Thủ lăng nghiêm thế gian hiếm có.
	</span><br />
	<span lang="en">
		Inconceivably pure, all-encompassing, unmoving Sublime One,<br />
		(and) Surangáma (-samàdhi) - king, rarely in the world!
	</span><br />
	<span lang="fr">Le Surangama Mantra est mystérieusement pur et sublime. Il est comme un roi rare qui se trouve dans le monde!</span><br />
	<span lang="de">
		Unfaßbar reiner, alles erfassender, regungsloser Erhabener,<br />
		[und] Surangàma[-Samàdhi]- König, selten in der Welt!
	</span><br />
	<span lang="it">
		Così splendido, sereno, onnicomprensivo e inamovibile è l'Onorato,<br />
		il supremo aspetto del Shurangama che appare molto raramente nel mondo!
	</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#37559;</rb><!-- 銷 --><rt>Tiêu</rt></ruby>
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>ngã</rt></ruby>
		<ruby><rb>&#20740;</rb><!-- 億 --><rt>ức</rt></ruby>
		<ruby><rb>&#21163;</rb><!-- 劫 --><rt>kiếp</rt></ruby>
		<ruby><rb>&#39003;</rb><!-- 顛 --><rt>điên</rt></ruby>
		<ruby><rb>&#20498;</rb><!-- 倒 --><rt>đảo</rt></ruby>
		<ruby><rb>&#24819;</rb><!-- 想 --><rt>tưởng</rt></ruby>
		<br />
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#27511;</rb><!-- 歷 --><rt>lịch</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>tăng</rt></ruby>
		<ruby><rb>&#31047;</rb><!-- 祇 --><rt>kỳ</rt></ruby>
		<ruby><rb>&#29554;</rb><!-- 獲 --><rt>hoạch</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân.</rt></ruby>
	</span><br />
	<span lang="vi">
		Diệt vọng điên đảo muôn ức kiếp<br />
		Không qua nhiều đời được Pháp Thân,
	</span><br />
	<span lang="en">
		Destroy my senseless thoughts, cherished for a hundred million kalpas,<br />
		enable me to attain the Dharmakaya, without first having to live through asankhyeya (-kalpas)!
	</span><br />
	<span lang="fr">
		Il permet de détruire mes mauvaises pensées accumulées pendant de centaines de millions de Kalpas,<br />
		sans être obligé d’attendre d’innombrables asankhyeya pour réaliser le Dharmakaya.
	</span><br />
	<span lang="de">
		Vernichtet meine seit hundert Millionen Kalpas gehegten widersinnigen Gedanken,<br />
		laßt mich den Dharmakaya erlangen, ohne erst Asankhyeya[-Kalpas] durchleben zu müssen!
	</span><br />
	<span lang="it">
		Estingui i miei pensieri illusori accuditi per centinaia di milioni di kalpa<br />
		e consentimi di realizzare il Dharmakaya senza dover prima attendere per un tempo infinito
	</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#20170;</rb><!-- 今 --><rt>kim</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#26524;</rb><!-- 果 --><rt>quả</rt></ruby>
		<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>Bảo</rt></ruby>
		<ruby><rb>&#29579;</rb><!-- 王 --><rt>Vương,</rt></ruby>
		<br />
		<ruby><rb>&#36996;</rb><!-- 還 --><rt>hoàn</rt></ruby>
		<ruby><rb>&#24230;</rb><!-- 度 --><rt>độ</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>như</rt></ruby>
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#24658;</rb><!-- 恒 --><rt>hằng</rt></ruby>
		<ruby><rb>&#27801;</rb><!-- 沙 --><rt>sa</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng.</rt></ruby>
	</span><br />
	<span lang="vi">
		Nguyện con nay thành quả Bảo Vương,<br />
		Trở lại độ khắp chúng hằng sa,
	</span><br />
	<span lang="en">
		I shall now attain the fruit of buddhahood and become a jewel-like king,<br />
		return and liberate sentient beings as numerous as grains of sand in the Ganges!
	</span><br />
	<span lang="fr">
		En ce moment, je fais le serment de réaliser l’état de Bouddha, de devenir un précieux roi<br />
		et de retourner pour sauver tous les êtres sensibles qui sont aussi nombreux que les grains de sable dans le Gange !
	</span><br />
	<span lang="de">
		Ich will nun die Frucht der Buddhaschaft erlangen und ein edelsteingleicher König werden,<br />
		zurückkehren und Lebewesen so zahlreich wie Sandkörner im Ganges befreien!
	</span><br />
	<span lang="it">
		Possa io ora realizzare l'illuminazione come un Re del Dharma<br />
		affinché torni a liberare tanti esseri quante sono le sabbie del Gange.
	</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#23559;</rb><!-- 將 --><rt>Tương</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#28145;</rb><!-- 深 --><rt>thâm</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>phụng</rt></ruby>
		<ruby><rb>&#22645;</rb><!-- 塵 --><rt>trần</rt></ruby>
		<ruby><rb>&#21049;</rb><!-- 刹 --><rt>sát</rt></ruby>
		<br />
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>thị</rt></ruby>
		<ruby><rb>&#21063;</rb><!-- 則 --><rt>tắc</rt></ruby>
		<ruby><rb>&#21517;</rb><!-- 名 --><rt>danh</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vi</rt></ruby>
		<ruby><rb>&#22577;</rb><!-- 報 --><rt>báo</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#24681;</rb><!-- 恩 --><rt>ân.</rt></ruby>
	</span><br />
	<span lang="vi">
		Thâm tâm phụng thờ vi trần cõi,<br />
		như thế gọi là báo Phật ân
	</span><br />
	<span lang="en">
		In countless worlds I shall offer this profound mindset to the buddhas,<br />
		only this is repayment of the favour of the buddhas!
	</span><br />
	<span lang="fr">Par gratitude envers Bouddha, je passerai toute ma vie à rendre service aux êtres sensibles quel que soit l’endroit où je me trouve</span><br />
	<span lang="de">
		Ich werde diese tiefgründige Geisteshaltung in zahlosen Welten den Buddhas darbringen,<br />
		erst das heißt es, die Gunst der Buddhas zu vergelten!
	</span><br />
	<span lang="it">Offro questa profonda aspirazione alle innumerevoli terre di Buddha sforzandomi di ripagare la loro illimitata compassione</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20239;</rb><!-- 伏 --><rt>Phục</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>Tôn</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vị</rt></ruby>
		<ruby><rb>&#35657;</rb><!-- 證 --><rt>chứng</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh,</rt></ruby>
		<br />
		<ruby><rb>&#20116;</rb><!-- 五 --><rt>ngũ</rt></ruby>
		<ruby><rb>&#28609;</rb><!-- 濁 --><rt>trược</rt></ruby>
		<ruby><rb>&#24801;</rb><!-- 惡 --><rt>ác</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>thế</rt></ruby>
		<ruby><rb>&#35475;</rb><!-- 誓 --><rt>thệ</rt></ruby>
		<ruby><rb>&#20808;</rb><!-- 先 --><rt>tiên</rt></ruby>
		<ruby><rb>&#20837;</rb><!-- 入 --><rt>nhập.</rt></ruby>
	</span><br />
	<span lang="vi">
		Kính lạy Thế Tôn xin chứng minh,<br />
		Đời ngũ trược con xin vào trước,
	</span><br />
	<span lang="en">
		I prostrate myself and request the Sublime One to attest that:<br />
		I vow to first go to the evil world of the 5 obscurations!
	</span><br />
	<span lang="fr">
		Je me prosterne et prie le Maître Suprême pour témoigner<br />
		que je fais le serment d’entrer en premier dans le monde des 5 chemins ténébreux.
	</span><br />
	<span lang="de">
		Ich werfe mich nieder und bitte den Erhabenen zu bezeugen:<br />
		In die üble Welt der 5 Trübungen gelobe ich zuerst zu gehen!
	</span><br />
	<span lang="it">
		Umilmente imploro l'Onorato dal mondo di sigillare il mio voto:<br />
		che mi impegni prima ad apparire nell’epoca malvagia delle 5 impurità.
	</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#26410;</rb><!-- 未 --><rt>vị</rt></ruby>
		<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<br />
		<ruby><rb>&#32066;</rb><!-- 終 --><rt>chung</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>ư</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#21462;</rb><!-- 取 --><rt>thủ</rt></ruby>
		<ruby><rb>&#27877;</rb><!-- 泥 --><rt>Nê</rt></ruby>
		<ruby><rb>&#27961;</rb><!-- 洹 --><rt>hoàn.</rt></ruby>
	</span><br />
	<span lang="vi">
		Còn một chúng sanh chưa thành Phật,<br />
		thì con còn chưa hưởng Niết-bàn.
	</span><br />
	<span lang="en">And as long as only a single sentient being has not yet become a buddha, I shall not accept nirvàna!</span><br />
	<span lang="fr">Aussi longtemps que cela durera, qu’il y aura toujours un être sensible qui ne sera pas encore devenu Bouddha, alors je ne réaliserai pas le Nirvàna !</span><br />
	<span lang="de">Und solange auch nur ein einziges Lebewesen noch nicht ein Buddha geworden ist, werde ich hier nicht das Nirvàna annehemen!</span><br />
	<span lang="it">E, fintanto che un solo essere senziente non sia diventato Buddha, possa io, mai sotto nessuna circostanza, realizzare il Nirvana.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#38596;</rb><!-- 雄 --><rt>hùng</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#21147;</rb><!-- 力 --><rt>lực</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi,</rt></ruby>
		<br />
		<ruby><rb>&#24076;</rb><!-- 希 --><rt>hi</rt></ruby>
		<ruby><rb>&#26356;</rb><!-- 更 --><rt>cánh</rt></ruby>
		<ruby><rb>&#23529;</rb><!-- 審 --><rt>thẩm</rt></ruby>
		<ruby><rb>&#38500;</rb><!-- 除 --><rt>trừ</rt></ruby>
		<ruby><rb>&#24494;</rb><!-- 微 --><rt>vi</rt></ruby>
		<ruby><rb>&#32048;</rb><!-- 細 --><rt>tế</rt></ruby>
		<ruby><rb>&#24785;</rb><!-- 惑 --><rt>hoặc,</rt></ruby>
	</span><br />
	<span lang="vi">
		Đại hùng, đại lực, đại từ bi,<br />
		Giúp con diệt tận lỗi nhỏ nhiệm,
	</span><br />
	<span lang="en">
		Great hero, most powerful, kind and compassionate one!<br />
		Time and again may you recognise and remove my tiniest delusions,
	</span><br />
	<span lang="fr">Maître Suprême aimable et compatissant, puissiez-vous encore et encore reconnaître mes illusions même les plus petites</span><br />
	<span lang="de">
		Großer Held, überaus Mächtiger, überaus Gütiger und Mitleidvoller!<br />
		Mögest du abermals meine winzigsten Verblendungen erkennen und entfernen,
	</span><br />
	<span lang="it">
		Oh Grande Eroe, il più Maestoso e il più Compassionevole,<br />
		inoltre spero che siano rimosse le mie più sottili illusioni,
	</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20196;</rb><!-- 令 --><rt>Linh</rt></ruby>
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>ngã</rt></ruby>
		<ruby><rb>&#26089;</rb><!-- 早 --><rt>tảo</rt></ruby>
		<ruby><rb>&#30331;</rb><!-- 登 --><rt>đăng</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#35258;</rb><!-- 覺 --><rt>giác,</rt></ruby>
		<br />
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>ư</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#22352;</rb><!-- 坐 --><rt>tọa</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		<ruby><rb>&#22580;</rb><!-- 場 --><rt>tràng.</rt></ruby>
	</span><br />
	<span lang="vi">
		Khiến con sớm lên Vô Thượng Giác,<br />
		ngồi đạo tràng ở khắp mười phương.
	</span><br />
	<span lang="en">
		Enable me to attain the peerless enlightenment,<br />
		so that in the worlds of the 10 directions I may sit in the place of the Path!
	</span><br />
	<span lang="fr">et m’en libérer, afin que je puisse trouver une place dans les mondes des 10 directions</span><br />
	<span lang="de">
		mich bald die unübertreffliche Erleuchtung erlangen lassen,<br />
		damit ich in den Welten der 10 Himmelsrichtungen am Platz des Pfades sitzen kann!
	</span><br />
	<span lang="it">
		così che possa realizzare la Suprema Illuminazione<br />
		e sedere nel Bhodhimanda dei 10 Regni
	</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33308;</rb><!-- 舜 --><rt>Thuấn</rt></ruby>
		<ruby><rb>&#33509;</rb><!-- 若 --><rt>nhã</rt></ruby>
		<ruby><rb>&#22810;</rb><!-- 多 --><rt>đa</rt></ruby>
		<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
		<ruby><rb>&#21487;</rb><!-- 可 --><rt>khả</rt></ruby>
		<ruby><rb>&#37559;</rb><!-- 銷 --><rt>tiêu</rt></ruby>
		<ruby><rb>&#20129;</rb><!-- 亡 --><rt>vong,</rt></ruby>
		<br />
		<ruby><rb>&#29197;</rb><!-- 爍 --><rt>thước</rt></ruby>
		<ruby><rb>&#36838;</rb><!-- 迦 --><rt>ca</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>ra</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#21205;</rb><!-- 動 --><rt>động</rt></ruby>
		<ruby><rb>&#36681;</rb><!-- 轉 --><rt>chuyển.</rt></ruby>
	</span><br />
	<span lang="vi">
		Hư không kia có thể tiêu vong,<br />
		tâm Kim Cang chẳng bao giờ chuyển.
	</span><br />
	<span lang="en">Sunyatá could sooner vanish than my mindset, akin to a chakra, be shaken!</span><br />
	<span lang="fr">Si l’interdépendance entre toutes choses devait bientôt disparaître, mon état d’esprit en resterait inébranlable.</span><br />
	<span lang="de">Eher könnte die Sunyatà verschwinden, als das meine Geisteshaltung, die einem Cakra gleicht, erschüttert würde!</span><br />
	<span lang="it">
		Persino se Shunyata dovesse svanire,<br />
		la mia suprema determinazione adamantina non ne sarebbe minimamente scossa.
	</span>
</p>
<section class="dong-khung">
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
			<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
			<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
			<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the continually abiding Buddhas in the 10 directions!</span><br />
		<span lang="fr">Hommage aux Bouddhas qui seront toujours là dans les 10 directions.</span><br />
		<span lang="de">Verehrung den beständig verweilenden Buddhas in den 10 Himmelsrichtungen!</span><br />
		<span lang="it">Lode ovunque siano agli onnipresenti Buddha!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
			<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
			<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
			<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
			<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the continually abiding Dharma of the 10 directions!</span><br />
		<span lang="fr">Hommage au Dharma qui sera toujours là dans les 10 directions.</span><br />
		<span lang="de">Verehrung dem beständig verweilenden Dharma der 10 Himmelsrichtungen!</span><br />
		<span lang="it">Lode ovunque siano agli onnipresenti Dharma!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
			<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
			<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
			<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
			<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the continually abiding Sangha of the 10 directions!</span><br />
		<span lang="fr">Hommage au Sangha qui sera toujours là dans les 10 directions.</span><br />
		<span lang="de">Verehrung dem beständig verweilenden Sangha der 10 Himmelsrichtungen!</span><br />
		<span lang="it">Lode ovunque siano agli onnipresenti Sangha!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#37323;</rb><!-- 釋 --><rt>Thích</rt></ruby>
			<ruby><rb>&#36838;</rb><!-- 迦 --><rt>ca</rt></ruby>
			<ruby><rb>&#29279;</rb><!-- 牟 --><rt>Mâu</rt></ruby>
			<ruby><rb>&#23612;</rb><!-- 尼 --><rt>ni</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật.</rt></ruby>
		</span><br />
		<span lang="en">Veneration to Buddha Shakyamuni!</span><br />
		<span lang="fr">Namo Bouddha Shakyamuni</span><br />
		<span lang="de">Verehrung dem Buddha Sakyamuni!</span><br />
		<span lang="it">Lode a Shakyamuni Buddha!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
			<ruby><rb>&#38914;</rb><!-- 頂 --><rt>Ðảnh</rt></ruby>
			<ruby><rb>&#39318;</rb><!-- 首 --><rt>Thủ</rt></ruby>
			<ruby><rb>&#26974;</rb><!-- 楞 --><rt>Lăng</rt></ruby>
			<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>Nghiêm</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Buddhosnisa-Surangáma (samadhi)!</span><br />
		<span lang="fr">Hommage au Samadhi Shurangama Suprême.</span><br />
		<span lang="de">Verehrung dem Buddhosnisa- Surangàma[Samàdhi]!</span><br />
		<span lang="it">Lode al Shurangama dell'Ushnisha del Buddha!</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#35264;</rb><!-- 觀 --><rt>Quán</rt></ruby>
			<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
			<ruby><rb>&#38899;</rb><!-- 音 --><rt>Âm</rt></ruby>
			<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
			<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Bodhisattva Avalokiteshvara!</span><br />
		<span lang="fr">Namo Bodhisattva Avalokiteshvara</span><br />
		<span lang="de">Verehrung dem Bodhisattwa Avalokitesvara!</span><br />
		<span lang="it">Lode al Bodhisattva Avalokiteshvara</span>
	</p>
	<p class="multi-lang">
		<span lang="zh-Hant">
			<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
			<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
			<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
			<ruby><rb>&#34255;</rb><!-- 藏 --><rt>Tạng</rt></ruby>
			<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
			<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		</span><br />
		<span lang="en">Veneration to the Bodhisattva Vajragarbha!</span><br />
		<span lang="fr">Namo Bodhisattva Vajragarbha !</span><br />
		<span lang="de">Verehrung dem Bodhisattva Vajragarbha!</span><br />
		<span lang="it">Lode al Bodhisattva Vajragarbha!</span>
	</p>
</section>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#29246;</rb><!-- 爾 --><rt>Nhĩ</rt></ruby>
		<ruby><rb>&#26178;</rb><!-- 時 --><rt>thời</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>Tôn,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24478;</rb><!-- 從 --><rt>tùng</rt></ruby>
		<ruby><rb>&#32905;</rb><!-- 肉 --><rt>nhục</rt></ruby>
		<ruby><rb>&#39675;</rb><!-- 髻 --><rt>kế</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#28044;</rb><!-- 涌 --><rt>dũng</rt></ruby>
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>bá</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<ruby><rb>&#28044;</rb><!-- 涌 --><rt>dũng</rt></ruby>
		<ruby><rb>&#20986;</rb><!-- 出 --><rt>xuất,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21315;</rb><!-- 千 --><rt>thiên</rt></ruby>
		<ruby><rb>&#33865;</rb><!-- 葉 --><rt>diệp</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
		<ruby><rb>&#34030;</rb><!-- 蓮 --><rt>liên.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">Lúc đó Đức Thế Tôn, từ nơi nhục kế phóng ra trăm thứ hào quang báu. Trong hào quang hiện ra hoa sen báu ngàn cánh,</span><br />
	<span lang="en">Thereupon a beam of light sparkling like a hundred jewels emanated from the ushnisha of the Sublime One. From the beam of light arose a thousand-petalled, precious lotus</span><br />
	<span lang="fr">Là-dessus, un rayon de lumière étincelait jaillit de l’ajna chakra (3<sup>e</sup> œil) du maître suprême. De ce rayon lumineux émergera un précieux lotus à mille pétales.</span><br />
	<span lang="de">Da entsprang aus dem Usnisa des Erhabenen ein wie hundert Edelsteine funkelnder Lichtstrahl. Aus dem Lichtstrahl entsprang ein tausendblättriger kostbarer Lotus.</span><br />
	<span lang="it">In quel  tempo l'Onorato dal mondo emise dal suo Ushnisha un raggio di luce sfavillante come una miriade di gioielli dal quale sbocciò un raro fiore di loto con migliaia di petali.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26377;</rb><!-- 有 --><rt>Hữu</rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#22352;</rb><!-- 坐 --><rt>tọa</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
		<ruby><rb>&#33457;</rb><!-- 花 --><rt>hoa</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#25918;</rb><!-- 放 --><rt>phóng</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>bá</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">Có hóa thân Như Lai ngồi trong hoa sen, trên đỉnh phóng ra mười tia hòa quang trăm báu.</span><br />
	<span lang="en">In the precious lotus flower sat a Nirmànakàya-Tathàgata. His ushnisha sent out 10 beams of light sparkling like a hundred jewels.</span><br />
	<span lang="fr">Et dans cette précieux fleur de lotus se tenait assis un Nirmamakaya - Tathagata métamorphosé, son ajna Chakra émis 10 rayons comme cent gemmes brillaient.</span><br />
	<span lang="de">In der kostbaren Lotusblüte saß ein Nirmànakàya-Tathàgata. Sein Usnisa sandte 10 wie hundert Edelsteine funkelnde Lichtstrahlen aus.</span><br />
	<span lang="it">Un Nirmaṇakaya-Tathagata seduto sul fiore, dal suo Ushnisha emise a sua volta 10 raggi di luce sfavillanti come una miriade di gioielli.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>giai</rt></ruby>
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#31034;</rb><!-- 示 --><rt>thị</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#24646;</rb><!-- 恆 --><rt>hằng</rt></ruby>
		<ruby><rb>&#27827;</rb><!-- 河 --><rt>hà</rt></ruby>
		<ruby><rb>&#27801;</rb><!-- 沙 --><rt>sa,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
		<ruby><rb>&#23494;</rb><!-- 密 --><rt>mật</rt></ruby>
		<ruby><rb>&#36321;</rb><!-- 跡 --><rt>tích,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#25806;</rb><!-- 擎 --><rt>kình</rt></ruby>
		<ruby><rb>&#23665;</rb><!-- 山 --><rt>sơn</rt></ruby>
		<ruby><rb>&#25345;</rb><!-- 持 --><rt>trì</rt></ruby>
		<ruby><rb>&#26485;</rb><!-- 杵 --><rt>sử,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#34395;</rb><!-- 虛 --><rt>hư</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới,</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">Trong mỗi đạo hòa quang đều hiện ra những vị Kim Cang mật tích, số lượng bằng mười số cát sông Hằng, xách núi cầm chày khắp cõi hư không.</span><br />
	<span lang="en">Each individual beam of light gave rise everywhere to Guhyapàdavajras as numerous as the grains of sand in 10 Ganges rivers, who, holding up a vajra in one hand, filled all of space.</span><br />
	<span lang="fr">Chaque rayon individuel de lumière fit apparaître des Guhyapadavajras aussi nombreux que les graines de sable dans 10 Gange dont chacun tient un vajra dans une main qui est rempli de vide.</span><br />
	<span lang="de">Jeder einzelne Lichtstrahl ließ überall Guhyapàdavajras so zahlreich wie die Sandkörner in 10 Ganges-Flüssen erscheinen, die in der einen Hand einen Vajra hochhaltend, den ganzen Luftraum erfüllten.</span><br />
	<span lang="it">In ogni raggio di luce sorgevano ovunque dei Guhyapada-vajra, innumerevoli come i granelli di sabbia di dieci fiumi Gange, che sollevavano una montagna e brandivano un vajra, riempiendo tutto lo spazio circostante</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#20208;</rb><!-- 仰 --><rt>ngưỡng</rt></ruby>
		<ruby><rb>&#35264;</rb><!-- 觀 --><rt>quan,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#30031;</rb><!-- 畏 --><rt>úy</rt></ruby>
		<ruby><rb>&#24859;</rb><!-- 愛 --><rt>ái</rt></ruby>
		<ruby><rb>&#20860;</rb><!-- 兼 --><rt>kiêm</rt></ruby>
		<ruby><rb>&#25265;</rb><!-- 抱 --><rt>bảo,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#27714;</rb><!-- 求 --><rt>cầu</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#21696;</rb><!-- 哀 --><rt>ai</rt></ruby>
		<ruby><rb>&#31056;</rb><!-- 祐 --><rt>hựu,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#32893;</rb><!-- 聽 --><rt>thính</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#35211;</rb><!-- 見 --><rt>kiến</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#30456;</rb><!-- 相 --><rt>tướng,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#25918;</rb><!-- 放 --><rt>phóng</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#23459;</rb><!-- 宣 --><rt>tuyên</rt></ruby>
		<ruby><rb>&#35498;</rb><!-- 說 --><rt>thuyết</rt></ruby>
		<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</span><br />
	<span lang="vi">Đại chúng ngữa lên xem vừa kính vừa sợ, cầu Phật thương xót che chở, một lòng nghe đức phóng quang Như Lai nơi vô kiến đảnh tướng của Phật tuyên nói thần chú</span><br />
	<span lang="en">The crowd looked up, and seized by fear and inclination at the same time, begged for the mercy and protection of the Buddha and heard with one-pointed mind, how the Tathàgata, who had appeared in the invisible mark in the beam of light sent out from the ushnisha of the Buddha, proclaimed the magical mantra</span><br />
	<span lang="fr">La foule observait attentivement Bouddha à la fois craintive et admirative. Elle s’inclinait devant lui pour implorer sa grâce et sa protection. Elle attendait avec impatience ce que le Tathagata allait dire. Soudain, le Tathagata qui était sorti du rayon de lumière émis par l’ajna chakra du Bouddha, déclara le mantra magique suivant</span><br />
	<span lang="de">Die Menge schaute hinauf, und von Furcht und Zuneigung gleichzeitig ergriffen, erflehte sie Erbarmen und Schutz des Buddha und hörte mit einspitzigem Geist, wie der Tathàgata, der in dem unsichtbaren Merkmal im Usnisa des Buddha ausgesandten Lichtstrahl erschienen war, das magische Mantra verkündete</span><br />
	<span lang="it">Questa moltitudine guardandosi intorno, con sentimenti misti di soggezione e ammirazione, cercò la compassionevole protezione del Buddha ascoltando con mente concentrata il sacro Mantra recitato dal luminescente Tathagata sopra il suo Ushnisha</span>
</p>
