---
title: Khai Kinh Kệ
numb: 8
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#38283;</rb><!-- 開 --><rt>Khai</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>Kinh</rt></ruby>
		<ruby><rb>&#20552;</rb><!-- 偈 --><rt>Kệ</rt></ruby>
	</span><br />
	<span lang="en">Opening recitation</span><br />
	<span lang="fr">Ouverture du sutra</span><br />
	<span lang="de">Eröffnungsrezitation</span><br />
	<span lang="it">Versi di apertura</span>
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#29978;</rb><!-- 甚 --><rt>thậm</rt></ruby>
		<ruby><rb>&#28145;</rb><!-- 深 --><rt>thâm</rt></ruby>
		<ruby><rb>&#24494;</rb><!-- 微 --><rt>vi</rt></ruby>
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>diệu</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
	</span><br />
	<span lang="vi">Pháp Phật cao sâu rất nhiệm mầu,</span><br />
	<span lang="en">Peerless, profound and subtle Dharma,</span><br />
	<span lang="fr">Le dharma possède une signification très profonde et miraculeuse.</span><br />
	<span lang="de">Unübertroffenes, profundes und subtiles Dharma,</span><br />
	<span lang="it">Il Dharma impareggiabile, profondo e sottile,</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30334;</rb><!-- 百 --><rt>Bá</rt></ruby>
		<ruby><rb>&#21315;</rb><!-- 千 --><rt>thiên</rt></ruby>
		<ruby><rb>&#33836;</rb><!-- 萬 --><rt>vạn</rt></ruby>
		<ruby><rb>&#21163;</rb><!-- 劫 --><rt>kiếp</rt></ruby>
		<ruby><rb>&#38627;</rb><!-- 難 --><rt>nan</rt></ruby>
		<ruby><rb>&#36973;</rb><!-- 遭 --><rt>tao</rt></ruby>
		<ruby><rb>&#36935;</rb><!-- 遇 --><rt>ngộ</rt></ruby>
	</span><br />
	<span lang="vi">Trăm nghìn muôn ức kiếp khó gặp,</span><br />
	<span lang="en">In endless kalpas one can only encounter it with difficulty,</span><br />
	<span lang="fr">Il est si précieux et tellement rare qu'il nous faut passer des centaines et des milliers de kalpas pour le rencontrer.</span><br />
	<span lang="de">In unendlichen Kalpas kann man es nur schwerlich treffen,</span><br />
	<span lang="it">è raro da incontrare persino in milioni kalpa.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#20170;</rb><!-- 今 --><rt>kim</rt></ruby>
		<ruby><rb>&#35211;</rb><!-- 見 --><rt>kiến</rt></ruby>
		<ruby><rb>&#32862;</rb><!-- 聞 --><rt>văn</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#21463;</rb><!-- 受 --><rt>thọ</rt></ruby>
		<ruby><rb>&#25345;</rb><!-- 持 --><rt>trì</rt></ruby>
	</span><br />
	<span lang="vi">Con nay thấy nghe xin thọ trì</span><br />
	<span lang="en">Now I see and hear (the Dharma) and shall keep it,</span><br />
	<span lang="fr">Nous l'avons retrouvé maintenant. Nous nous promettons de le réciter, de le pratiquer assidûment.</span><br />
	<span lang="de">Jetzt sehe und höre ich [das Dharma] und werde es bewahren,</span><br />
	<span lang="it">Ora lo possiamo vedere, ascoltare e seguire.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#35299;</rb><!-- 解 --><rt>giải</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
		<ruby><rb>&#23526;</rb><!-- 實 --><rt>thiệt</rt></ruby>
		<ruby><rb>&#32681;</rb><!-- 義 --><rt>nghĩa</rt></ruby>
	</span><br />
	<span lang="vi">Nguyện hiểu nghĩa chân thật của Như Lai</span><br />
	<span lang="en">May I understand the true meaning of the Tathagata.</span><br />
	<span lang="fr">Pour bien comprendre sa vérité immuable qui nous mènera à l'Éveil.</span><br />
	<span lang="de">Möge ich die wahre Bedeutung des Tathataga verstehen.</span><br />
	<span lang="it">Possiamo noi comprendere pienamente il vero significato del Tathagata.</span>
</p>
