---
title: bài kệ khen kinh Pháp Hoa
numb: 9
---

<header lang="vi"><h2>
	<span lang="vi">bài kệ khen ngợi kinh Pháp Hoa</span><br />
	<span lang="en">In Praise of the Lotus Sutra</span>
</h2></header>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20845;</rb><!-- 六 --><rt>Lục</rt></ruby>
		<ruby><rb>&#33836;</rb><!-- 萬 --><rt>vạn</rt></ruby>
		<ruby><rb>&#39192;</rb><!-- 餘 --><rt>dư</rt></ruby>
		<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#36600;</rb><!-- 軸 --><rt>trục</rt></ruby>
		<ruby><rb>&#35037;</rb><!-- 裝 --><rt>trang</rt></ruby>
	</span><br />
	<span lang="vi">Hơn sáu muôn lời, thành bảy cuốn</span><br />
	<span lang="en">With more than sixty thousand characters compiled in seven scrolls,</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#37002;</rb><!-- 邊 --><rt>biên</rt></ruby>
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>diệu</rt></ruby>
		<ruby><rb>&#32681;</rb><!-- 義 --><rt>nghĩa</rt></ruby>
		<ruby><rb>&#24291;</rb><!-- 廣 --><rt>quảng</rt></ruby>
		<ruby><rb>&#21547;</rb><!-- 含 --><rt>hàm</rt></ruby>
		<ruby><rb>&#34255;</rb><!-- 藏 --><rt>tàng</rt></ruby>
	</span><br />
	<span lang="vi">Rộng chứa đựng vô biên nghĩa mầu</span><br />
	<span lang="en">Boundless wonderful meanings are contained within this treasury.</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21897;</rb><!-- 喉 --><rt>Hầu</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
		<ruby><rb>&#29976;</rb><!-- 甘 --><rt>Cam</rt></ruby>
		<ruby><rb>&#38706;</rb><!-- 露 --><rt>Lộ</rt></ruby>
		<ruby><rb>&#28051;</rb><!-- 涓 --><rt>quyên</rt></ruby>
		<ruby><rb>&#28051;</rb><!-- 涓 --><rt>quyên</rt></ruby>
		<ruby><rb>&#28516;</rb><!-- 潤 --><rt>nhuận</rt></ruby>
	</span><br />
	<span lang="vi">Trong cổ nước cam lồ rịn nhuần</span><br />
	<span lang="en">It imbues the mind with sweet dew that is constantly nourishing,</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21475;</rb><!-- 口 --><rt>Khẩu</rt></ruby>
		<ruby><rb>&#20839;</rb><!-- 內 --><rt>nội</rt></ruby>
		<ruby><rb>&#37261;</rb><!-- 醍 --><rt>Đề</rt></ruby>
		<ruby><rb>&#37264;</rb><!-- 醐 --><rt>Hồ</rt></ruby>
		<ruby><rb>&#28404;</rb><!-- 滴 --><rt>tích</rt></ruby>
		<ruby><rb>&#28404;</rb><!-- 滴 --><rt>tích</rt></ruby>
		<ruby><rb>&#28092;</rb><!-- 涼 --><rt>lương</rt></ruby>
	</span><br />
	<span lang="vi">Trong miệng chất đề hồ nhỏ mát</span><br />
	<span lang="en">And anoints the crown with the finest ghee, every drop cool and refreshing.</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#30333;</rb><!-- 白 --><rt>Bạch</rt></ruby>
		<ruby><rb>&#29577;</rb><!-- 玉 --><rt>Ngọc</rt></ruby>
		<ruby><rb>&#40786;</rb><!-- 齒 --><rt>Xỉ</rt></ruby>
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biên</rt></ruby>
		<ruby><rb>&#27969;</rb><!-- 流 --><rt>lưu</rt></ruby>
		<ruby><rb>&#33293;</rb><!-- 舍 --><rt>Xá</rt></ruby>
		<ruby><rb>&#21033;</rb><!-- 利 --><rt>Lợi</rt></ruby>
	</span><br />
	<span lang="vi">Bên răng ngọc trắng tuôn xá lợi</span><br />
	<span lang="en">From the Buddha’s pure and precious words streamed forth this pristine sharira;</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#32005;</rb><!-- 紅 --><rt>Hồng</rt></ruby>
		<ruby><rb>&#34030;</rb><!-- 蓮 --><rt>Liên</rt></ruby>
		<ruby><rb>&#33292;</rb><!-- 舌 --><rt>Thiệt</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#25918;</rb><!-- 放 --><rt>phóng</rt></ruby>
		<ruby><rb>&#27627;</rb><!-- 毫 --><rt>hào</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
	</span><br />
	<span lang="vi">Trên lưỡi sen hồng phóng hào quang</span><br />
	<span lang="en">The Master’s tongue, like a red lotus petal, emitted a hair-mark light.</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20551;</rb><!-- 假 --><rt>Giả</rt></ruby>
		<ruby><rb>&#39250;</rb><!-- 饒 --><rt>nhiêu</rt></ruby>
		<ruby><rb>&#36896;</rb><!-- 造 --><rt>tạo</rt></ruby>
		<ruby><rb>&#32618;</rb><!-- 罪 --><rt>tội</rt></ruby>
		<ruby><rb>&#36942;</rb><!-- 過 --><rt>quá</rt></ruby>
		<ruby><rb>&#23665;</rb><!-- 山 --><rt>sơn</rt></ruby>
		<ruby><rb>&#23997;</rb><!-- 嶽 --><rt>nhạc</rt></ruby>
	</span><br />
	<span lang="vi">Dầu cho tạo tội hơn núi cả</span><br />
	<span lang="en">Should one create offenses to an extent as great as the mountains,</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>Bất</rt></ruby>
		<ruby><rb>&#38920;</rb><!-- 須 --><rt>tu</rt></ruby>
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>Diệu</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
		<ruby><rb>&#20841;</rb><!-- 兩 --><rt>Lưỡng</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hàng</rt></ruby>
	</span><br />
	<span lang="vi">Chẳng nhọc Diệu Pháp vài ba hàng</span><br />
	<span lang="en">All it takes to eradicate are a few lines from the Wonderful Dharma.</span>
</p>
<p lang="zh-Hant" class="wait-multi-lang">
	<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
	<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
	<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
	<ruby><rb>&#33775;</rb><!-- 華 --><rt>Hoa</rt></ruby>
	<ruby><rb>&#26371;</rb><!-- 會 --><rt>Hội</rt></ruby>
	<ruby><rb>&#19978;</rb><!-- 上 --><rt>Thượng</rt></ruby>
	<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
	<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
	<ruby><rb>&#34217;</rb><!-- 薩 --><rt>Tát</rt></ruby>
	&nbsp;(×3)
</p>
