---
title: Tán dương chi
numb: 2
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#26954;</rb><!-- 楊 --><rt>Dương</rt></ruby>
		<ruby><rb>&#26525;</rb><!-- 枝 --><rt>chi</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#27700;</rb><!-- 水 --><rt>thuỷ</rt></ruby>
		<ruby><rb>&#35738;</rb><!-- 讚 --><rt>tán</rt></ruby>
	</span><br />
	<span lang="en">Praise for purifying the water</span><br />
	<span lang="fr">Hommage à la branche de Saule bénie</span><br />
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26954;</rb><!-- 楊 --><rt>Dương</rt></ruby>
		<ruby><rb>&#26525;</rb><!-- 枝 --><rt>chi</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#27700;</rb><!-- 水 --><rt>thủy</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>Biến</rt></ruby>
		<ruby><rb>&#28753;</rb><!-- 灑 --><rt>sái</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#21315;</rb><!-- 千 --><rt>thiên</rt></ruby>
	</span><br />
	<span lang="en">Using the willow branch, the pure water is sprinkled everywhere in 3000 worlds.</span><br />
	<span lang="fr">La branche de saule est imprégnée d'eau miraculeuse. Elle délivre les 3000 régions et les 10 directions de leurs souffrances.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#24615;</rb><!-- 性 --><rt>Tánh</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#20843;</rb><!-- 八 --><rt>bát</rt></ruby>
		<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
		<ruby><rb>&#21033;</rb><!-- 利 --><rt>lợi</rt></ruby>
		<ruby><rb>&#20154;</rb><!-- 人 --><rt>nhân</rt></ruby>
		<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
		<br />
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#24291;</rb><!-- 廣 --><rt>quảng</rt></ruby>
		<ruby><rb>&#22686;</rb><!-- 增 --><rt>tăng</rt></ruby>
		<ruby><rb>&#24310;</rb><!-- 延 --><rt>diên</rt></ruby>
	</span><br />
	<span lang="en">Its nature is empty, yet its 8 virtues benefit humans and gods, So their blessings and life span will be increased greatly.</span><br />
	<span lang="fr">De nature sereine et dotée des 8 qualités, elle offre de la fraîcheur aux génies et de la détente à l'homme. L'eau miraculeuse se répand partout apportant le bonheur, la paix, la longévité durant des siècles et des siècles.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#28357;</rb><!-- 滅 --><rt>Diệt</rt></ruby>
		<ruby><rb>&#32618;</rb><!-- 罪 --><rt>tội</rt></ruby>
		<ruby><rb>&#28040;</rb><!-- 消 --><rt>tiêu</rt></ruby>
		<ruby><rb>&#34893;</rb><!-- 衍 --><rt>khiên</rt></ruby>
		<br />
		<ruby><rb>&#28779;</rb><!-- 火 --><rt>Hỏa</rt></ruby>
		<ruby><rb>&#28976;</rb><!-- 焰 --><rt>diệm</rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#32005;</rb><!-- 紅 --><rt>hồng</rt></ruby>
		<ruby><rb>&#34030;</rb><!-- 蓮 --><rt>liên</rt></ruby>
	</span><br />
	<span lang="en">Eradicating offenses and getting rid of faults, It turns their flames into red lotuses.</span><br />
	<span lang="fr">Elle met fin à toutes les fautes commises en ce bas-monde. Elle éteint les feux de la colère pour que les lotus d'or puissent s'épanouir.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#28092;</rb><!-- 涼 --><rt>Lương</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>Địa</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		<ruby><rb>&#25705;</rb><!-- 摩 --><rt>Ma</rt></ruby>
		<ruby><rb>&#35382;</rb><!-- 訶 --><rt>ha</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="en">Homage to the bodhisattva, mahasattva of the clear cool ground.</span><br />
	<span lang="fr">Nous nous prosternons respectueusement devant le Bodhisattva de la terre pacifiée.</span>
</p>
