---
title: Tán Lư Hương
numb: 1
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#29200;</rb><!-- 爐 --><rt>Lư</rt></ruby>
		<ruby><rb>&#39321;</rb><!-- 香 --><rt>hương</rt></ruby>
		<ruby><rb>&#36106;</rb><!-- 贊 --><rt>tán</rt></ruby>
	</span><br />
	<span lang="en">The incense hymn</span><br />
	<span lang="fr">Offrandes de l’encens au bouddha</span><br />
	<span lang="de">Die Weihrauchhymne</span><br />
	<span lang="it">L'inno dell'incenso</span>
</h2></header>
<section class="multi-lang">
	<p lang="zh-Hant">
		<ruby><rb>&#29200;</rb><!-- 爐 --><rt>Lư</rt></ruby>
		<ruby><rb>&#39321;</rb><!-- 香 --><rt>hương</rt></ruby>
		<ruby><rb>&#20045;</rb><!-- 乍 --><rt>sạ</rt></ruby>
		<ruby><rb>&#29105;</rb><!-- 熱 --><rt>nhiệt</rt></ruby>
		<br />
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#33945;</rb><!-- 蒙 --><rt>mông</rt></ruby>
		<ruby><rb>&#29071;</rb><!-- 熏 --><rt>huân</rt></ruby>
		<br />
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>Chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>hải</rt></ruby>
		<ruby><rb>&#26371;</rb><!-- 會 --><rt>hội</rt></ruby>
		<ruby><rb>&#24713;</rb><!-- 悉 --><rt>tất</rt></ruby>
		<ruby><rb>&#36953;</rb><!-- 遙 --><rt>diêu</rt></ruby>
		<ruby><rb>&#32862;</rb><!-- 聞 --><rt>văn</rt></ruby>
		<br />
		<ruby><rb>&#38568;</rb><!-- 隨 --><rt>Tùy</rt></ruby>
		<ruby><rb>&#34389;</rb><!-- 處 --><rt>xứ</rt></ruby>
		<ruby><rb>&#32080;</rb><!-- 結 --><rt>kiết</rt></ruby>
		<ruby><rb>&#31077;</rb><!-- 祥 --><rt>tường</rt></ruby>
		<ruby><rb>&#38642;</rb><!-- 雲 --><rt>vân</rt></ruby>
		<br />
		<ruby><rb>&#35488;</rb><!-- 誠 --><rt>Thành</rt></ruby>
		<ruby><rb>&#24847;</rb><!-- 意 --><rt>ý</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#27575;</rb><!-- 殷 --><rt>ân</rt></ruby>
		<br />
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>Chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#20840;</rb><!-- 全 --><rt>toàn</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
	</p>
	<p lang="vi">
		Lư hương vừa ngún chiên đàn<br />
		Khói xông pháp giới đạo tràng cõi xa<br />
		Lòng con kính ngưỡng thiết tha<br />
		Ngưỡng trông ơn Phật thương mà chứng minh
	</p>
	<p lang="en">
		The incense in the censer has just been lit,<br />
		Then the Dharmadhatu receives the smoke.<br />
		All the ocean-like assembly of buddhas perceives it from afar.<br />
		Auspicious clouds form everywhere.<br />
		Scarcely has the sincere state of mind been generated,<br />
		When the bodies of all buddhas appear.
	</p>
	<p lang="fr">
		L’encens commence à se consumer dans le brûleur. Son parfum se répand dans toutes les grandes Assemblées Cultuelles des 10 directions.<br />
		Il forme un précieux nuage de bons augures et les Bouddhas prennent connaissance de l’encens de la sérénité.<br />
		Leurs présences sont manifestes pour prendre acte de la ferveur des vœux qui leur sont adressés.<br />
		Nous souhaitons de tout cœur pouvoir accéder à la voie unique.
	</p>
	<p lang="de">
		Der Weihrauch im Gefäß ist gerade entzündet,<br />
		Da empfängt der Dharmadhatu den Rauch.<br />
		Die ozeangleichen Versammlungen der Buddhas nehmen ihn alle von Ferne wahr.<br />
		Überall bilden sich glückverheißende Wolken.<br />
		Die ernsthafte Geisteshaltung ist kaum erzeugt,<br />
		Da erscheinen die Körper aller Buddhas.
	</p>
	<p lang="it">
		L'incenso è stato appena acceso e brucia nell'incensiere<br />
		e già tutti i Dharmadhatu ricevono la sua fragranza.<br />
		Tutte le moltitudini di Buddha vaste come l'oceano lo percepiscono da lontano.<br />
		Nuvole di auspici si addensano in ogni direzione.<br />
		Appena è stato generato lo stato d'animo più sincero,<br />
		i corpi dei Buddha si manifestano.
	</p>
</section>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#39321;</rb><!-- 香 --><rt>Hương</rt></ruby>
		<ruby><rb>&#38642;</rb><!-- 雲 --><rt>Vân</rt></ruby>
		<ruby><rb>&#33995;</rb><!-- 蓋 --><rt>Cái</rt></ruby>
		<ruby><rb>&#33851;</rb><!-- 萻 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		<ruby><rb>&#25705;</rb><!-- 摩 --><rt>Ma</rt></ruby>
		<ruby><rb>&#35382;</rb><!-- 訶 --><rt>ha</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="en">Veneration to the Incense Cloud Canopy Bodhisattvas Mahasattvas</span><br />
	<span lang="fr">Nous nous prosternons devant le Bodhisattva de Nuage d’encens Mahasattva</span><br />
	<span lang="de">Verehrung den Weihrauchwolkenschirm Bodhisattwas Mahasattwas</span><br />
	<span lang="it">Benedetti siano i Bodhisattva Mahasattva del baldacchino della nuvola d'incenso</span>
</p>
