---
title: Phụng thỉnh bát kim cương tứ bồ tát
numb: 5
---

<header><h2>
	<span lang="vi">phụng thỉnh bát kim cương tứ bồ tát</span><br />
	<span lang="en">Inviting the 8 Vajra deities and 4 Bodhisattvas</span>
</h2></header>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#38738;</rb><!-- 青 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#38500;</rb><!-- 除 --><rt>Trừ</rt></ruby>
		<ruby><rb>&#28797;</rb><!-- 災 --><rt>Tai</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
	</span><br />
	<span lang="en">We respectfully invite the Green Vajra of Removing all Calamities</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#36767;</rb><!-- 辟 --><rt>Bích</rt></ruby>
		<ruby><rb>&#27602;</rb><!-- 毒 --><rt>Ðộc</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
	</span><br />
	<span lang="en">We respectfully invite the Vajra of Removing all Poisons</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#40643;</rb><!-- 黃 --><rt>Huỳnh</rt></ruby>
		<ruby><rb>&#38568;</rb><!-- 隨 --><rt>Tùy</rt></ruby>
		<ruby><rb>&#27714;</rb><!-- 求 --><rt>Cầu</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
	</span><br />
	<span lang="en">We respectfully invite the Yellow Vajra of all Wish Fulfillment</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#30333;</rb><!-- 白 --><rt>Bạch</rt></ruby>
		<ruby><rb>&#20936;</rb><!-- 凈 --><rt>Tịnh</rt></ruby>
		<ruby><rb>&#27700;</rb><!-- 水 --><rt>Thủy</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
	</span><br />
	<span lang="en">We respectfully invite the White Vajra of Removing all Troubles</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#36196;</rb><!-- 赤 --><rt>Xích</rt></ruby>
		<ruby><rb>&#32882;</rb><!-- 聲 --><rt>Thinh</rt></ruby>
		<ruby><rb>&#28779;</rb><!-- 火 --><rt>Hỏa</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
	</span><br />
	<span lang="en">We respectfully invite the Red Vajra of Penetrating Brightness</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#23450;</rb><!-- 定 --><rt>Ðịnh</rt></ruby>
		<ruby><rb>&#25345;</rb><!-- 持 --><rt>Trì</rt></ruby>
		<ruby><rb>&#28797;</rb><!-- 災 --><rt>Tai</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
	</span><br />
	<span lang="en">We respectfully invite the Vajra of Dispelling all Difficulties</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#32043;</rb><!-- 紫 --><rt>Tử</rt></ruby>
		<ruby><rb>&#36066;</rb><!-- 賢 --><rt>Hiền</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
	</span><br />
	<span lang="en">We respectfully invite the Purple Vajra of Heart Opening Enlightenment</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Ðại</rt></ruby>
		<ruby><rb>&#31070;</rb><!-- 神 --><rt>Thần</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
	</span><br />
	<span lang="en">We respectfully invite the Vajra of all Pervading Wisdom</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
		<ruby><rb>&#30519;</rb><!-- 眷 --><rt>Quyến</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span><br />
	<span lang="en">Inviting the Vajra-Retinues Bodhisattva</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
		<ruby><rb>&#32034;</rb><!-- 索 --><rt>Sách</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span><br />
	<span lang="en">Inviting the Vajra-of-Compassion-Guiding Bodhisattva</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
		<ruby><rb>&#24859;</rb><!-- 愛 --><rt>Ái</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span><br />
	<span lang="en">Inviting the Vajra-of-Loving-Kindness Bodhisattva</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22857;</rb><!-- 奉 --><rt>Phụng</rt></ruby>
		<ruby><rb>&#35531;</rb><!-- 請 --><rt>thỉnh</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>Cang</rt></ruby>
		<ruby><rb>&#35486;</rb><!-- 語 --><rt>Ngữ</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
	</span><br />
	<span lang="en">Inviting the Vajra-Voice Bodhisattva</span>
</p>
