---
title: Vân hà phạm
numb: 7
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#20113;</rb><!-- 云 --><rt>Vân</rt></ruby>
		<ruby><rb>&#20309;</rb><!-- 何 --><rt>hà</rt></ruby>
		<ruby><rb>&#26805;</rb><!-- 梵 --><rt>phạm</rt></ruby>
	</span><br />
	<span lang="en">The Questions Chant</span>
</h2></header>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20113;</rb><!-- 云 --><rt>Vân</rt></ruby>
		<ruby><rb>&#20309;</rb><!-- 何 --><rt>hà</rt></ruby>
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>đắc</rt></ruby>
		<ruby><rb>&#38263;</rb><!-- 長 --><rt>trường</rt></ruby>
		<ruby><rb>&#22781;</rb><!-- 壽 --><rt>thọ,</rt></ruby>
		<br />
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>Kim</rt></ruby>
		<ruby><rb>&#21083;</rb><!-- 剛 --><rt>cang</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#22351;</rb><!-- 坏 --><rt>hoại</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân?</rt></ruby>
	</span><br />
	<span lang="vi">
		Tu sao được sống lâu<br />
		Thân Kim Cang không hoại?
	</span><br />
	<span lang="en">How can I attain a vajra-indestructible body that will live long?</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22797;</rb><!-- 复 --><rt>Phục</rt></ruby>
		<ruby><rb>&#20197;</rb><!-- 以 --><rt>dĩ</rt></ruby>
		<ruby><rb>&#20309;</rb><!-- 何 --><rt>hà</rt></ruby>
		<ruby><rb>&#22240;</rb><!-- 因 --><rt>nhân</rt></ruby>
		<ruby><rb>&#32227;</rb><!-- 緣 --><rt>duyên</rt></ruby>
		<br />
		<ruby><rb>&#24471;</rb><!-- 得 --><rt>Ðắc</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#22533;</rb><!-- 堅 --><rt>kiên</rt></ruby>
		<ruby><rb>&#22266;</rb><!-- 固 --><rt>cố</rt></ruby>
		<ruby><rb>&#21147;</rb><!-- 力 --><rt>lực?</rt></ruby>
	</span><br />
	<span lang="vi">
		Lại tu như thế nào<br />
		Được sức mạnh vô biên?
	</span><br />
	<span lang="en">Tell me the reasons why one gets great enduring strength</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20113;</rb><!-- 云 --><rt>Vân</rt></ruby>
		<ruby><rb>&#20309;</rb><!-- 何 --><rt>hà</rt></ruby>
		<ruby><rb>&#20110;</rb><!-- 于 --><rt>ư</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>kinh,</rt></ruby>
		<br />
		<ruby><rb>&#31350;</rb><!-- 究 --><rt>Cứu</rt></ruby>
		<ruby><rb>&#31455;</rb><!-- 竟 --><rt>cánh</rt></ruby>
		<ruby><rb>&#21040;</rb><!-- 到 --><rt>đáo</rt></ruby>
		<ruby><rb>&#24444;</rb><!-- 彼 --><rt>bỉ</rt></ruby>
		<ruby><rb>&#23736;</rb><!-- 岸 --><rt>ngạn?</rt></ruby>
	</span><br />
	<span lang="vi">
		Tụng Kinh này thế nào<br />
		Được giác ngộ giải thoát?
	</span><br />
	<span lang="en">How can I reach the other shore by reciting this sutra</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#24895;</rb><!-- 愿 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#38283;</rb><!-- 開 --><rt>khai</rt></ruby>
		<ruby><rb>&#24494;</rb><!-- 微 --><rt>vi</rt></ruby>
		<ruby><rb>&#23494;</rb><!-- 密 --><rt>mật,</rt></ruby>
		<br />
		<ruby><rb>&#24291;</rb><!-- 廣 --><rt>Quảng</rt></ruby>
		<ruby><rb>&#28858;</rb><!-- 為 --><rt>vị</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#35498;</rb><!-- 說 --><rt>thuyết.</rt></ruby>
	</span><br />
	<span lang="vi">
		Xin Phật vì đại chúng<br />
		Diễn nói Pháp nhiệm màu
	</span><br />
	<span lang="en">I hope the Buddha will explain these subtle secrets and show them extensively to all beings.</span>
</p>
