---
title: Cúng Hương Tán Phật
numb: 1
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#20379;</rb><!-- 供 --><rt>Cúng</rt></ruby>
		<ruby><rb>&#39321;</rb><!-- 香 --><rt>Hương</rt></ruby>
		<ruby><rb>&#35738;</rb><!-- 讚 --><rt>Tán</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#20552;</rb><!-- 偈 --><rt>kệ</rt></ruby>
	</span><br />
	<span lang="fr">Offrandes de l’encens</span>
</h2></header>
<section class="wait-multi-lang">
	<p lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>diệu</rt></ruby>
		<ruby><rb>&#39321;</rb><!-- 香 --><rt>hương</rt></ruby>
		<ruby><rb>&#38642;</rb><!-- 雲 --><rt>vân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>Biến</rt></ruby>
		<ruby><rb>&#28415;</rb><!-- 滿 --><rt>mãn</rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<br />
		<ruby><rb>&#20379;</rb><!-- 供 --><rt>Cúng</rt></ruby>
		<ruby><rb>&#39178;</rb><!-- 養 --><rt>dường</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<br />
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>Tôn</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát</rt></ruby>
		<br />
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#37002;</rb><!-- 邊 --><rt>biên</rt></ruby>
		<ruby><rb>&#32882;</rb><!-- 聲 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#32862;</rb><!-- 聞 --><rt>Văn</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<br />
		<ruby><rb>&#21450;</rb><!-- 及 --><rt>Cập</rt></ruby>
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>nhất</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thiết</rt></ruby>
		<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
		<ruby><rb>&#36066;</rb><!-- 賢 --><rt>Hiền</rt></ruby>
		<br />
		<ruby><rb>&#32227;</rb><!-- 緣 --><rt>Duyên</rt></ruby>
		<ruby><rb>&#36215;</rb><!-- 起 --><rt>khởi</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
		<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh</rt></ruby>
		<ruby><rb>&#33274;</rb><!-- 臺 --><rt>đài</rt></ruby>
		<br />
		<ruby><rb>&#31281;</rb><!-- 稱 --><rt>Xứng</rt></ruby>
		<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
		<ruby><rb>&#20316;</rb><!-- 作 --><rt>tác</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#20107;</rb><!-- 事 --><rt>sự</rt></ruby>
		<br />
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#29071;</rb><!-- 熏 --><rt>huân</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<br />
		<ruby><rb>&#30342;</rb><!-- 皆 --><rt>Giai</rt></ruby>
		<ruby><rb>&#30332;</rb><!-- 發 --><rt>phát</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<br />
		<ruby><rb>&#36960;</rb><!-- 遠 --><rt>Viễn</rt></ruby>
		<ruby><rb>&#38626;</rb><!-- 離 --><rt>ly</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#24536;</rb><!-- 忘 --><rt>vọng</rt></ruby>
		<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
		<br />
		<ruby><rb>&#22291;</rb><!-- 圓 --><rt>Viên</rt></ruby>
		<ruby><rb>&#25104;</rb><!-- 成 --><rt>thành</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
	</p>
	<p lang="vi">
		Nguyện đem lòng thành kính,<br />
		Gởi theo đám mây hương,<br />
		Phảng phất khắp mười phương,<br />
		Cúng dường ngôi Tam Bảo.<br />
		Thề trọn đời giữ đạo,<br />
		theo tự tánh làm lành.<br />
		Cùng Pháp giới chúng sanh,<br />
		cầu Phật từ gia hộ:<br />
		Tâm Bồ-đề kiên cố,<br />
		chí tu học vững bền,<br />
		Xa bể khổ nguồn mê,<br />
		chóng quay về bờ giác.<br />
	</p>
	<p lang="fr">
		Notre profond respect accompagne ce nuage odoriférant qui va se disperser dans les 10 directions pour rendre hommage aux 3 joyaux.
		Nous promettons de suivre les enseignements de Bouddha durant toute notre vie, de faire du bien selon notre nature fondamentale.
		À l’unisson avec tous les êtres sensibles de l’univers, nous implorons Bouddha de nous protéger, de nous aider à consolider notre foi,
		de persévérer dans l’envie d’étudier, de nous perfectionner, de nous éloigner de l’océan de l’ignorance et de parvenir bientôt à l’Éveil.
	</p>
</section>
