---
title: Cửu bái tây phương
numb: 6
---

<header lang="vi"><h2>Cửu bái tây phương</h2></header>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>Thường</rt></ruby>
		<ruby><rb>&#23490;</rb><!-- 寂 --><rt>tịch</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<br />
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>diệu</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Thường-tịch-quang tịnh độ<br />
		A-Di-Ðà Như-Lai<br />
		Pháp-thân mầu thanh-tịnh<br />
		Khắp pháp-giới chư Phật
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#23526;</rb><!-- 實 --><rt>Thật</rt></ruby>
		<ruby><rb>&#22577;</rb><!-- 報 --><rt>báo</rt></ruby>
		<ruby><rb>&#33674;</rb><!-- 莊 --><rt>trang</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>nghiêm</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<br />
		<ruby><rb>&#24494;</rb><!-- 微 --><rt>Vi</rt></ruby>
		<ruby><rb>&#22645;</rb><!-- 塵 --><rt>trần</rt></ruby>
		<ruby><rb>&#30456;</rb><!-- 相 --><rt>tướng</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>hải</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Thật báo trang nghiêm độ<br />
		A-Di-Ðà Như-Lai<br />
		Thân tướng hải vi-trần<br />
		Khắp pháp-giới chư Phật
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>Phương</rt></ruby>
		<ruby><rb>&#20415;</rb><!-- 便 --><rt>tiện</rt></ruby>
		<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
		<ruby><rb>&#23621;</rb><!-- 居 --><rt>cư</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<br />
		<ruby><rb>&#35299;</rb><!-- 解 --><rt>Giải</rt></ruby>
		<ruby><rb>&#33067;</rb><!-- 脫 --><rt>thoát</rt></ruby>
		<ruby><rb>&#30456;</rb><!-- 相 --><rt>tướng</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>nghiêm</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Phương-tiện thánh cư độ<br />
		A-Di-Ðà Như-Lai<br />
		Thân trang-nghiêm giải-thoát<br />
		Khắp pháp-giới chư Phật
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>An</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<br />
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#20056;</rb><!-- 乘 --><rt>thừa</rt></ruby>
		<ruby><rb>&#26681;</rb><!-- 根 --><rt>căn</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Cõi An-Lạc phương Tây<br />
		A-Di-Ðà Như-Lai<br />
		Thân căn giới đại-thừa<br />
		Khắp pháp-giới chư Phật
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>An</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<br />
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>Thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#21270;</rb><!-- 化 --><rt>hóa</rt></ruby>
		<ruby><rb>&#24448;</rb><!-- 往 --><rt>vãng</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Cõi An-Lạc phương Tây<br />
		A-Di-Ðà Như-Lai<br />
		Thân hóa đến mười phương<br />
		Khắp pháp-giới chư Phật
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>An</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#25945;</rb><!-- 教 --><rt>Giáo</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>hạnh</rt></ruby>
		<ruby><rb>&#29702;</rb><!-- 理 --><rt>lý</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#32147;</rb><!-- 經 --><rt>kinh</rt></ruby>
		<br />
		<ruby><rb>&#26997;</rb><!-- 極 --><rt>Cực</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#27491;</rb><!-- 正 --><rt>chánh</rt></ruby>
		<ruby><rb>&#23459;</rb><!-- 宣 --><rt>tuyên</rt></ruby>
		<ruby><rb>&#25562;</rb><!-- 揚 --><rt>dương</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>chư</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Phật.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Cõi An-Lạc phương tây<br />
		Giáo hạnh lý ba kinh<br />
		Tột nói bày y chánh<br />
		Khắp pháp-giới Tôn Pháp
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>An</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#35264;</rb><!-- 觀 --><rt>Quán</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#38899;</rb><!-- 音 --><rt>Âm</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>Tát</rt></ruby>
		<br />
		<ruby><rb>&#33836;</rb><!-- 萬 --><rt>Vạn</rt></ruby>
		<ruby><rb>&#20740;</rb><!-- 億 --><rt>ức</rt></ruby>
		<ruby><rb>&#32043;</rb><!-- 紫 --><rt>tử</rt></ruby>
		<ruby><rb>&#37329;</rb><!-- 金 --><rt>kim</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>Tát.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Cõi An-Lạc phương tây<br />
		Quán-thế-Âm Bồ-tát<br />
		Thân tử-kim muôn ức<br />
		Khắp pháp-giới Bồ-tát
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>An</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#21218;</rb><!-- 勢 --><rt>Thế</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>Chí</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>Tát</rt></ruby>
		<br />
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#37002;</rb><!-- 邊 --><rt>biên</rt></ruby>
		<ruby><rb>&#20809;</rb><!-- 光 --><rt>Quang</rt></ruby>
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>tri</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>Tát.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Cõi An-Lạc phương tây<br />
		Ðại Thế-Chí Bồ-tát<br />
		Thân trí sáng vô-biên<br />
		Khắp pháp-giới Bồ-tát
	</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<br />
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>An</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
		<br />
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>Hải</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<br />
		<ruby><rb>&#28415;</rb><!-- 滿 --><rt>mãn</rt></ruby>
		<ruby><rb>&#20998;</rb><!-- 分 --><rt>phần</rt></ruby>
		<ruby><rb>&#20108;</rb><!-- 二 --><rt>nhị</rt></ruby>
		<ruby><rb>&#22196;</rb><!-- 嚴 --><rt>nghiêm</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<br />
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng.</rt></ruby>
	</span><br />
	<span lang="vi">
		Chí Tâm Ðảnh Lễ<br />
		Cõi An-Lạc phương tây<br />
		Thanh-tịnh đại-hải-chúng<br />
		Thân hai nghiêm: Phước, trí<br />
		Khắp pháp-giới Thánh-chúng
	</span>
</p>
