---
title: Quán Tưởng
numb: 3
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#35264;</rb><!-- 觀 --><rt>Quán</rt></ruby>
		<ruby><rb>&#24819;</rb><!-- 想 --><rt>Tưởng</rt></ruby>
	</span><br />
	<span lang="en">Visualisation</span><br />
	<span lang="fr">Méditation à propos de Bouddha</span><br />
	<span lang="de">Visualisierung</span><br />
	<span lang="it">Contemplazione</span>
</h2></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#33021;</rb><!-- 能 --><rt>Năng</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<ruby><rb>&#25152;</rb><!-- 所 --><rt>sở</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<ruby><rb>&#24615;</rb><!-- 性 --><rt>tánh</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#23490;</rb><!-- 寂 --><rt>tịch</rt></ruby>
		<br />
		<ruby><rb>&#24863;</rb><!-- 感 --><rt>Cảm</rt></ruby>
		<ruby><rb>&#25033;</rb><!-- 應 --><rt>ứng</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		<ruby><rb>&#20132;</rb><!-- 交 --><rt>giao</rt></ruby>
		<ruby><rb>&#38627;</rb><!-- 難 --><rt>nan</rt></ruby>
		<ruby><rb>&#24605;</rb><!-- 思 --><rt>tư</rt></ruby>
		<ruby><rb>&#35696;</rb><!-- 議 --><rt>nghì</rt></ruby>
	</span><br />
	<span lang="vi">
		Phật, chúng sinh: tánh thường rỗng lặng.<br />
		Ðạo cảm thông không thể nghĩ bàn.
	</span><br />
	<span lang="en">The subject and object of veneration are by nature empty and still, their spiritual union is ineffable and unimaginable.</span><br />
	<span lang="fr">Bouddha est les êtres sensibles ont la même vacuité sereine. Mais pour Bouddha, elle est déjà acquise alors que pour les êtres sensibles, c’est un objectif à atteindre. Cette vérité a une profondeur impensable mais, elle n’est accessible que selon le degré de compréhension de chaque individu.</span><br />
	<span lang="de">Subjekt und Objekt der Verehrung sind ihrer Natur nach leer und still, ihre geistige Verbindung ist unbeschreiblich und unvorstellbar.</span><br />
	<span lang="it">Il devoto e l'oggetto di devozione sono entrambi per natura vuoti e calmi; la loro unione spirituale è ineffabile e inimmaginabile.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#27492;</rb><!-- 此 --><rt>thử</rt></ruby>
		<ruby><rb>&#36947;</rb><!-- 道 --><rt>đạo</rt></ruby>
		<ruby><rb>&#22580;</rb><!-- 場 --><rt>tràng</rt></ruby>
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>như</rt></ruby>
		<ruby><rb>&#24093;</rb><!-- 帝 --><rt>đế</rt></ruby>
		<ruby><rb>&#29664;</rb><!-- 珠 --><rt>châu</rt></ruby>
		<br />
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>Thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#24433;</rb><!-- 影 --><rt>ảnh</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#20013;</rb><!-- 中 --><rt>trung</rt></ruby>
	</span><br />
	<span lang="vi">
		Lưới đế châu ví tựa đạo tràng,<br />
		Mười phương Phật bảo, hào quang sáng ngời,
	</span><br />
	<span lang="en">The mandala in which I now find myself is like Indra’s jeweled net. All buddhas of the 10 directions are reflected in each jewel.</span><br />
	<span lang="fr">La solennité et la somptuosité de ce lieu de prières ici et maintenant est comparable à la solennité et la somptuosité du lieu de prière de chakra, l’Indra des Devas. L’aura des Bouddhas se répand dans les 10 directions.</span><br />
	<span lang="de">Das Mandala, in dem ich mich nun befinde, ist wie das Juwelennetz Indras. Alle Buddhas der 10 Richtungen spiegeln sich in jedem Juwel wieder.</span><br />
	<span lang="it">Il mandala nel quale adesso mi trovo è come la rete ingioiellata di Indra che riflette in ogni suo gioiello tutti i Buddha delle 10 direzioni.</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
		<ruby><rb>&#24433;</rb><!-- 影 --><rt>ảnh</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#21069;</rb><!-- 前 --><rt>tiền</rt></ruby>
		<br />
		<ruby><rb>&#38957;</rb><!-- 頭 --><rt>Đầu</rt></ruby>
		<ruby><rb>&#38754;</rb><!-- 面 --><rt>diện</rt></ruby>
		<ruby><rb>&#25509;</rb><!-- 接 --><rt>tiếp</rt></ruby>
		<ruby><rb>&#36275;</rb><!-- 足 --><rt>túc</rt></ruby>
		<ruby><rb>&#27512;</rb><!-- 歸 --><rt>quy</rt></ruby>
		<ruby><rb>&#21629;</rb><!-- 命 --><rt>mạng</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
	</span><br />
	<span lang="vi">
		Trước bảo tọa thân con ảnh hiện,<br />
		Cúi đầu xin thệ nguyện quy y.
	</span><br />
	<span lang="en">My own body now appears in the same multiplicity before all buddhas, with my face touching the buddhas’ feet, returning to true life, I bow down.</span><br />
	<span lang="fr">Devant l’autel de Bouddha ; nos efficacités merveilleuses se manifesteront. Nous nous promettons de revenir aux 3 refuges.</span><br />
	<span lang="de">Mein eigener Körper erscheint nun in der selben Vielzahl vor allen Buddhas, mit dem Gesicht die Füße der Buddhas berührend, zum wahren Leben zurückkehrend, verneige ich mich.</span><br />
	<span lang="it">Il mio corpo ora si riflette nella stessa molteplicità al cospetto di tutti i Buddha; prostrandomi, con il mio viso che tocca i loro piedi, prendo in loro rifugio con la mia vita.</span>
</p>
