---
title: Quy y
numb: 4
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#30344;</rb><!-- 皈 --><rt>Quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
	</span><br />
	<span lang="en">Refuge</span><br />
	<span lang="fr">Prosternations</span><br />
	<span lang="de">Zuflucht</span><br />
	<span lang="it">Rifugio</span>
</h2></header>
<section class="multi-lang">
	<p lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ:</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận</rt></ruby>
		<ruby><rb>&#34395;</rb><!-- 虛 --><rt>hư</rt></ruby>
		<ruby><rb>&#31354;</rb><!-- 空 --><rt>không</rt></ruby>
		<ruby><rb>&#36941;</rb><!-- 遍 --><rt>biến</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#36942;</rb><!-- 過 --><rt>quá</rt></ruby>
		<ruby><rb>&#29694;</rb><!-- 現 --><rt>hiện</rt></ruby>
		<ruby><rb>&#26410;</rb><!-- 未 --><rt>vị</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>lai,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>thập</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>Chư</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>Tôn</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#36066;</rb><!-- 賢 --><rt>Hiền</rt></ruby>
		<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
		<ruby><rb>&#20711;</rb><!-- 僧 --><rt>Tăng,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>Tam</rt></ruby>
		<ruby><rb>&#23542;</rb><!-- 寶 --><rt>Bảo.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</p>
	<p lang="en">From the depths of my heart I bow down: Veneration to the Buddhas of the past, present and future, who pervade the entire universe and the Dharmadhatu, the sublime Dharma and the kind and wise Sangha, the ever-abiding 3 Jewels.</p>
	<p lang="fr">Nous nous prosternons respectueusement devant les 3 refuges permanents: les Bouddhas, le Dharma et le sangha des temps passé, présent et futur, du monde et de l’univers.</p>
	<p lang="de">Aus tiefstem Herzen verneige ich mich: Verehrung den, das gesamte Universum und den Dharmadhatu durchdringenden, Buddhas, der Vergangenheit, Gegenwart, Zukunft und der zehn Richtungen, dem erhabenen Dharma und dem gütigen und weisen Sangha, den beständig verweilenden 3 Juwelen.</p>
	<p lang="it">Con la mente e con il cuore uniti mi prostro: rendo lode ai Buddha del passato, presente e futuro, che permeano l'intero universo e il Dharmadhatu; al sublime Dharma e all'amorevole e saggio Sangha, i sempiterni 3 Gioielli.</p>
</section>
<section class="multi-lang">
	<p lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ:</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<br />
		<ruby><rb>&#23057;</rb><!-- 娑 --><rt>Ta</rt></ruby>
		<ruby><rb>&#23110;</rb><!-- 婆 --><rt>bà</rt></ruby>
		<ruby><rb>&#25945;</rb><!-- 教 --><rt>Giáo</rt></ruby>
		<ruby><rb>&#20027;</rb><!-- 主 --><rt>chủ</rt></ruby>
		<ruby><rb>&#26412;</rb><!-- 本 --><rt>Bổn</rt></ruby>
		<ruby><rb>&#24107;</rb><!-- 師 --><rt>sư</rt></ruby>
		<ruby><rb>&#37323;</rb><!-- 釋 --><rt>Thích</rt></ruby>
		<ruby><rb>&#36838;</rb><!-- 迦 --><rt>ca</rt></ruby>
		<ruby><rb>&#29279;</rb><!-- 牟 --><rt>Mâu</rt></ruby>
		<ruby><rb>&#23612;</rb><!-- 尼 --><rt>ni</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#30070;</rb><!-- 當 --><rt>Đương</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>lai</rt></ruby>
		<ruby><rb>&#19979;</rb><!-- 下 --><rt>hạ</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>Di</rt></ruby>
		<ruby><rb>&#21202;</rb><!-- 勒 --><rt>Lặc</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>tôn</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>Trí</rt></ruby>
		<ruby><rb>&#25991;</rb><!-- 文 --><rt>Văn</rt></ruby>
		<ruby><rb>&#27530;</rb><!-- 殊 --><rt>thù</rt></ruby>
		<ruby><rb>&#24107;</rb><!-- 師 --><rt>sư</rt></ruby>
		<ruby><rb>&#21033;</rb><!-- 利 --><rt>lợi</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#34892;</rb><!-- 行 --><rt>Hạnh</rt></ruby>
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#36066;</rb><!-- 賢 --><rt>Hiền</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#35703;</rb><!-- 護 --><rt>Hộ</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>Pháp</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>Chư</rt></ruby>
		<ruby><rb>&#23562;</rb><!-- 尊 --><rt>tôn</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#38728;</rb><!-- 靈 --><rt>Linh</rt></ruby>
		<ruby><rb>&#23665;</rb><!-- 山 --><rt>sơn</rt></ruby>
		<ruby><rb>&#26371;</rb><!-- 會 --><rt>Hội</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</p>
	<p lang="en">
		From the depths of my heart I bow down: Veneration to<br />
		the founder of the teachings in the Saha World - the Guru Shakyamuni Buddha,<br />
		Maitreya - the Buddha of the future,<br />
		Manjushri - the bodhisattva of great wisdom,<br />
		Samantabhadra - the bodhisattva of great activity,<br />
		the venerable bodhisattvas - the Dharma protectors,<br />
		the exalted assembly of buddhas and bodhisattvas on Mount Ghridrakuta.
	</p>
	<p lang="fr">
		Nous nous prosternons respectueusement devant<br />
		Bouddha Shakyamouni - le Maître suprême plein de compassion et de miséricorde de ce bas monde,<br />
		le Bouddha Maitreya qui lui, sera le futur Bouddha<br />
		ainsi que tous les Bodhisattvas tel que<br />
		Manjushri - le Bodhisattva de la grande sagesse,<br />
		Samantabadra - le Bodhisattva de la grande vertu<br />
		et ainsi que tous les Bodhisattvas - les protecteurs de Dharma présents à l’assemblée du Mont Gridhakuta
	</p>
	<p lang="de">
		Aus tiefstem Herzen verneige ich mich: Verehrung<br />
		dem Begründer der Lehre in der Saha-Welt - dem Guru Shakyamuni Buddha,<br />
		Maitreya - dem Buddha der Zukunft,<br />
		Manjusri - dem Bodhisattwa der großen Weisheit,<br />
		Samantabhadra - dem Bodhisattwa der großen Aktivität,<br />
		den ehrwürdigen Bodhisattwas - den Dharmabeschützern,<br />
		der höchsten Versammlung von Buddhas und Bodhisattwas auf dem Berg Grdhrakuta.
	</p>
	<p lang="it">
		Con la mente e con il cuore uniti mi prostro: rendo lode<br />
		al Maestro fondatore degli insegnamenti nel mondo di Saha - il Guru Buddha Shakyamuni,<br />
		a Maitreya - il Buddha del futuro,<br />
		a Manjurshri - il Bodhisattva della Grande Saggezza,<br />
		a Samatabhadra - il Bodhisattva della Grande Pratica,<br />
		ai venerabili Bodhisattva, ai protettori del Dharma,<br />
		alla gloriosa assemblea dei Buddha e Bodhisattva sul monte Ghridrakuta.
	</p>
</section>
<section class="multi-lang">
	<p lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhất</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ:</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<br />
		<ruby><rb>&#35199;</rb><!-- 西 --><rt>Tây</rt></ruby>
		<ruby><rb>&#26041;</rb><!-- 方 --><rt>phương</rt></ruby>
		<ruby><rb>&#26997;</rb><!-- 極 --><rt>Cực</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#38463;</rb><!-- 阿 --><rt>A</rt></ruby>
		<ruby><rb>&#24396;</rb><!-- 彌 --><rt>di</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#35264;</rb><!-- 觀 --><rt>Quán</rt></ruby>
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#38899;</rb><!-- 音 --><rt>Âm</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#21218;</rb><!-- 勢 --><rt>Thế</rt></ruby>
		<ruby><rb>&#33267;</rb><!-- 至 --><rt>Chí</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#22320;</rb><!-- 地 --><rt>Địa</rt></ruby>
		<ruby><rb>&#34255;</rb><!-- 藏 --><rt>Tạng</rt></ruby>
		<ruby><rb>&#29579;</rb><!-- 王 --><rt>Vương</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát,</rt></ruby>
		<ruby><rb>&#65292;</rb><!-- ， --><rt></rt></ruby>
		<br />
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#28023;</rb><!-- 海 --><rt>hải</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát.</rt></ruby>
		<ruby><rb>&#12290;</rb><!-- 。 --><rt></rt></ruby>
	</p>
	<p lang="en">
		From the depths of my heart I bow down: Veneration to<br />
		the Buddha Amitabha of great kindness and great compassion in the western world of extraordinary joy,<br />
		Avalokiteshvara - Bodhisattva of great compassion,<br />
		Mahasthamaprapta - the bodhisattva of all-pervading power and wisdom,<br />
		Ksitigharba - the bodhisattva of the great vows,<br />
		the bodhisattvas of the pure, ocean-like assembly!
	</p>
	<p lang="fr">
		Nous nous prosternons respectueusement devant<br />
		Bouddha Amitabha plein de compassion du royaume de la Suprême Félicité à l’Ouest,<br />
		le Bodhisattva de la grande compassion Avalokitéshvara,<br />
		le Bodhisattva de la sagesse et de la force Mahâsthâmaprâpta,<br />
		le Bodhisattva des grands vœux Ksitigharba<br />
		et tous les Bodhisattvas de l’assemblée de la Sérénité.
	</p>
	<p lang="de">
		Aus tiefstem Herzen verneige ich mich: Verehrung<br />
		dem Buddha Amitabha - der großen Güte und des großen Mitgefühls in der westlichen Welt der außerordentlichen Freude,<br />
		Avalokiteswara - dem Bodhisattwa des großen Mitgefühls,<br />
		Mahasthamaprapta - dem Bodhisattwa der alles durchdringenden Kraft und Weisheit,<br />
		Ksitigarbha - dem Bodhisattwa der großen Gelübde,<br />
		den Bodhisattwas der reinen ozeangleichen Versammlung!
	</p>
	<p lang="it">
		Con la mente e con il cuore uniti mi prostro: rendo lode<br />
		al Buddha Amitabha - grandemente amorevole e compassionevole nel Regno Occidentale della Felicità Suprema,<br />
		ad Avalokiteshvara - il Bodhisattva della Grande Compassione,<br />
		a Mahasthamaprapta - il Bodhisattva del Potere e della Saggezza Onnipervadenti,<br />
		a Kshitigharba - il Bodhisattva del Grande Voto,<br />
		ai Bodhisattva della pura assemblea vasta come l'oceano.
	</p>
</section>
