---
title: tán Như Lai
numb: 5
---

<header lang="vi"><h2>tán Như Lai ??</h2></header>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<ruby><rb>&#22937;</rb><!-- 妙 --><rt>diệu</rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
	</span><br />
	<span lang="vi">Sắc thân Như-Lai đẹp</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19990;</rb><!-- 世 --><rt>Thế</rt></ruby>
		<ruby><rb>&#38291;</rb><!-- 間 --><rt>gian</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#33287;</rb><!-- 與 --><rt>dữ</rt></ruby>
		<ruby><rb>&#31561;</rb><!-- 等 --><rt>đẳng</rt></ruby>
	</span><br />
	<span lang="vi">Trong đời không ai bằng</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>Vô</rt></ruby>
		<ruby><rb>&#27604;</rb><!-- 比 --><rt>tỷ</rt></ruby>
		<ruby><rb>&#19981;</rb><!-- 不 --><rt>bất</rt></ruby>
		<ruby><rb>&#24605;</rb><!-- 思 --><rt>tư</rt></ruby>
		<ruby><rb>&#35696;</rb><!-- 議 --><rt>nghị</rt></ruby>
	</span><br />
	<span lang="vi">Không sánh, chẳng nghĩ bàn</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>Thị</rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>cố</rt></ruby>
		<ruby><rb>&#20170;</rb><!-- 今 --><rt>kim</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
	</span><br />
	<span lang="vi">Nên nay con đảnh lễ</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
		<ruby><rb>&#20358;</rb><!-- 來 --><rt>Lai</rt></ruby>
		<ruby><rb>&#33394;</rb><!-- 色 --><rt>sắc</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#30433;</rb><!-- 盡 --><rt>tận</rt></ruby>
	</span><br />
	<span lang="vi">Sắc thân Phật vô-tận</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>Trí</rt></ruby>
		<ruby><rb>&#24935;</rb><!-- 慧 --><rt>tuệ</rt></ruby>
		<ruby><rb>&#20134;</rb><!-- 亦 --><rt>phục</rt></ruby>
		<ruby><rb>&#24489;</rb><!-- 復 --><rt>diệt</rt></ruby>
		<ruby><rb>&#28982;</rb><!-- 然 --><rt>nhiên</rt></ruby>
	</span><br />
	<span lang="vi">Trí-tuệ Phật cũng thế,</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#19968;</rb><!-- 一 --><rt>Nhứt</rt></ruby>
		<ruby><rb>&#20999;</rb><!-- 切 --><rt>thế</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#24120;</rb><!-- 常 --><rt>thường</rt></ruby>
		<ruby><rb>&#20303;</rb><!-- 住 --><rt>trụ</rt></ruby>
	</span><br />
	<span lang="vi">Tất cả Pháp thường-trụ</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26159;</rb><!-- 是 --><rt>Thị</rt></ruby>
		<ruby><rb>&#25925;</rb><!-- 故 --><rt>cố</rt></ruby>
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>ngã</rt></ruby>
		<ruby><rb>&#27512;</rb><!-- 歸 --><rt>quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
	</span><br />
	<span lang="vi">Cho nên con về nương,</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#26234;</rb><!-- 智 --><rt>trí</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#21147;</rb><!-- 力 --><rt>lực</rt></ruby>
	</span><br />
	<span lang="vi">Sức trí lớn nguyện lớn</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#26222;</rb><!-- 普 --><rt>Phổ</rt></ruby>
		<ruby><rb>&#24230;</rb><!-- 度 --><rt>độ</rt></ruby>
		<ruby><rb>&#26044;</rb><!-- 於 --><rt>chư</rt></ruby>
		<ruby><rb>&#32676;</rb><!-- 群 --><rt>quần</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
	</span><br />
	<span lang="vi">Khắp độ chúng quần-sanh,</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#20196;</rb><!-- 令 --><rt>Linh</rt></ruby>
		<ruby><rb>&#25448;</rb><!-- 捨 --><rt>xã</rt></ruby>
		<ruby><rb>&#29105;</rb><!-- 熱 --><rt>nhiệt</rt></ruby>
		<ruby><rb>&#24817;</rb><!-- 惱 --><rt>não</rt></ruby>
		<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
	</span><br />
	<span lang="vi">Khiến bỏ thân nóng khổ</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>Sanh</rt></ruby>
		<ruby><rb>&#24444;</rb><!-- 彼 --><rt>bỉ</rt></ruby>
		<ruby><rb>&#28165;</rb><!-- 清 --><rt>Thanh</rt></ruby>
		<ruby><rb>&#28092;</rb><!-- 涼 --><rt>lương</rt></ruby>
		<ruby><rb>&#22283;</rb><!-- 國 --><rt>quốc</rt></ruby>
	</span><br />
	<span lang="vi">Sanh kia nước mát vui.</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#20170;</rb><!-- 今 --><rt>kim</rt></ruby>
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
		<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
		<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
	</span><br />
	<span lang="vi">Con nay sạch ba nghiệp</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#27512;</rb><!-- 歸 --><rt>Quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#21450;</rb><!-- 及 --><rt>cập</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<ruby><rb>&#35738;</rb><!-- 讚 --><rt>tán</rt></ruby>
	</span><br />
	<span lang="vi">Quy-y và lễ tán</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>Nguyện</rt></ruby>
		<ruby><rb>&#20849;</rb><!-- 共 --><rt>cọng</rt></ruby>
		<ruby><rb>&#35576;</rb><!-- 諸 --><rt>chư</rt></ruby>
		<ruby><rb>&#30526;</rb><!-- 眾 --><rt>chúng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
	</span><br />
	<span lang="vi">Nguyện cùng các chúng-sanh</span>
</p>
<p class="wait-multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21516;</rb><!-- 同 --><rt>Đồng</rt></ruby>
		<ruby><rb>&#29983;</rb><!-- 生 --><rt>sanh</rt></ruby>
		<ruby><rb>&#23433;</rb><!-- 安 --><rt>an</rt></ruby>
		<ruby><rb>&#27138;</rb><!-- 樂 --><rt>lạc</rt></ruby>
		<ruby><rb>&#21070;</rb><!-- 剎 --><rt>quốc.</rt></ruby>
	</span><br />
	<span lang="vi">Ðồng sanh nước An-Lạc.</span>
</p>
