---
title: Chú Đại Bi
numb: 3
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
	</span><br />
	<span lang="sa">
		<ruby><rb>&#71073;&#71089;&#71081;&#71054;&#71068;&#71103;&#71065;</rb><rt>Nīlakaṇṭha</rt></ruby>
		<ruby><rb>&#71072;&#71087;&#71080;&#71068;&#71089;</rb><rt>Dhāraṇī</rt></ruby>
	</span><br />
	<span lang="en">Great Compassion dhāraṇī</span>
</h2><h3>Đại Chính tạng T20 n1060 p106</h3></header>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21335;</rb><!-- 南 --><rt>Nam</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>mô</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#26371;</rb><!-- 會 --><rt>Hội</rt></ruby>
		<ruby><rb>&#19978;</rb><!-- 上 --><rt>thượng</rt></ruby>
		<ruby><rb>&#20315;</rb><!-- 佛 --><rt>Phật</rt></ruby>
		<ruby><rb>&#33769;</rb><!-- 菩 --><rt>Bồ</rt></ruby>
		<ruby><rb>&#34217;</rb><!-- 薩 --><rt>tát.</rt></ruby>
	</span>&nbsp;(×3)<br />
	<span lang="en">Veneration to the great, merciful, peerless assembly of buddhas and bodhisattvas</span><br />
	<span lang="fr">Nous nous prosternons respectueusement devant tous les Bouddhas, tous les Bodhisattvas de l’Assemblée de la Grande Compassion.</span><br />
	<span lang="de">Verehrung der großen barmherzigen unübertroffenen Versammlung von Buddhas und Bodhisattwas.</span><br />
	<span lang="it">Lode alla grande, compassionevole e impareggiabile assembela di Buddha e Bodhisattva</span>
</p>
<p class="multi-lang">
	<span lang="zh-Hant">
		<ruby><rb>&#21315;</rb><!-- 千 --><rt>Thiên</rt></ruby>
		<ruby><rb>&#25163;</rb><!-- 手 --><rt>thủ</rt></ruby>
		<ruby><rb>&#21315;</rb><!-- 千 --><rt>thiên</rt></ruby>
		<ruby><rb>&#30524;</rb><!-- 眼 --><rt>nhãn</rt></ruby>
		<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
		<ruby><rb>&#31001;</rb><!-- 礙 --><rt>ngại</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>đại</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#24515;</rb><!-- 心 --><rt>tâm</rt></ruby>
		<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
		<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
		<ruby><rb>&#23612;&#12290;</rb><rt>ni.</rt></ruby>
	</span><br />
	<span lang="en">The Dharani of the unhindered mind of great compassion of the one with the thousand arms and thousand eyes</span><br />
	<span lang="fr">Mantra de la Grande Compassion de mille bras et mille yeux du Bodhisattva Avalokitesvara.</span><br />
	<span lang="de">Die Dharani des ungehinderten Geistes des großen Mitgefühls des tausendarmigen und taussendäugigen</span><br />
	<span lang="it">La dharani del grande, onnipervasivo e compassionevole cuore di Colui che ha mille braccia e mille occhi</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Nam mô hắc ra đát na đa ra dạ da. Nam mô a rị đa, bà lô kiết đế, thước bát ra da</span><br />
	<span lang="sa">
		<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
		<ruby><rb>&#71080;&#71069;&#71103;&#71073;&#71069;&#71103;&#71080;&#71079;&#71087;&#71079;</rb><rt>ratna-trayāya</rt></ruby>
		<ruby><rb>&#71073;&#71078;&#71102;</rb><rt>namaḥ</rt></ruby>
		<ruby><rb>&#71041;&#71080;&#71103;&#71079;</rb><rt>ārya</rt></ruby>
		<ruby><rb>&#71040;&#71082;&#71081;&#71098;&#71054;&#71088;&#71069;&#71096;&#71083;&#71103;&#71082;&#71080;&#71087;&#71079;</rb><rt>avalokiteśvarāya</rt></ruby>
	</span><br />
	<span lang="en">Adoration to the Three Gems, adoration to the noble Avalokiteśvarā</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Bồ đề tát đỏa bà da, ma ha tát đỏa bà da, ma ha ca lô ni ca da</span><br />
	<span lang="sa">
		<ruby><rb>&#71076;&#71098;&#71072;&#71088;&#71085;&#71069;&#71103;&#71082;&#71087;&#71079;</rb><rt>bodhisatvāya</rt></ruby>
		<ruby><rb>&#71078;&#71086;&#71087;&#71085;&#71069;&#71103;&#71082;&#71087;&#71079;</rb><rt>mahāsatvāya</rt></ruby>
		<ruby><rb>&#71078;&#71086;&#71087;&#71054;&#71087;&#71080;&#71090;&#71068;&#71088;&#71054;&#71087;&#71079;</rb><rt>mahākāruṇikāya</rt></ruby>
	</span><br />
	<span lang="en">the enlightened sentient being, the great being, the merciful (one)!</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Án, tát bàn ra phạt duệ, số đát na đát tỏa</span><br />
	<span lang="sa">
		<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;&#71080;&#71077;&#71079;&#71096;</rb><rt>sarvarabhaye</rt></ruby>
		<ruby><rb>&#71083;&#71090;&#71071;&#71103;&#71072;&#71073;&#71087;&#71071;&#71085;&#71103;&#71079;</rb><rt>śuddhanādasya</rt></ruby>
	</span><br />
	<span lang="en">Oneness with all saints (and their) rightous doctrine (rightous-joyous language)</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Nam mô tất kiết lật đỏa, y mông a rị da, bà lô kiết đế, thất Phật ra lăng đà bà. Nam mô na ra cẩn trì hê rị</span><br />
	<span lang="sa">
		<ruby><rb>&#71073;&#71078;&#71085;&#71103;&#71054;&#71092;&#71069;&#71103;&#71082;</rb><rt>namaskṛtva</rt></ruby>
		<ruby><rb>&#71042;&#71078;&#71101;</rb><rt>imaṃ</rt></ruby>
		<ruby><rb>&#71041;&#71080;&#71103;&#71079;</rb><rt>ārya</rt></ruby>
		<ruby><rb>&#71040;&#71082;&#71081;&#71098;&#71054;&#71088;&#71069;&#71096;&#71083;&#71103;&#71082;&#71080;</rb><rt>avalokiteśvara</rt></ruby>
		<ruby><rb>&#71081;&#71101;&#71069;&#71077;</rb><rt>laṃtabha</rt></ruby>
		<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
		<ruby><rb>&#71073;&#71089;&#71081;&#71054;&#71068;&#71103;&#71065;</rb><rt>nīlakaṇṭha</rt></ruby>
		<ruby><rb>&#71086;&#71092;</rb><rt>hṛ</rt></ruby>
	</span><br />
	<span lang="en">After the adoration to that noble Avalokiteśvarā of the Mercy (Fragrant) Land, I offer my respectful obeisances to the virtuous supreme lord.</span>
</p>
<p class="mantra-seg">
	<span lang="vi">ma ha bàn đa sa mế</span><br />
	<span lang="sa">
		<ruby><rb>&#71078;&#71086;&#71087;&#71074;&#71069;&#71083;&#71078;&#71088;</rb><rt>mahāpataśami</rt></ruby>
	</span><br />
	<span lang="en">(Who emits) great brilliance light</span>
</p>
<p class="mantra-seg">
	<span lang="vi">tát bà a tha đậu du bằng, a thệ dựng, tát bà tát đa</span><br />
	<span lang="sa">
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;&#71087;&#71070;&#71071;&#71090;</rb><rt>sarvāthadu</rt></ruby>
		<ruby><rb>&#71083;&#71090;&#71075;&#71101;</rb><rt>śuphaṃ</rt></ruby>
		<ruby><rb>&#71040;&#71061;&#71088;&#71079;&#71101;</rb><rt>ajiyaṃ</rt></ruby>
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;</rb><rt>sarva</rt></ruby>
		<ruby><rb>&#71085;&#71069;&#71103;&#71082;</rb><rt>satva</rt></ruby>
	</span><br />
	<span lang="en">all sentient beings are without attachment and in undefeatable purity in all things</span>
</p>
<p class="mantra-seg">
	<span lang="vi">na ma bà dà, ma phạt đạt đậu</span><br />
	<span lang="sa">
		<ruby><rb>&#71073;&#71087;&#71078;</rb><rt>nāma</rt></ruby>
		<ruby><rb>&#71077;&#71056;</rb><rt>bhaga</rt></ruby>
		<ruby><rb>&#71078;&#71087;</rb><rt>mā</rt></ruby>
		<ruby><rb>&#71077;&#71087;&#71069;&#71088;</rb><rt>bhāti</rt></ruby>
		<ruby><rb>&#71071;&#71090;</rb><rt>du</rt></ruby>
	</span><br />
	<span lang="en">Adoration to the joyful being, adoration to the joyful virgin who served by all heavenly beings</span>
</p>
<p class="mantra-seg">
	<span lang="vi">đát điệt tha Án, a bà lô hê, lô ca đế</span><br />
	<span lang="sa">
		<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;</rb><rt>tadyathā</rt></ruby>
		<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
		<ruby><rb>&#71040;&#71082;&#71081;&#71098;&#71054;&#71088;</rb><rt>avaloki</rt></ruby>
		<ruby><rb>&#71081;&#71098;&#71054;&#71069;&#71096;</rb><rt>lokate</rt></ruby>
	</span><br />
	<span lang="en">Like this: Oneness with/adoration to the seer of the world (Avalokiteśvarā)</span>
</p>
<p class="mantra-seg">
	<span lang="vi">ca ra đế, di hê rị, ma ha Bồ đề tát đỏa, tát bà tát bà, ma ra ma ra</span><br />
	<span lang="sa">
		<ruby><rb>&#71054;&#71081;&#71069;&#71088;</rb><rt>kalati</rt></ruby>
		<ruby><rb>&#71042;</rb><rt>i</rt></ruby>
		<ruby><rb>&#71086;&#71096;&#71081;&#71088;&#71102;</rb><rt>heliḥ</rt></ruby>
		<ruby><rb>&#71078;&#71086;&#71087;&#71076;&#71098;&#71072;&#71088;&#71085;&#71069;&#71103;&#71082;</rb><rt>mahābodhisatva</rt></ruby>
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;</rb><rt>sarva</rt></ruby>
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;</rb><rt>sarva</rt></ruby>
		<ruby><rb>&#71078;&#71087;&#71081;</rb><rt>māla</rt></ruby>
		<ruby><rb>&#71078;&#71087;&#71081;</rb><rt>māla</rt></ruby>
	</span><br />
	<span lang="en">whose compassionate heart. The great sentient enlightened being; all, all, are garland (immaculate), garland (immaculate)</span>
</p>
<p class="mantra-seg">
	<span lang="vi">ma hê ma hê, rị đà dựng, cu lô cu lô kiết mông</span><br />
	<span lang="sa">
		<ruby><rb>&#71078;&#71085;&#71089;</rb><rt>masī</rt></ruby>
		<ruby><rb>&#71078;&#71085;&#71089;</rb><rt>masī</rt></ruby>
		<ruby><rb>&#71086;&#71092;&#71071;&#71079;&#71101;</rb><rt>hṛdayaṃ</rt></ruby>
		<ruby><rb>&#71054;&#71090;&#71080;&#71090;</rb><rt>kuru</rt></ruby>
		<ruby><rb>&#71054;&#71090;&#71080;&#71090;</rb><rt>kuru</rt></ruby>
		<ruby><rb>&#71054;&#71080;&#71103;&#71078;&#71101;</rb><rt>karmaṃ</rt></ruby>
	</span><br />
	<span lang="en">great liberated heart, accomplish, accomplish the task (karma)</span>
</p>
<p class="mantra-seg">
	<span lang="vi">độ lô độ lô, phạt xà da đế, ma ha phạt xà da đế, đà ra đà ra, địa rị ni, thất Phật ra da</span><br />
	<span lang="sa">
		<ruby><rb>&#71069;&#71090;&#71080;&#71090;</rb><rt>turu</rt></ruby>
		<ruby><rb>&#71069;&#71090;&#71080;&#71090;</rb><rt>turu</rt></ruby>
		<ruby><rb>&#71077;&#71084;&#71088;</rb><rt>bhaṣi</rt></ruby>
		<ruby><rb>&#71079;&#71069;&#71088;</rb><rt>yati</rt></ruby>
		<ruby><rb>&#71078;&#71086;&#71087;&#71077;&#71084;&#71088;</rb><rt>mahābhaṣi</rt></ruby>
		<ruby><rb>&#71079;&#71069;&#71088;</rb><rt>yati</rt></ruby>
		<ruby><rb>&#71072;&#71087;&#71080;</rb><rt>dhāra</rt></ruby>
		<ruby><rb>&#71072;&#71087;&#71080;</rb><rt>dhāra</rt></ruby>
		<ruby><rb>&#71072;&#71088;&#71080;&#71088;&#71068;&#71088;</rb><rt>dhiriṇi</rt></ruby>
		<ruby><rb>&#71042;&#71083;&#71103;&#71082;&#71080;&#71087;&#71079;</rb><rt>iśvarāya</rt></ruby>
	</span><br />
	<span lang="en">(who) liberate, liberate; the victorious one, the great victorious one (who) hold on, hold on the brave freedom</span>
</p>
<p class="mantra-seg">
	<span lang="vi">dá ra dá ra. Mạ mạ phạt ma ra, mục đế lệ</span><br />
	<span lang="sa">
		<ruby><rb>&#71059;&#71081;</rb><rt>cala</rt></ruby>
		<ruby><rb>&#71059;&#71081;</rb><rt>cala</rt></ruby>
		<ruby><rb>&#71078;&#71078;</rb><rt>mama</rt></ruby>
		<ruby><rb>&#71082;&#71088;&#71078;&#71081;</rb><rt>vimala</rt></ruby>
		<ruby><rb>&#71078;&#71090;&#71054;&#71103;&#71069;&#71096;</rb><rt>mukte</rt></ruby>
	</span><br />
	<span lang="en">lead, lead to my immaculate liberation</span>
</p>
<p class="mantra-seg">
	<span lang="vi">y hê di hê, thất na thất na, a ra sâm Phật ra xá lợi, phạt sa phạt sâm, Phật ra xá da</span><br />
	<span lang="sa">
		<ruby><rb>&#71050;&#71086;&#71103;&#71079;&#71096;&#71086;&#71088;</rb><rt>ehyehi</rt></ruby>
		<ruby><rb>&#71083;&#71088;&#71073;</rb><rt>śina</rt></ruby>
		<ruby><rb>&#71083;&#71088;&#71073;</rb><rt>śina</rt></ruby>
		<ruby><rb>&#71040;&#71080;&#71085;&#71088;&#71101;</rb><rt>arasiṃ</rt></ruby>
		<ruby><rb>&#71077;&#71081;</rb><rt>bhala</rt></ruby>
		<ruby><rb>&#71083;&#71080;&#71088;</rb><rt>śari</rt></ruby>
		<ruby><rb>&#71077;&#71084;&#71087;</rb><rt>bhaṣā</rt></ruby>
		<ruby><rb>&#71077;&#71084;&#71088;&#71101;</rb><rt>bhaṣiṃ</rt></ruby>
		<ruby><rb>&#71077;&#71080;</rb><rt>bhara</rt></ruby>
		<ruby><rb>&#71083;&#71079;</rb><rt>śaya</rt></ruby>
	</span><br />
	<span lang="en">(Please) come, come; (fulfill) the pledge, the pledge; the admantine king of awakening (who) rules, rules the peace</span>
</p>
<p class="mantra-seg">
	<span lang="vi">hô lô hô lô, ma ra, hô lô hô lô, hê rị</span><br />
	<span lang="sa">
		<ruby><rb>&#71086;&#71090;&#71081;&#71090;</rb><rt>hulu</rt></ruby>
		<ruby><rb>&#71086;&#71090;&#71081;&#71090;</rb><rt>hulu</rt></ruby>
		<ruby><rb>&#71074;&#71103;&#71080;</rb><rt>pra</rt></ruby>
		<ruby><rb>&#71086;&#71090;&#71081;&#71090;</rb><rt>hulu</rt></ruby>
		<ruby><rb>&#71086;&#71090;&#71081;&#71090;</rb><rt>hulu</rt></ruby>
		<ruby><rb>&#71083;&#71103;&#71080;&#71089;</rb><rt>śrī</rt></ruby>
	</span><br />
	<span lang="en">purify, purify personification of delusions, purify, purify the heart</span>
</p>
<p class="mantra-seg">
	<span lang="vi">ta ra ta ra, tất rị tất rị, tô rô tô rô, Bồ đề dạ Bồ đề dạ, bồ đà dạ, bồ đà dạ</span><br />
	<span lang="sa">
		<ruby><rb>&#71085;&#71080;</rb><rt>sara</rt></ruby>
		<ruby><rb>&#71085;&#71080;</rb><rt>sara</rt></ruby>
		<ruby><rb>&#71085;&#71088;&#71080;&#71088;</rb><rt>siri</rt></ruby>
		<ruby><rb>&#71085;&#71088;&#71080;&#71088;</rb><rt>siri</rt></ruby>
		<ruby><rb>&#71085;&#71090;&#71080;&#71090;</rb><rt>suru</rt></ruby>
		<ruby><rb>&#71085;&#71090;&#71080;&#71090;</rb><rt>suru</rt></ruby>
		<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71088;&#71079;</rb><rt>buddhiya</rt></ruby>
		<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71088;&#71079;</rb><rt>buddhiya</rt></ruby>
		<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71079;</rb><rt>buddhāya</rt></ruby>
		<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71079;</rb><rt>buddhāya</rt></ruby>
	</span><br />
	<span lang="en">firm, firm ; brave, brave ; wonder form (being), wonder form (being). Enlightenment, enlightenment, the enlightened one, the enlightened one.</span>
</p>
<p class="mantra-seg">
	<span lang="vi">di đế rị dạ, na ra cẩn trì địa rị sắc ni na, ba dạ ma na, ta bà ha. Tất đà dạ ta bà ha</span><br />
	<span lang="sa">
		<ruby><rb>&#71078;&#71097;&#71069;&#71103;&#71080;&#71088;&#71079;</rb><rt>maitriya</rt></ruby>
		<ruby><rb>&#71073;&#71089;&#71081;&#71054;&#71068;&#71103;&#71065;</rb><rt>nīlakaṇṭha</rt></ruby>
		<ruby><rb>&#71069;&#71103;&#71080;&#71088;&#71083;&#71080;&#71068;</rb><rt>triśaraṇa</rt></ruby>
		<ruby><rb>&#71040;&#71077;&#71079;</rb><rt>abhaya</rt></ruby>
		<ruby><rb>&#71078;&#71068;</rb><rt>maṇa</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		<ruby><rb>&#71085;&#71088;&#71071;&#71103;&#71072;&#71088;&#71079;</rb><rt>siddhiya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
	</span><br />
	<span lang="en">The benevolent, virtuous one, success in power and fame, success in benevolence,</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Ma ha tất đà dạ ta bà ha. Tất đà dủ nghệ thất bàn ra dạ, ta bà ha. Na ra cẩn trì, ta bà ha</span><br />
	<span lang="sa">
		<ruby><rb>&#71078;&#71086;&#71087;&#71085;&#71088;&#71071;&#71103;&#71072;&#71088;&#71079;</rb><rt>mahāsiddhiya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		<ruby><rb>&#71085;&#71088;&#71071;&#71103;&#71072;&#71079;&#71098;&#71056;</rb><rt>siddhayoga</rt></ruby>
		<ruby><rb>&#71042;&#71083;&#71103;&#71082;&#71080;&#71087;&#71079;</rb><rt>iśvarāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		<ruby><rb>&#71073;&#71089;&#71081;&#71054;&#71068;&#71103;&#71065;</rb><rt>nīlakaṇṭha</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
	</span><br />
	<span lang="en">success in great benevolence, success in achieving freedom through union (with dharma), success in virtures</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Ma ra na ra, ta bà ha. Tất ra tăng a mục khê da, ta bà ha. Ta bà ma ha, a tất đà dạ, ta bà ha</span><br />
	<span lang="sa">
		<ruby><rb>&#71074;&#71103;&#71080;&#71082;&#71080;&#71087;&#71086;&#71078;&#71090;&#71055;&#71087;&#71079;</rb><rt>pravarāhamukhāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		<ruby><rb>&#71083;&#71103;&#71080;&#71089;&#71085;&#71088;&#71101;&#71086;&#71078;&#71090;&#71055;&#71087;&#71079;</rb><rt>śrīsiṃhamukhāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		<ruby><rb>&#71085;&#71080;&#71103;&#71082;</rb><rt>sarva</rt></ruby>
		<ruby><rb>&#71078;&#71086;&#71087;&#71078;&#71090;&#71054;&#71103;&#71069;&#71087;&#71079;</rb><rt>mahāmuktāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
	</span><br />
	<span lang="en">success in immaculate joy, incomparable success in ultima convincing speech, incomparable success in all profound meaning</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Giả kiết ra a tất đà dạ, ta bà ha. Ba đà ma yết tất đà dạ, ta bà ha</span><br />
	<span lang="sa">
		<ruby><rb>&#71059;&#71054;&#71103;&#71080;&#71087;</rb><rt>cakrā</rt></ruby>
		<ruby><rb>&#71079;&#71090;&#71072;&#71087;&#71079;</rb><rt>yudhāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		<ruby><rb>&#71074;&#71071;&#71103;&#71078;&#71086;&#71085;&#71103;&#71069;&#71087;&#71079;</rb><rt>padmahastāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
	</span><br />
	<span lang="en">incomparable success in (turning) the wheel, success in the red lotus (immaculate) deed</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Na ra cẩn trì bàn dà ra dạ, ta bà ha. Ma bà lợi thắng kiết ra dạ, ta bà ha</span><br />
	<span lang="sa">
		<ruby><rb>&#71073;&#71089;&#71081;&#71054;&#71068;&#71103;&#71065;</rb><rt>nīlakaṇṭha</rt></ruby>
		<ruby><rb>&#71083;&#71058;&#71103;&#71055;&#71080;&#71087;&#71061;</rb><rt>śaṅkharāja</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		<ruby><rb>&#71078;&#71087;</rb><rt>mā</rt></ruby>
		<ruby><rb>&#71082;&#71080;&#71088;</rb><rt>vari</rt></ruby>
		<ruby><rb>&#71083;&#71058;&#71103;&#71054;&#71080;&#71087;&#71079;</rb><rt>śaṅkarāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
	</span><br />
	<span lang="en">success in (becoming a) virtuous blessed one, success in own prestige nature</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Nam mô hắc ra đát na, đa ra dạ da. Nam mô a rị da bà lô kiết đế, thước bàn ra dạ, ta bà ha</span><br />
	<span lang="sa">
		<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
		<ruby><rb>&#71080;&#71069;&#71103;&#71073;&#71069;&#71103;&#71080;&#71079;&#71087;&#71079;</rb><rt>ratnatrayāya</rt></ruby>
		<ruby><rb>&#71073;&#71078;&#71102;</rb><rt>namaḥ</rt></ruby>
		<ruby><rb>&#71041;&#71080;&#71103;&#71079;</rb><rt>ārya</rt></ruby>
		<ruby><rb>&#71040;&#71082;&#71081;&#71098;&#71054;&#71088;&#71069;&#71096;&#71083;&#71103;&#71082;&#71080;&#71087;&#71079;</rb><rt>avalokiteśvarāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
	</span><br />
	<span lang="en">Refuge in the Triple Gem, take refuge in the success of noble Avalokiteśvarā</span>
</p>
<p class="mantra-seg">
	<span lang="vi">Án, tất điện đô, mạn đa ra, bạt đà dạ, ta bà ha.</span>&nbsp;(×3)<br />
	<span lang="sa">
		<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
		<ruby><rb>&#71085;&#71088;&#71071;&#71103;&#71072;&#71103;&#71079;&#71073;&#71103;&#71069;&#71090;</rb><rt>siddhyantu</rt></ruby>
		<ruby><rb>&#71078;&#71073;&#71103;&#71069;&#71103;&#71080;</rb><rt>mantra</rt></ruby>
		<ruby><rb>&#71074;&#71071;&#71087;&#71079;</rb><rt>padāya</rt></ruby>
		<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
	</span><br />
	<span lang="en">oneness with the success of achieving these mantra verses!</span>
</p>
