---
title: Các chân ngôn mở đầu
numb: 1
---

<header lang="vi"><h2>Các chân ngôn mở đầu</h2></header>
<section class="dong-khung">
	<header><h3 lang="zh-Hant">
		<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
		<ruby><rb>&#27861;</rb><!-- 法 --><rt>pháp</rt></ruby>
		<ruby><rb>&#30028;</rb><!-- 界 --><rt>giới</rt></ruby>
		<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
		<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Án lam toá ha</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71080;&#71101;</rb><rt>raṃ</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3 lang="zh-Hant">
			<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
			<ruby><rb>&#21475;</rb><!-- 口 --><rt>khẩu</rt></ruby>
			<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby></h3></header>
	<p class="mantra-seg">
		<span lang="vi">Án tu lị, tu lị, ma ha tu lị, tu tu lị, sa bà ha</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71069;&#71090;&#71080;&#71096;</rb><rt>ture</rt></ruby>
			<ruby><rb>&#71069;&#71090;&#71080;&#71096;</rb><rt>ture</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71069;&#71090;&#71080;&#71096;</rb><rt>mahāture</rt></ruby>
			<ruby><rb>&#71069;&#71090;&#71069;&#71090;&#71080;&#71096;</rb><rt>tuture</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3 lang="zh-Hant">
			<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
			<ruby><rb>&#36523;</rb><!-- 身 --><rt>thân</rt></ruby>
			<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby></h3></header>
	<p class="mantra-seg">
		<span lang="vi">Án tu đa lị, tu đa lị, tu ma lị, tu ma lị, sa bà ha</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71069;&#71090;&#71069;&#71087;&#71080;&#71096;</rb><rt>tutāre</rt></ruby>
			<ruby><rb>&#71069;&#71090;&#71069;&#71087;&#71080;&#71096;</rb><rt>tutāre</rt></ruby>
			<ruby><rb>&#71069;&#71090;&#71078;&#71080;&#71096;</rb><rt>tumare</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3 lang="zh-Hant">
			<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
			<ruby><rb>&#24847;</rb><!-- 意 --><rt>ý</rt></ruby>
			<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby></h3></header>
	<p class="mantra-seg">
		<span lang="vi">Án phạ nhật la đát đa hạ hộc</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71082;&#71061;&#71103;&#71080;</rb><rt>vajra</rt></ruby>
			<ruby><rb>&#71069;&#71103;&#71080;&#71064;&#71103;</rb><rt>traṭ</rt></ruby>
			<ruby><rb>&#71086;&#71087;&#71086;</rb><rt>hāha</rt></ruby>
			<ruby><rb>&#71086;&#71098;&#71102;</rb><rt>hoḥ</rt></ruby>
		</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3 lang="zh-Hant">
			<ruby><rb>&#28136;</rb><!-- 淨 --><rt>Tịnh</rt></ruby>
			<ruby><rb>&#19977;</rb><!-- 三 --><rt>tam</rt></ruby>
			<ruby><rb>&#26989;</rb><!-- 業 --><rt>nghiệp</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby></h3></header>
	<p class="mantra-seg">
		<span lang="vi">Án, ta phạ bà phạ, thuật đà, ta phạ, đạt mạ, ta phạ bà phạ, thuật độ hám</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71077;&#71087;&#71082;</rb><rt>svabhāva</rt></ruby>
			<ruby><rb>&#71083;&#71090;&#71071;&#71103;&#71072;</rb><rt>śuddha</rt></ruby>
			<ruby><rb>&#71085;&#71080;&#71103;&#71082;&#71072;&#71080;&#71103;&#71078;</rb><rt>sarvadharma</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71077;&#71087;&#71082;</rb><rt>svabhāva</rt></ruby>
			<ruby><rb>&#71083;&#71090;&#71071;&#71103;&#71072;&#71099;&#71086;&#71101;</rb><rt>śuddhauhaṃ</rt></ruby>
		</span><br />
		<span lang="en">Oṃ! All Dharmas in their own-being are pure, in my own-being I too am pure!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3 lang="zh-Hant">
			<ruby><rb>&#23433;</rb><!-- 安 --><rt>An</rt></ruby>
			<ruby><rb>&#22303;</rb><!-- 土 --><rt>thổ</rt></ruby>
			<ruby><rb>&#22320;</rb><!-- 地 --><rt>địa</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby></h3></header>
	<p class="mantra-seg">
		<span lang="vi">Nam mô tam mẫn đa một đà nẫm, án độ rô độ rô, địa vĩ ta ba ha</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71101;</rb><rt>namaṃ</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71073;&#71103;&#71069;</rb><rt>samanta</rt></ruby>
			<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71073;&#71087;&#71101;</rb><rt>buddhānāṃ</rt></ruby>
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71072;&#71090;&#71080;&#71090;</rb><rt>dhuru</rt></ruby>
			<ruby><rb>&#71072;&#71090;&#71080;&#71090;</rb><rt>dhuru</rt></ruby>
			<ruby><rb>&#71071;&#71096;&#71082;&#71088;</rb><rt>devi</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span>
	</p>
</section>
