---
title: Thập Chú
numb: 4
---

<header><h2>
	<span lang="zh-Hant">
		<ruby><rb>&#21313;</rb><!-- 十 --><rt>Thập</rt></ruby>
		<ruby><rb>&#23567;</rb><!-- 小 --><rt>tiểu</rt></ruby>
		<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
	</span><br />
	<span lang="sa">Daśa Cula Mantra</span><br />
	<span lang="en">10 short mantras</span><br />
	<span lang="fr">10 mantras courts</span><br />
	<span lang="de">10 kleinere Mantras</span><br />
	<span lang="it">10 mantra brevi</span>
</h2></header>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#22914;</rb><!-- 如 --><rt>Như</rt></ruby>
			<ruby><rb>&#24847;</rb><!-- 意 --><rt>ý</rt></ruby>
			<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
			<ruby><rb>&#36650;</rb><!-- 輪 --><rt>luân</rt></ruby>
			<ruby><rb>&#29579;</rb><!-- 王 --><rt>vương</rt></ruby>
			<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
			<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
			<ruby><rb>&#23612;</rb><!-- 尼 --><rt>ni</rt></ruby>
		</span><br />
		<span lang="sa">Cintamani cakravartin dhāraṇī</span><br />
		<span lang="en">wish fulfilling wheel turning dhāraṇī</span><br />
		<span lang="it">Dharani del gioiello del Chakravartin che esaudisce i desideri</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Nam mô Phật đà gia Nam mô Đạt ma gia Nam mô Tăng già gia</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71079;</rb><rt>buddhāya</rt></ruby>
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71072;&#71080;&#71103;&#71078;&#71087;&#71079;</rb><rt>dharmāya</rt></ruby>
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71085;&#71101;&#71057;&#71087;&#71079;</rb><rt>saṃghāya</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the Buddha, Adoration to the Dharma, Adoration to the Sangha</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Nam mô Quán Tự Tại Bồ Tát Ma Ha Tát Cụ Đại Bi Tâm Giả</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71102;</rb><rt>namaḥ</rt></ruby>
			<ruby><rb>&#71041;&#71080;&#71103;&#71079;</rb><rt>ārya</rt></ruby>
			<ruby><rb>&#71040;&#71082;&#71081;&#71098;&#71054;&#71088;&#71069;&#71096;&#71083;&#71103;&#71082;&#71080;&#71087;&#71079;</rb><rt>avalokiteśvarāya</rt></ruby>
			<ruby><rb>&#71076;&#71098;&#71072;&#71088;&#71085;&#71069;&#71103;&#71082;&#71087;&#71079;</rb><rt>bodhisatvāya</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71085;&#71069;&#71103;&#71082;&#71087;&#71079;</rb><rt>mahāsatvāya</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71054;&#71087;&#71080;&#71090;&#71068;&#71088;&#71054;&#71087;&#71079;</rb><rt>mahākāruṇikāya</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the noble Lord who gazes down the world, the enlightened sentient being, the great sentient being, the great compassionate one!</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Đát diệt tha: Án, chước yết ra phạt để, chấn đa mạt ni, ma ha bát đằng mế, rô rô rô rô, để sắt tra, thước la, a yết rị sa dạ, hồng, phấn, toá ha</span><br />
		<span lang="sa">
			<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;</rb><rt>tadyathā:</rt></ruby>
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71059;&#71054;&#71103;&#71080;&#71082;&#71080;&#71103;&#71069;&#71103;&#71069;&#71088;</rb><rt>cakravartti</rt></ruby>
			<ruby><rb>&#71059;&#71088;&#71073;&#71103;&#71069;&#71087;&#71078;&#71068;&#71088;</rb><rt>cintāmaṇi</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71074;&#71071;&#71103;&#71078;&#71096;</rb><rt>mahā-padme</rt></ruby>
			<ruby><rb>&#71080;&#71090;&#71080;&#71090;</rb><rt>ruru</rt></ruby>
			<ruby><rb>&#71069;&#71088;&#71084;&#71103;&#71064;</rb><rt>tiṣṭa</rt></ruby>
			<ruby><rb>&#71061;&#71103;&#71082;&#71081;</rb><rt>jvala</rt></ruby>
			<ruby><rb>&#71040;&#71054;&#71080;&#71103;&#71084;&#71079;</rb><rt>akarṣaya</rt></ruby>
			<ruby><rb>&#71086;&#71091;&#71101;</rb><rt>hūṃ</rt></ruby>
			<ruby><rb>&#71075;&#71064;&#71103;</rb><rt>phaṭ</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">Like this: Oṃ! Turn the wheel, the wish-fulfilling jewel, the great lotus, (quick, quick), Flame stays firm! Calling for the holy mind to destroy obstacles, So be it!</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Án, bát đạp ma, chấn đa mạc ni, thước ra, hồng</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71074;&#71071;&#71103;&#71078;</rb><rt>padma</rt></ruby>
			<ruby><rb>&#71059;&#71088;&#71073;&#71103;&#71069;&#71087;&#71078;&#71068;&#71088;</rb><rt>cintāmaṇi</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71061;&#71103;&#71082;&#71081;</rb><rt>mahājvala</rt></ruby>
			<ruby><rb>&#71086;&#71091;&#71101;</rb><rt>hūṃ</rt></ruby>
		</span><br />
		<span lang="en">Om! Lotus, wish-fulfilling jewel, flame, hum!</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Án, bát lật đà, bát đẳng mế, hồng</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71082;&#71080;&#71071;</rb><rt>varada</rt></ruby>
			<ruby><rb>&#71074;&#71071;&#71103;&#71078;&#71096;</rb><rt>padme</rt></ruby>
			<ruby><rb>&#71086;&#71091;&#71101;</rb><rt>hūṃ</rt></ruby>
		</span><br />
		<span lang="en">Om! Boon bestowing lotus hum!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#28040;</rb><!-- 消 --><rt>Tiêu</rt></ruby>
			<ruby><rb>&#28797;</rb><!-- 災 --><rt>tai</rt></ruby>
			<ruby><rb>&#21513;</rb><!-- 吉 --><rt>cát</rt></ruby>
			<ruby><rb>&#31077;</rb><!-- 祥 --><rt>tường</rt></ruby>
			<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần</rt></ruby>
			<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		</span><br />
		<span lang="sa">Jvāla Mahāugra Dhāraṇī</span><br />
		<span lang="en">The quelling calamity and bringing auspicious good will spiritual mantra</span><br />
		<span lang="fr">mantra qui détruit tous les malheurs et apporte du bonheur</span><br />
		<span lang="de">Unglück zerstörende und Glück herbeiführende Mantra</span><br />
		<span lang="it">Dhāraṇī che annienta le calamità e porta fortuna</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Nẵng mồ tam mãn đa mẫu đà nẫm. A bát ra để hạ đa xá ta nẵng nẫm</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71102;</rb><rt>namaḥ</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71073;&#71103;&#71069;</rb><rt>samanta</rt></ruby>
			<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71073;&#71087;&#71101;</rb><rt>buddhānāṃ</rt></ruby>
			<ruby><rb>&#71040;&#71074;&#71103;&#71080;&#71069;&#71088;&#71086;&#71069;</rb><rt>apratihata</rt></ruby>
			<ruby><rb>&#71083;&#71085;&#71073;&#71087;&#71073;&#71087;&#71101;</rb><rt>śasanānāṃ</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the universal Buddhas (and their) unimpeded religions!</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Đát điệt tha: Án, khê khê, khê hế, khê hế, hồng hồng</span><br />
		<span lang="sa">
			<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;</rb><rt>tadyathā</rt></ruby>
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71055;&#71055;</rb><rt>khakha</rt></ruby>
			<ruby><rb>&#71055;&#71086;&#71088;</rb><rt>khahi</rt></ruby>
			<ruby><rb>&#71055;&#71086;&#71088;</rb><rt>khahi</rt></ruby>
			<ruby><rb>&#71086;&#71091;&#71101;</rb><rt>hūṃ</rt></ruby>
			<ruby><rb>&#71086;&#71091;&#71101;</rb><rt>hūṃ</rt></ruby>
		</span><br />
		<span lang="en">Thus: om! in the sky, in emptiness, destroy, destroy (all obstacles), the holy mind! the holy mind!</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">nhập phạ ra, nhập phạ ra, bát ra nhập phạ ra, bát ra nhập phạ ra, để sắc sá, để sắc sá</span><br />
		<span lang="sa">
			<ruby><rb>&#71061;&#71103;&#71082;&#71081;</rb><rt>jvala</rt></ruby>
			<ruby><rb>&#71061;&#71103;&#71082;&#71081;</rb><rt>jvala</rt></ruby>
			<ruby><rb>&#71074;&#71103;&#71080;&#71061;&#71103;&#71082;&#71081;</rb><rt>prajvala</rt></ruby>
			<ruby><rb>&#71074;&#71103;&#71080;&#71061;&#71103;&#71082;&#71081;</rb><rt>prajvala</rt></ruby>
			<ruby><rb>&#71069;&#71088;&#71084;&#71103;&#71064;</rb><rt>tiṣṭa</rt></ruby>
			<ruby><rb>&#71069;&#71088;&#71084;&#71103;&#71064;</rb><rt>tiṣṭa</rt></ruby>
		</span><br />
		<span lang="en">flame, light, brilliant light, brilliant light, stay, stay</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">sắc trí rị, sắc trí rị, ta phấn tra, ta phấn tra, phiến để ca thất rị duệ, ta phạ ha</span><br />
		<span lang="sa">
			<ruby><rb>&#71084;&#71103;&#71064;&#71103;&#71080;&#71088;</rb><rt>ṣṭri</rt></ruby>
			<ruby><rb>&#71084;&#71103;&#71064;&#71103;&#71080;&#71088;</rb><rt>ṣṭri</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71075;&#71064;&#71103;</rb><rt>sphaṭ</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71075;&#71064;&#71103;</rb><rt>sphaṭ</rt></ruby>
			<ruby><rb>&#71083;&#71087;&#71073;&#71103;&#71069;&#71088;&#71054;</rb><rt>śāntika</rt></ruby>
			<ruby><rb>&#71083;&#71103;&#71080;&#71089;&#71079;&#71096;</rb><rt>śrīye</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">shatter, shatter, burst, burst, disperses calamities (and brings) fortune/opulence So be it!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#21151;</rb><!-- 功 --><rt>Công</rt></ruby>
			<ruby><rb>&#24503;</rb><!-- 德 --><rt>đức</rt></ruby>
			<ruby><rb>&#23542;</rb><!-- 寶 --><rt>bảo</rt></ruby>
			<ruby><rb>&#23665;</rb><!-- 山 --><rt>sơn</rt></ruby>
			<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần</rt></ruby>
			<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		</span><br />
		<span lang="sa">Guna-ratna-śīla dhāraṇī</span><br />
		<span lang="en">meritorious precious mountain mantra</span><br />
		<span lang="fr">mantra qui permet d’augmenter les mérites aussi énorme que les grandes montagnes</span><br />
		<span lang="de">Verdienst-Edelstein-Berg Mantra</span><br />
		<span lang="it">Dhāraṇī della sacra montagna dei preziosi meriti e virtù</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Nam mô Phật đà da, nam mô Đạt ma da, nam mô Tăng già da</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71079;</rb><rt>buddhāya</rt></ruby>
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71072;&#71080;&#71103;&#71078;&#71087;&#71079;</rb><rt>dharmāya</rt></ruby>
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71085;&#71101;&#71057;&#71087;&#71079;</rb><rt>saṃghāya</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the Buddha! Adoration to the Buddhist Teaching! Adoration to the Buddhist community!</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Án tất đế, hộ rô rô, tất đô rô, chỉ rị ba, kiết rị bà, tất đạt rị, bố rô rị, ta phạ ha.</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71085;&#71088;&#71071;&#71103;&#71072;&#71088;</rb><rt>siddhi</rt></ruby>
			<ruby><rb>&#71086;&#71098;&#71102;</rb><rt>hoḥ</rt></ruby>
			<ruby><rb>&#71072;&#71090;&#71080;&#71090;</rb><rt>dhuru</rt></ruby>
			<ruby><rb>&#71085;&#71090;&#71072;&#71090;&#71080;&#71090;</rb><rt>sudhuru</rt></ruby>
			<ruby><rb>&#71056;&#71080;&#71103;&#71061;</rb><rt>garja</rt></ruby>
			<ruby><rb>&#71056;&#71080;&#71103;&#71077;</rb><rt>garbha</rt></ruby>
			<ruby><rb>&#71085;&#71072;&#71087;&#71080;&#71088;</rb><rt>sadhāri</rt></ruby>
			<ruby><rb>&#71074;&#71091;&#71080;&#71103;&#71068;&#71088;</rb><rt>pūrṇi</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">Accomplished one, quick, quick, accomplishes quick, be merciful, be compassionate, accomplishes perfectly, so be it!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#28310;</rb><!-- 準 --><rt>Chuẩn</rt></ruby>
			<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề</rt></ruby>
			<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần</rt></ruby>
			<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		</span><br />
		<span lang="sa">Mahā cundi-durgha mantra</span><br />
		<span lang="en">The great Cundi-durgha spiritual mantra</span><br />
		<span lang="fr">mantra de Cundi</span><br />
		<span lang="de">Übeltaten vernichten, Schutz herbeiführen</span><br />
		<span lang="it">Dhāraṇī di Cundī</span>
	</h3></header>
	<p lang="zh-Hant" class="wait-multi-lang">
		<ruby><rb>&#31293;</rb><!-- 稽 --><rt>Khể</rt></ruby>
		<ruby><rb>&#39318;</rb><!-- 首 --><rt>thủ</rt></ruby>
		<ruby><rb>&#30344;</rb><!-- 皈 --><rt>quy</rt></ruby>
		<ruby><rb>&#20381;</rb><!-- 依 --><rt>y</rt></ruby>
		<ruby><rb>&#34311;</rb><!-- 蘇 --><rt>Tô</rt></ruby>
		<ruby><rb>&#24713;</rb><!-- 悉 --><rt>tất</rt></ruby>
		<ruby><rb>&#24093;</rb><!-- 帝 --><rt>đế,</rt></ruby>
		<br />
		<ruby><rb>&#38957;</rb><!-- 頭 --><rt>đầu</rt></ruby>
		<ruby><rb>&#38754;</rb><!-- 面 --><rt>diện</rt></ruby>
		<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đảnh</rt></ruby>
		<ruby><rb>&#31150;</rb><!-- 禮 --><rt>lễ</rt></ruby>
		<ruby><rb>&#19971;</rb><!-- 七 --><rt>thất</rt></ruby>
		<ruby><rb>&#20465;</rb><!-- 俱 --><rt>cu</rt></ruby>
		<ruby><rb>&#32989;</rb><!-- 胝 --><rt>chi.</rt></ruby>
		<br />
		<ruby><rb>&#25105;</rb><!-- 我 --><rt>Ngã</rt></ruby>
		<ruby><rb>&#20170;</rb><!-- 今 --><rt>kim</rt></ruby>
		<ruby><rb>&#31281;</rb><!-- 稱 --><rt>xưng</rt></ruby>
		<ruby><rb>&#35738;</rb><!-- 讚 --><rt>tán</rt></ruby>
		<ruby><rb>&#22823;</rb><!-- 大 --><rt>Đại</rt></ruby>
		<ruby><rb>&#20934;</rb><!-- 准 --><rt>Chuẩn</rt></ruby>
		<ruby><rb>&#25552;</rb><!-- 提 --><rt>đề,</rt></ruby>
		<br />
		<ruby><rb>&#21807;</rb><!-- 唯 --><rt>duy</rt></ruby>
		<ruby><rb>&#39000;</rb><!-- 願 --><rt>nguyện</rt></ruby>
		<ruby><rb>&#24904;</rb><!-- 慈 --><rt>từ</rt></ruby>
		<ruby><rb>&#24754;</rb><!-- 悲 --><rt>bi</rt></ruby>
		<ruby><rb>&#22402;</rb><!-- 垂 --><rt>thùy</rt></ruby>
		<ruby><rb>&#21152;</rb><!-- 加 --><rt>gia</rt></ruby>
		<ruby><rb>&#35703;</rb><!-- 護 --><rt>hộ.</rt></ruby>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Nam mô tát đa nẫm, tam miệu tam bồ đà, câu chi nẫm,</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71085;&#71074;&#71103;&#71069;&#71087;&#71073;&#71087;&#71101;</rb><rt>saptānāṃ</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71103;&#71079;&#71054;&#71103;&#71085;&#71101;&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;</rb><rt>samyaksaṃbuddhā</rt></ruby>
			<ruby><rb>&#71054;&#71098;&#71064;&#71088;&#71073;&#71087;&#71101;</rb><rt>koṭināṃ</rt></ruby>
		</span><br />
		<span lang="en">Adoration to 7 billions perfectly, completely enlightened beings</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">đát điệt tha: Úm chiết lệ chủ lệ Chuẩn Đề ta bà ha.</span><br />
		<span lang="sa">
			<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;</rb><rt>tadyathā</rt></ruby>
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71059;&#71081;&#71096;</rb><rt>cale</rt></ruby>
			<ruby><rb>&#71059;&#71090;&#71081;&#71096;</rb><rt>cule</rt></ruby>
			<ruby><rb>&#71059;&#71090;&#71058;&#71103;&#71072;&#71096;</rb><rt>cuṅdhe</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">Thus: Oṃ! awake, arise, purity is auspiciously completed!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#32854;</rb><!-- 聖 --><rt>Thánh</rt></ruby>
			<ruby><rb>&#28961;</rb><!-- 無 --><rt>vô</rt></ruby>
			<ruby><rb>&#37327;</rb><!-- 量 --><rt>lượng</rt></ruby>
			<ruby><rb>&#22781;</rb><!-- 壽 --><rt>thọ</rt></ruby>
			<ruby><rb>&#27770;</rb><!-- 決 --><rt>quyết</rt></ruby>
			<ruby><rb>&#23450;</rb><!-- 定 --><rt>định</rt></ruby>
			<ruby><rb>&#20809;</rb><!-- 光 --><rt>quang</rt></ruby>
			<ruby><rb>&#26126;</rb><!-- 明 --><rt>minh</rt></ruby>
			<ruby><rb>&#29579;</rb><!-- 王 --><rt>vương</rt></ruby>
			<ruby><rb>&#38464;</rb><!-- 陀 --><rt>đà</rt></ruby>
			<ruby><rb>&#32645;</rb><!-- 羅 --><rt>la</rt></ruby>
			<ruby><rb>&#23612;</rb><!-- 尼 --><rt>ni</rt></ruby>
		</span><br />
		<span lang="sa">Ārya amitayur niyama prabhā-rājā dhāraṇī</span><br />
		<span lang="en">The holy and infinite life illuminating light king dharani</span>
		<span lang="it">Dhāraṇī di Aparamitāyur del Tathāgata Re dallo Splendore Adamantino e dalla Vita Infinita</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Án, nại ma ba cát ngỏa đế, a ba ra mật đạp, a ưu rị a nạp, tô tất nể, thiệt chấp đạt, điệp tá ra tể dã, đát tháp cả đạt dã, a ra ha đế, tam dược tam bất đạt dã, đát nể dã tháp.</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71077;&#71056;&#71082;&#71069;&#71096;</rb><rt>bhagavate</rt></ruby>
			<ruby><rb>&#71040;&#71074;&#71080;&#71088;&#71078;&#71088;&#71069;</rb><rt>aparimita</rt></ruby>
			<ruby><rb>&#71040;&#71079;&#71090;&#71080;&#71103;&#71061;&#71103;&#71063;&#71087;&#71073;</rb><rt>ayurjñāna</rt></ruby>
			<ruby><rb>&#71085;&#71090;&#71082;&#71088;&#71073;&#71096;&#71083;&#71103;&#71059;&#71088;&#71069;</rb><rt>suvineścita</rt></ruby>
			<ruby><rb>&#71069;&#71096;&#71061;</rb><rt>teja</rt></ruby>
			<ruby><rb>&#71080;&#71087;&#71061;&#71087;&#71079;</rb><rt>rājāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
			<ruby><rb>&#71040;&#71080;&#71103;&#71086;&#71069;&#71096;</rb><rt>arhate</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71103;&#71079;&#71054;&#71103;&#71085;&#71101;&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71079;</rb><rt>samyaksaṃbuddhāya</rt></ruby>
			<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;</rb><rt>tadyathā</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the Honourable, Highest-Infinite-life- insight-decisive-light-king, Exalted-one, thus come, perfect disciple, completely, perfectly enlightened one. Like this:</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Án, tát rị ba, tang tư cát rị, bót rị thuật đạp, đạt ra mã đế, cả cả nại, tang mã ngột cả đế, ta ba ngỏa, tỷ thuật đế, mã hắt nại dã, bát rị ngỏa rị tá hắt.</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71085;&#71101;&#71085;&#71103;&#71054;&#71087;&#71080;</rb><rt>saṃskāra</rt></ruby>
			<ruby><rb>&#71074;&#71080;&#71088;&#71083;&#71090;&#71071;&#71103;&#71072;</rb><rt>pariśuddha</rt></ruby>
			<ruby><rb>&#71072;&#71080;&#71103;&#71078;&#71069;&#71096;,</rb><rt>dharmate,</rt></ruby>
			<ruby><rb>&#71056;&#71056;&#71073;</rb><rt>gagana</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71090;&#71071;&#71103;&#71056;&#71069;&#71096;</rb><rt>samudgate</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71077;&#71087;&#71082;</rb><rt>svabhāva</rt></ruby>
			<ruby><rb>&#71082;&#71088;&#71083;&#71090;&#71071;&#71103;&#71072;&#71096;,</rb><rt>viśuddhe,</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71073;&#71079;</rb><rt>mahānaya</rt></ruby>
			<ruby><rb>&#71074;&#71080;&#71088;&#71082;&#71087;&#71080;&#71096;</rb><rt>parivāre</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">Om! all rightous behaviour are in highest purity, reality of phenomena enters into emptiness, intrinsic nature are completely purified. Family of Great School have auspiously completed.</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#34277;</rb><!-- 藥 --><rt>Dược</rt></ruby>
			<ruby><rb>&#24107;</rb><!-- 師 --><rt>sư</rt></ruby>
			<ruby><rb>&#28748;</rb><!-- 灌 --><rt>quán</rt></ruby>
			<ruby><rb>&#38914;</rb><!-- 頂 --><rt>đỉnh</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="sa">Bhaiṣajya-guru vaiḍūrya prabhasa tathāgatā abhisecani dhāraṇī</span><br />
		<span lang="en">The medicine master lapis lazuli radiant tathagata consecration true words</span><br />
		<span lang="fr">mantra du Bouddha de la médecine</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Nam mô Bạc-già-phạt-đế, bệ sát xả lụ-rô, thích lưu-li, bát lạt bà, hắt ra xà giã, đát tha yết đa gia, a ra hát đế, tam miệu tam bột đà da, đát điệt tha</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71077;&#71056;&#71082;&#71069;&#71096;</rb><rt>bhagavate</rt></ruby>
			<ruby><rb>&#71077;&#71097;&#71084;&#71097;&#71061;&#71103;&#71079;</rb><rt>bhaiṣaijya</rt></ruby>
			<ruby><rb>&#71056;&#71090;&#71080;&#71090;</rb><rt>guru</rt></ruby>
			<ruby><rb>&#71082;&#71097;&#71066;&#71090;&#71080;&#71103;&#71079;</rb><rt>vaiḍurya</rt></ruby>
			<ruby><rb>&#71074;&#71103;&#71080;&#71077;</rb><rt>prabha</rt></ruby>
			<ruby><rb>&#71080;&#71087;&#71061;&#71087;&#71079;</rb><rt>rājāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
			<ruby><rb>&#71040;&#71080;&#71103;&#71086;&#71069;&#71096;</rb><rt>arhate</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71103;&#71079;&#71054;&#71103;&#71085;&#71101;&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71079;</rb><rt>samyaksaṃbuddhāya</rt></ruby>
			<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;</rb><rt>tadyathā</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the Honorable, medicine-teacher-lapis-light-king, the Exalted-one, perfect disciple, perfectly enlightened Buddha. Thus:</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Án bệ sát thệ, bệ sát thệ, bệ sát xã, tam một yết đế tóa ha</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71077;&#71097;&#71084;&#71097;&#71061;&#71103;&#71079;&#71096;</rb><rt>bhaiṣaijye</rt></ruby>
			<ruby><rb>&#71077;&#71097;&#71084;&#71097;&#71061;&#71103;&#71079;&#71096;</rb><rt>bhaiṣaijye</rt></ruby>
			<ruby><rb>&#71077;&#71097;&#71084;&#71097;&#71061;&#71103;&#71079;</rb><rt>bhaiṣaijya</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71090;&#71071;&#71103;&#71056;&#71069;&#71096;</rb><rt>samudgate</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">Oṃ! (on) medicine, (on) medicine, the medicine appears, so be it!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#35264;</rb><!-- 觀 --><rt>Quan</rt></ruby>
			<ruby><rb>&#38899;</rb><!-- 音 --><rt>Âm</rt></ruby>
			<ruby><rb>&#38728;</rb><!-- 靈 --><rt>linh</rt></ruby>
			<ruby><rb>&#24863;</rb><!-- 感 --><rt>cảm</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="sa">Āryavalokiteśvarā bodhisattva vikurvana dhāraṇī</span><br />
		<span lang="en">Mantra of Avalokiteshvara’s mysterious activity</span><br />
		<span lang="fr">mantra de l’observation mystérieuse du Bodhisattva Avalokitesvara</span><br />
		<span lang="de">Mantra der geheimnisvollen Wirkung Avalokitesvaras</span><br />
		<span lang="it">Mantra dell'attività misteriosa di Avalokiteśvara</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Án ma ni bát di hồng</span><br />
		<span lang="sa">
			<ruby><rb>&#71052;&#71100;</rb><rt>oṃ</rt></ruby>
			<ruby><rb>&#71078;&#71068;&#71088;</rb><rt>maṇi</rt></ruby>
			<ruby><rb>&#71074;&#71071;&#71103;&#71078;&#71096;</rb><rt>padme</rt></ruby>
			<ruby><rb>&#71086;&#71091;&#71101;</rb><rt>hūṃ</rt></ruby>
		</span><br />
		<span lang="en">Oṃ! Jewel on the lotus</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">ma hắt nghê nha nạp, tích đô đặt ba đạt</span><br />
		<span lang="sa">
			<ruby><rb>&#71078;&#71086;&#71087;&#71061;&#71103;&#71063;&#71087;&#71073;</rb><rt>mahājñāna</rt></ruby>
			<ruby><rb>&#71054;&#71096;&#71069;&#71090;</rb><rt>ketu</rt></ruby>
			<ruby><rb>&#71085;&#71082;&#71087;&#71071;</rb><rt>savāda</rt></ruby>
		</span><br />
		<span lang="en">determined to leave greatly (the passions and delusions)</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">tích đặt ta nạp, vi đạt rị cát</span><br />
		<span lang="sa">
			<ruby><rb>&#71054;&#71096;&#71069;&#71090;</rb><rt>ketu</rt></ruby>
			<ruby><rb>&#71083;&#71073;</rb><rt>śana,</rt></ruby>
			<ruby><rb>&#71082;&#71088;&#71072;&#71087;&#71080;&#71088;&#71079;</rb><rt>vidhāriya,</rt></ruby>
		</span><br />
		<span lang="en">constant thought of reflection</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">tát nhi cáng nhi tháp, bốc rị tất tháp cát nạp, bổ ra nạp</span><br />
		<span lang="sa">
			<ruby><rb>&#71085;&#71080;&#71103;&#71082;&#71087;&#71070;</rb><rt>sarvātha</rt></ruby>
			<ruby><rb>&#71074;&#71080;&#71088;&#71085;&#71087;&#71072;&#71079;</rb><rt>parisādhaya</rt></ruby>
			<ruby><rb>&#71073;&#71087;&#71074;&#71090;&#71080;&#71103;&#71068;</rb><rt>nāpurṇa</rt></ruby>
		</span><br />
		<span lang="en">All truths are greatly accomplished with full satisfaction</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">nạp bốc rị, thưu thất ban nạp</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71087;&#71074;&#71080;&#71088;</rb><rt>nāpari,</rt></ruby>
			<ruby><rb>&#71044;&#71069;&#71103;&#71069;&#71087;&#71074;&#71073;&#71087;</rb><rt>uttāpanā,</rt></ruby>
		</span><br />
		<span lang="en">manifestation of great luminosity</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">nại ma lô kiết thuyết ra gia, tóa ha</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71102;</rb><rt>namaḥ</rt></ruby>
			<ruby><rb>&#71081;&#71098;&#71054;&#71096;&#71083;&#71103;&#71082;&#71080;&#71087;&#71079;</rb><rt>lokeśvarāya</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the Lord of the world. All hail!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#19971;</rb><!-- 七 --><rt>Thất</rt></ruby>
			<ruby><rb>&#20315;</rb><!-- 佛 --><rt>phật</rt></ruby>
			<ruby><rb>&#28357;</rb><!-- 滅 --><rt>diệt</rt></ruby>
			<ruby><rb>&#32618;</rb><!-- 罪 --><rt>tội</rt></ruby>
			<ruby><rb>&#30495;</rb><!-- 真 --><rt>chân</rt></ruby>
			<ruby><rb>&#35328;</rb><!-- 言 --><rt>ngôn</rt></ruby>
		</span><br />
		<span lang="sa">Sapta atitabuddha karasaniya dhāraṇī</span><br />
		<span lang="en">mantra proclaimed by the 7 buddhas for annihilating (the karma) of evil deeds</span><br />
		<span lang="fr">mantra proclamé par les 7 Bouddhas du passé qui permet faire disparaître les mauvaises actions Karmiques du passé.</span><br />
		<span lang="de">Das von den 7 Buddhas verkündete Mantra zur Vernichtung [des Karmas] der Übeltaten</span><br />
		<span lang="it">Mantra dei 7 Buddha che annienta il karma negativo</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Ly bà ly bà đế, cầu ha cầu ha đế, đà ra ni đế, ni ha ra đế, tỳ lê nễ đế, ma ha dà đế, chơn lăng càng đế, ta bà ha.</span><br />
		<span lang="sa">
			<ruby><rb>&#71080;&#71096;&#71074;</rb><rt>repa</rt></ruby>
			<ruby><rb>&#71080;&#71096;&#71074;&#71069;&#71096;</rb><rt>repate,</rt></ruby>
			<ruby><rb>&#71054;&#71090;&#71086;</rb><rt>kuha</rt></ruby>
			<ruby><rb>&#71054;&#71090;&#71086;&#71069;&#71096;</rb><rt>kuhate,</rt></ruby>
			<ruby><rb>&#71069;&#71103;&#71080;&#71073;&#71088;&#71069;&#71096;</rb><rt>tranite</rt></ruby>
			<ruby><rb>&#71073;&#71088;&#71056;&#71081;</rb><rt>nigala</rt></ruby>
			<ruby><rb>&#71080;&#71088;&#71069;&#71096;</rb><rt>rite,</rt></ruby>
			<ruby><rb>&#71082;&#71088;&#71078;</rb><rt>vima</rt></ruby>
			<ruby><rb>&#71080;&#71088;&#71069;&#71096;</rb><rt>rite.</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71056;&#71069;&#71096;</rb><rt>mahāgate</rt></ruby>
			<ruby><rb>&#71083;&#71087;&#71073;&#71103;&#71069;&#71088;&#71101;</rb><rt>śāntiṃ</rt></ruby>
			<ruby><rb>&#71054;&#71103;&#71080;&#71103;&#71064;&#71096;</rb><rt>krṭe</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">Calling, Calling Out! Revealing, Revealing All! Making Heartfelt Prayers! Dissolving, Disappearing Blame! Vanishing vanished Blame! Eminent Virtues Appear! All Blame is truly buried and gone by this power, so be it!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#24448;</rb><!-- 往 --><rt>Vãng</rt></ruby>
			<ruby><rb>&#29983;</rb><!-- 生 --><rt>sinh</rt></ruby>
			<ruby><rb>&#28136;</rb><!-- 淨 --><rt>tịnh</rt></ruby>
			<ruby><rb>&#22303;</rb><!-- 土 --><rt>độ</rt></ruby>
			<ruby><rb>&#31070;</rb><!-- 神 --><rt>thần</rt></ruby>
			<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		</span><br />
		<span lang="sa">Sukhâvatî-vyûha dhāraṇī</span><br />
		<span lang="en">Mantra of birth in Amitabha’s Pure Land</span><br />
		<span lang="fr">mantra pour la naissance en terre de la suprême félicité</span><br />
		<span lang="de">Mantra der Geburt im Reinen Land des Amitabha</span><br />
		<span lang="it">Mantra della rinascita nella Terra Pura di Amitābha</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Nam mô a di đa bà dạ, đá tha dà đa dạ, đá địa dạ tha: A di rị đô bà tỳ, A di rị đa tất đam bà tỳ, A di rị đa tì ca lan đế, A di rị đa tì ca lan đá, dà di nị, dà dà na, chỉ đa ca lệ ta bà ha.</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71040;&#71078;&#71088;&#71069;&#71087;&#71077;&#71087;&#71079;</rb><rt>amitābhāya</rt></ruby>
			<ruby><rb>&#71069;&#71070;&#71087;&#71056;&#71069;&#71087;&#71079;</rb><rt>tathāgatāya</rt></ruby>
			<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;</rb><rt>tadyathā:</rt></ruby>
			<ruby><rb>&#71040;&#71078;&#71092;&#71069;&#71098;&#71071;&#71103;&#71077;&#71082;&#71096;</rb><rt>amṛtodbhave,</rt></ruby>
			<ruby><rb>&#71040;&#71078;&#71092;&#71069;</rb><rt>amṛta</rt></ruby>
			<ruby><rb>&#71085;&#71088;&#71071;&#71103;&#71072;&#71101;&#71077;&#71082;&#71096;</rb><rt>siddhaṃbhave,</rt></ruby>
			<ruby><rb>&#71040;&#71078;&#71092;&#71069;</rb><rt>amṛta</rt></ruby>
			<ruby><rb>&#71082;&#71088;&#71054;&#71103;&#71080;&#71087;&#71073;&#71103;&#71069;&#71096;</rb><rt>vikrānte,</rt></ruby>
			<ruby><rb>&#71040;&#71078;&#71092;&#71069;</rb><rt>amṛta</rt></ruby>
			<ruby><rb>&#71082;&#71088;&#71054;&#71103;&#71080;&#71087;&#71073;&#71103;&#71069;</rb><rt>vikrānta</rt></ruby>
			<ruby><rb>&#71056;&#71078;&#71088;&#71073;&#71096;</rb><rt>gamine,</rt></ruby>
			<ruby><rb>&#71056;&#71056;&#71073;</rb><rt>gagana</rt></ruby>
			<ruby><rb>&#71054;&#71103;&#236;&#71080;&#71103;&#71069;&#71103;&#71069;&#71088;</rb><rt>kìrtti</rt></ruby>
			<ruby><rb>&#71054;&#71080;&#71096;</rb><rt>kare</rt></ruby>
			<ruby><rb>&#71085;&#71103;&#71082;&#71087;&#71086;&#71087;</rb><rt>svāhā</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the Exalted one of Infinite Light, Thus: Oṃ! Nectar-producing one! Nectar-creation-perfecting one! Nectar-miracle one! (he) performs miracle with nectar, he makes (nectar) glory in sky, All Hail!</span>
	</p>
</section>
<section class="dong-khung">
	<header><h3>
		<span lang="zh-Hant">
			<ruby><rb>&#21892;</rb><!-- 善 --><rt>Thiện</rt></ruby>
			<ruby><rb>&#22899;</rb><!-- 女 --><rt>nữ</rt></ruby>
			<ruby><rb>&#22825;</rb><!-- 天 --><rt>thiên</rt></ruby>
			<ruby><rb>&#21650;</rb><!-- 咒 --><rt>chú</rt></ruby>
		</span><br />
		<span lang="sa">Sri devi dhāraṇī</span><br />
		<span lang="en">The virtuous goddess mantra</span>
	</h3></header>
	<p class="mantra-seg">
		<span lang="vi">Nam mô Phật đà da, Nam mô Đạt ma da, Nam mô Tăng già da. Nam mô thất lị ma ha đề tỷ gia</span><br />
		<span lang="sa">
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71076;&#71090;&#71071;&#71103;&#71072;&#71087;&#71079;</rb><rt>buddhāya</rt></ruby>
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71072;&#71080;&#71103;&#71078;&#71087;&#71079;</rb><rt>dharmāya</rt></ruby>
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71085;&#71101;&#71057;&#71087;&#71079;</rb><rt>saṃghāya</rt></ruby>
			<ruby><rb>&#71073;&#71078;&#71098;</rb><rt>namo</rt></ruby>
			<ruby><rb>&#71083;&#71103;&#71080;&#71089;</rb><rt>śrī</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71071;&#71096;&#71082;&#71087;&#71079;</rb><rt>mahādevāya</rt></ruby>
		</span><br />
		<span lang="en">Adoration to the Buddha! Adoration to the Buddhist Teaching! Adoration to the Buddhist community! Adoration to the great auspicious goddess!</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">đát nễ dã tha, Ba lị phú lâu na, giá lị, tam mạn đà, đạt xá ni, Ma ha tỳ ra ha đế, tam mạn đà, tỳ ni già đế</span><br />
		<span lang="sa">
			<ruby><rb>&#71069;&#71071;&#71103;&#71079;&#71070;&#71087;</rb><rt>tadyathā:</rt></ruby>
			<ruby><rb>&#71074;&#71080;&#71088;&#71074;&#71091;&#71080;&#71103;&#71068;</rb><rt>paripūrṇa</rt></ruby>
			<ruby><rb>&#71059;&#71081;&#71096;</rb><rt>cale,</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71073;&#71103;&#71069;</rb><rt>samanta</rt></ruby>
			<ruby><rb>&#71071;&#71080;&#71103;&#71083;&#71073;&#71088;</rb><rt>darśani,</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71082;&#71088;&#71086;&#71080;</rb><rt>mahāvihara</rt></ruby>
			<ruby><rb>&#71056;&#71069;&#71096;</rb><rt>gate,</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71073;&#71103;&#71069;</rb><rt>samanta</rt></ruby>
			<ruby><rb>&#71082;&#71088;&#71072;&#71087;&#71073;</rb><rt>vidhāna</rt></ruby>
			<ruby><rb>&#71056;&#71069;&#71096;</rb><rt>gate,</rt></ruby>
		</span><br />
		<span lang="en">Thus: Oṃ! (She) completes the deed successively, all good to be seen, abides in great position, understands all good knowledge</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">Ma ha ca lị dã ba nễ, ba ra ba nễ, Tát lị phạ lật tha, tam mạn đà, tu bát lê đế, phú lệ na, A lị na, đạt ma đế, ma ha tỳ cổ tất đế</span><br />
		<span lang="sa">
			<ruby><rb>&#71078;&#71086;&#71087;&#71054;&#71087;&#71080;&#71103;&#71079;&#71074;&#71069;&#71088;</rb><rt>mahākāryapati,</rt></ruby>
			<ruby><rb>&#71085;&#71090;&#71074;&#71080;&#71088;&#71074;&#71091;&#71080;&#71096;</rb><rt>suparipūre</rt></ruby>
			<ruby><rb>&#71085;&#71080;&#71103;&#71082;&#71070;&#71087;</rb><rt>sarvathā</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71073;&#71103;&#71069;</rb><rt>samanta</rt></ruby>
			<ruby><rb>&#71085;&#71090;&#71074;&#71103;&#71080;&#71069;&#71088;</rb><rt>suprati</rt></ruby>
			<ruby><rb>&#71074;&#71091;&#71080;&#71103;&#71068;</rb><rt>pūrṇa,</rt></ruby>
			<ruby><rb>&#71040;&#71079;&#71073;</rb><rt>ayana</rt></ruby>
			<ruby><rb>&#71072;&#71080;&#71103;&#71078;&#71069;&#71096;</rb><rt>dharmate,</rt></ruby>
			<ruby><rb>&#71078;&#71086;&#71087;&#71082;&#71088;&#71077;&#71084;&#71088;&#71069;&#71096;</rb><rt>mahāvibhaṣite,</rt></ruby>
		</span><br />
		<span lang="en">stays peaceably in great practice, in procuring all truths perfectly, and approaching great indestructible nature</span>
	</p>
	<p class="mantra-seg">
		<span lang="vi">ma ha di lặc đế, Lâu phả tăng kỳ đế, hê đế tỷ, tăng kỳ hê đế, Tam mạn đà, a tha a nậu đà la ni</span><br />
		<span lang="sa">
			<ruby><rb>&#71078;&#71086;&#71087;&#71078;&#71097;&#71069;&#71103;&#71080;&#71096;</rb><rt>mahāmaitre,</rt></ruby>
			<ruby><rb>&#71044;&#71074;&#71085;&#71101;&#71086;&#71088;&#71069;&#71096;</rb><rt>upasaṃhite</rt></ruby>
			<ruby><rb>&#71086;&#71096;</rb><rt>he</rt></ruby>
			<ruby><rb>&#71069;&#71088;&#71070;&#71090;</rb><rt>tithu,</rt></ruby>
			<ruby><rb>&#71085;&#71101;&#71056;&#71092;&#71086;&#71088;&#71069;&#71096;</rb><rt>saṃgṛhite,</rt></ruby>
			<ruby><rb>&#71085;&#71078;&#71073;&#71103;&#71069;</rb><rt>samanta</rt></ruby>
			<ruby><rb>&#71040;&#71080;&#71103;&#71070;</rb><rt>artha</rt></ruby>
			<ruby><rb>&#71040;&#71073;&#71090;&#71074;&#71081;&#71073;&#71088;</rb><rt>anupalani</rt></ruby>
		</span><br />
		<span lang="en">benefits (all) with great compassion, manages the great defilements, supports the welfare (of all), All Hail!</span>
	</p>
</section>
