<!DOCTYPE html>
<html lang="mul"><!-- Multiple languages -->
<head>
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta charset="UTF-8" />
	<meta name="keywords" content="buddhism, vietnamese, mahayana, rituals, liturgy, translation" />
	<meta name="viewport" content="width=device-width, initial-scale=1" /><!-- typical mobile-optimized site -->
	<meta name="google-site-verification" content="vCTcDhJZfixdl9M1bHZeg1214kmgM14IGKdNmk4jGkU" /><!-- set up Google Search Console -->
	<link rel="manifest" href="{{ site.baseurl | append: "/site.webmanifest" }}" /><!-- for PWA -->
	<link rel="icon" href="{{ site.baseurl | append: "/assets/favicon.ico" }}" />
	<link rel="stylesheet" href="{{ site.baseurl | append: "/assets/kinhCSS.css" }}" />
	<script src="{{ site.baseurl | append: "/assets/kinhJS.js" }}"></script>
	{% seo %}
</head>
<body>
	<div lang="en" id="loader" class="center-text"><br />loading…<br />better in<br />landscape</div><!-- preloader, created with CSS, to be removed once page loaded -->
	{% include header.html %}
	{% include navigation.html %}
	<main><article>
		{{ content }}
	</article></main>
	<hr />
	{% include footer.html %}
</body>
</html>
